/* 웹폰트를 선언 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap');
@font-face {
    font-family: 'SUITE-Regular';
    src: url(../font/SUITE-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Bold';
    src: url(../font/SUITE-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NPSfont'; font-weight: 800; font-style: normal;
    src: url('../font/NPSfontBold.woff2') format('woff2');
}
@font-face {
	font-family: 'MaruBuri';
	font-weight: 400;
	font-display: swap;
	src: local('MaruBuriRegular'), 
	url(../font/MaruBuri-Regular.woff2) format('woff2');
}