/* 웹폰트를 선언 */
@font-face {
    font-family: "SUITE";
	font-style: normal;
    font-weight: 400;
    src: url('../font/SUITE-Regular.woff2') format('woff2');
}
@font-face {
    font-family: "SUITE";
	font-style: normal;
    font-weight: 700;
    src: url('../font/SUITE-Bold.woff2') format('woff2');
}
@font-face {
    font-family: "HancomMalangMalang";
	font-style: normal;
    font-weight: 700;
    src: url('../font/HancomMalangMalang-Bold.woff2') format('woff2');
}
@font-face {
    font-family: "HancomMalangMalang";
	font-style: normal;
    font-weight: 400;
    src: url('../font/HancomMalangMalang-Regular.woff2') format('woff2');
}