@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    display: flex;
    justify-content: space-between;
    /* logo와 inner를 header 넓이 안에서 좌우 끝으로 배치 */
    height: 100px;
    padding: 0 30px;
}
header .logo {
    margin: 28px 0 0 0;
}
header .inner {
    display: flex; /* gnb shop 을 좌우로 */
    align-items: center;
    gap: 40px;
}
header .inner .gnb ul {
    display: flex;
}
header .inner .gnb ul li a {
    display: block; /* a 필수값 */
    font-size: 23px;
    font-weight: 800;
    color: #555555;
    line-height: 100px;
    /* header의 높이랑 1차메뉴의 a의 높인 같아야함... a에 행간을 header의 높이값으로 줌
       a에 높이가 생기고 글자는 위아래 가운데 정렬 */
    padding: 0 27px;
}
header .inner .shop {
    font-size: 18px;
    font-weight: 400;
    color: #317039;
    border: 1px solid #317039;
    padding: 5px 28px;
    border-radius: 20px;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 813px;
    margin: 0 30px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}
.visual h2 {
    font-size: 45px;
    font-weight: 800;
    letter-spacing: -0.03em; /*-30*/
    padding: 299px 0 23px 0;
}

.product {
    margin: 191px 0 0 0;
}
.product .tit h2 {
    color: #317039;
}
.product .tit p {
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
    letter-spacing: -0.03em;
    margin: 7px 0 0 0;
}
.product .list {
    margin: 75px 0 0 0;
}
.product .list ul {
    display: flex;
    justify-content: space-between;
}
.product .list ul li {
    width: 404px;
    
}
.product .list ul li a {
    display: block;
}
.product .list ul li a .photo {
    font-size: 0;
    line-height: 0;
    /*  이미지하단에 여백을 삭제하기 위해서 
        절대 img태그에 직접 주면 적용x
        img태그만 감싸는 요소에 줘야함*/
}
.product .list ul li a h3 {
    font-size: 17px;
    margin: 17px 0 0 0;
    /* 1줄로 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.network {
    background: url(../images/network_bg.jpg) no-repeat center center / cover;
    margin: 106px 0 0 0;
    height: 768px;
    color: rgba(255,255,255,0.8) 
}
.network h2 {
    padding: 179px 0 0 0;
    color: #DD5D36;
}
.network .sub_tit {
    font-size: 45px;
    font-weight: 800;
    letter-spacing: -0.03em;
    line-height: 1.3;
    margin: 16px 0 23px 0;
    color: #fff;
}
.network a {
    border: 1px solid #fff;
    display: inline-block;
    padding: 4px 15px;
    border-radius: 20px;
    color: #fff;
    margin: 60px 0 0 0;
}

.community {
    margin: 155px 0 0 0;
}
.community .tit h2 {
    color: #317039;
}
.community .tit p {
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
    letter-spacing: -0.03em;
    margin: 7px 0 0 0;
}
.community .list {
    margin: 53px 0 0 0;
    display: flex; /* group을 좌우로배치*/
    justify-content: space-between; /* 양쪽끝에배치 */
}
.community .list .group {
    width: calc(50% - 6px);
    /*
        몇 등분으로 분할 : 2개 = 100/2 = 50% 
        사이 여백의 총합 / 분할하는 갯수로 나눔 = 12 / 2 = 6px 
    */
}
.community .list .group ul {
    display: flex; /*li를 좌우로배치*/
    flex-wrap: wrap; /*li가 2줄로 나타나는 걸 허락*/
    gap: 12px;
}

/*
    1.li의 사이즈와 a의 사이즈가 동일해야 할 때 
    2.height를 꼭 줘야 하는 디자인일 때 (위에 product는 높이가 필요없는 디자인)
    -- li에는 넓이를 주고 a에는 높이를 줌 
*/
.community .list .group ul li.color,
.community .list .group ul li.gray {
    width: calc(50% - 6px);
}
.community .list .group ul li.color a,
.community .list .group ul li.gray a {
    height: 231px;
}
.community .list .group ul li.color.bg1 a {
    background-color: #317039;
    color: #fff;
}
.community .list .group ul li.color.bg2 a {
    background-color: #DD5D36;
    color: #fff;
}
.community .list .group ul li.gray a{
    background-color: #F4F4F4;
}
.community .list .group ul li.review {
    width: 100%;
    /* 나를 감싸는 요소 ul의 넓이의 100%가 들어감 */
}
.community .list .group ul li.review a {
    height: 369px;
    color: #fff;
}
.community .list .group ul li a {
    padding: 0 24px 18px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.community .list .group ul li a h3 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -0.03em;
    margin: 3px 0 17px 0;
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.community .list .group ul li a .date {
    display: flex;
    gap: 20px;
}
.community .list .group ul li.color a .date,
.community .list .group ul li.review a .date {
    color: rgba(255,255,255,0.8);
}
.community .list .group ul li.gray a .date {
    color: #666;
}

.community .list .group ul li.review.bg1 a {
    background: url(../images/community_bg1.jpg)no-repeat center center / cover;
}
.community .list .group ul li.review.bg2 a {
    background: url(../images/community_bg2.jpg)no-repeat center center / cover;
}

footer {
    border-top: 1px solid #A7A7A7;
    padding: 54px 0 106px 0;
    color:#555555;
    margin: 141px 0 0 0;
}
footer .f_nav ul {
    display: flex;
    gap: 40px;
}
footer .f_info {
    margin: 47px 0 20px 0;
}
footer .f_info .group {
    display: flex;
    gap: 40px;
    
}
footer .copyright {
    color: #a7a7a7
}