@import url(default.css);
@import url(font.css);
@import url(common.css);

.tit_font {
    font-family: "Eulyoo1945";
    font-weight: 700;
    line-height: 1.5;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%; /*wrap 기준으로 100%*/
    height: 80px;
    color: #fff;
    display: flex; /* logo, gnb, tnb 좌우로 배치 */
    justify-content: space-between;  /* 좌우 양쪽 끝 */
    align-items: center;
    padding: 0 30px;  /* logo,, tnb 좌우 여백 */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}
header .logo a {
    display: block;
    font-size: 0; /* 이미지 하단에 존재하는 행간 삭제 */
    line-height: 0;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 보임 */
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-size: 20px;
    line-height: 80px;
    /* header 높이와 같은 값을 행간으로 줌 */
    padding: 0 25px; 
}
header .tnb {
    display: flex; /* mapage,search  좌우 배치*/
    gap: 5px;
}
header .tnb .mypage, 
header .tnb .search {
    width: 42px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;   
}
header .tnb .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_1117' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_1117)'%3E%3Cpath d='M15 15C13.625 15 12.4479 14.5104 11.4688 13.5312C10.4896 12.5521 10 11.375 10 10C10 8.625 10.4896 7.44792 11.4688 6.46875C12.4479 5.48958 13.625 5 15 5C16.375 5 17.5521 5.48958 18.5312 6.46875C19.5104 7.44792 20 8.625 20 10C20 11.375 19.5104 12.5521 18.5312 13.5312C17.5521 14.5104 16.375 15 15 15ZM5 22.5V21.5C5 20.7917 5.18229 20.1406 5.54688 19.5469C5.91146 18.9531 6.39583 18.5 7 18.1875C8.29167 17.5417 9.60417 17.0573 10.9375 16.7344C12.2708 16.4115 13.625 16.25 15 16.25C16.375 16.25 17.7292 16.4115 19.0625 16.7344C20.3958 17.0573 21.7083 17.5417 23 18.1875C23.6042 18.5 24.0885 18.9531 24.4531 19.5469C24.8177 20.1406 25 20.7917 25 21.5V22.5C25 23.1875 24.7552 23.776 24.2656 24.2656C23.776 24.7552 23.1875 25 22.5 25H7.5C6.8125 25 6.22396 24.7552 5.73438 24.2656C5.24479 23.776 5 23.1875 5 22.5ZM7.5 22.5H22.5V21.5C22.5 21.2708 22.4427 21.0625 22.3281 20.875C22.2135 20.6875 22.0625 20.5417 21.875 20.4375C20.75 19.875 19.6146 19.4531 18.4688 19.1719C17.3229 18.8906 16.1667 18.75 15 18.75C13.8333 18.75 12.6771 18.8906 11.5312 19.1719C10.3854 19.4531 9.25 19.875 8.125 20.4375C7.9375 20.5417 7.78646 20.6875 7.67188 20.875C7.55729 21.0625 7.5 21.2708 7.5 21.5V22.5ZM15 12.5C15.6875 12.5 16.276 12.2552 16.7656 11.7656C17.2552 11.276 17.5 10.6875 17.5 10C17.5 9.3125 17.2552 8.72396 16.7656 8.23438C16.276 7.74479 15.6875 7.5 15 7.5C14.3125 7.5 13.724 7.74479 13.2344 8.23438C12.7448 8.72396 12.5 9.3125 12.5 10C12.5 10.6875 12.7448 11.276 13.2344 11.7656C13.724 12.2552 14.3125 12.5 15 12.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 30px;
}
header .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_1120' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='27' height='27'%3E%3Crect width='27' height='27' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_1120)'%3E%3Cpath d='M10.6875 18C8.64375 18 6.91406 17.2922 5.49844 15.8766C4.08281 14.4609 3.375 12.7312 3.375 10.6875C3.375 8.64375 4.08281 6.91406 5.49844 5.49844C6.91406 4.08281 8.64375 3.375 10.6875 3.375C12.7313 3.375 14.4609 4.08281 15.8766 5.49844C17.2922 6.91406 18 8.64375 18 10.6875C18 11.5125 17.8688 12.2906 17.6063 13.0219C17.3438 13.7531 16.9875 14.4 16.5375 14.9625L22.8375 21.2625C23.0438 21.4688 23.1469 21.7313 23.1469 22.05C23.1469 22.3687 23.0438 22.6313 22.8375 22.8375C22.6313 23.0438 22.3688 23.1469 22.05 23.1469C21.7313 23.1469 21.4688 23.0438 21.2625 22.8375L14.9625 16.5375C14.4 16.9875 13.7531 17.3438 13.0219 17.6062C12.2906 17.8688 11.5125 18 10.6875 18ZM10.6875 15.75C12.0938 15.75 13.2891 15.2578 14.2734 14.2734C15.2578 13.2891 15.75 12.0937 15.75 10.6875C15.75 9.28125 15.2578 8.08594 14.2734 7.10156C13.2891 6.11719 12.0938 5.625 10.6875 5.625C9.28125 5.625 8.08594 6.11719 7.10156 7.10156C6.11719 8.08594 5.625 9.28125 5.625 10.6875C5.625 12.0937 6.11719 13.2891 7.10156 14.2734C8.08594 15.2578 9.28125 15.75 10.6875 15.75Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 27px;
}
@media screen and (max-width:640px){
            header {
                height: 54px;
                padding: 0 0 0 30px;  /* logo,, tnb 좌우 여백 */
            }
            header .logo a img {
                width: 155px;
            }
            header .gnb .gnb_open{
                display: block; /* none > block 숨김 요소 보이게 */
                width: 54px; /* header 높이와 동일 */
                height: 54px;
                background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_167' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_167)'%3E%3Cpath d='M3.83333 6.70776C3.56181 6.70776 3.3342 6.61592 3.15052 6.43224C2.96684 6.24856 2.875 6.02095 2.875 5.74942C2.875 5.4779 2.96684 5.25029 3.15052 5.06661C3.3342 4.88293 3.56181 4.79109 3.83333 4.79109H19.1667C19.4382 4.79109 19.6658 4.88293 19.8495 5.06661C20.0332 5.25029 20.125 5.4779 20.125 5.74942C20.125 6.02095 20.0332 6.24856 19.8495 6.43224C19.6658 6.61592 19.4382 6.70776 19.1667 6.70776H3.83333ZM3.83333 18.2078C3.56181 18.2078 3.3342 18.1159 3.15052 17.9322C2.96684 17.7486 2.875 17.521 2.875 17.2494C2.875 16.9779 2.96684 16.7503 3.15052 16.5666C3.3342 16.3829 3.56181 16.2911 3.83333 16.2911H19.1667C19.4382 16.2911 19.6658 16.3829 19.8495 16.5666C20.0332 16.7503 20.125 16.9779 20.125 17.2494C20.125 17.521 20.0332 17.7486 19.8495 17.9322C19.6658 18.1159 19.4382 18.2078 19.1667 18.2078H3.83333ZM3.83333 12.4578C3.56181 12.4578 3.3342 12.3659 3.15052 12.1822C2.96684 11.9986 2.875 11.771 2.875 11.4994C2.875 11.2279 2.96684 11.0003 3.15052 10.8166C3.3342 10.6329 3.56181 10.5411 3.83333 10.5411H19.1667C19.4382 10.5411 19.6658 10.6329 19.8495 10.8166C20.0332 11.0003 20.125 11.2279 20.125 11.4994C20.125 11.771 20.0332 11.9986 19.8495 12.1822C19.6658 12.3659 19.4382 12.4578 19.1667 12.4578H3.83333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .gnb .gnb_wrap{
                display: none;
            }
            header .tnb {
                display: none; 
            }
}

.visual {
    height: 100vh; /* 브라우저의 높이에 맞춰서 */
    min-height: 530px; /* 최소높이 */
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    font-size: 96px;
    padding: 29vh 0 26px 0;
}
@media screen and (max-width:640px){
    .visual {
        height: auto; /* 브라우저의 높이에 맞춰서 */
        min-height: 0; /* 최소높이 */
    }
    .visual h2 {
        font-size: 45px;
        padding: 140px 0 10px 0;
    }
    .visual p {
        padding: 0 0 305px;
    }
    .visual p br {
        display: none; /* 줄바꿈 삭제 */
    }
}/*@media*/

.book {
    margin: 153px 0 0 0;
}
.book .book_wrap {
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
    display: flex;
    justify-content: space-between;
}
.book .book_wrap .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
    margin: 12px 0 13px 0;
}
.book .book_wrap .tit p {
    line-height: 1.3;
}
.book .book_wrap .list {
    width: calc(100% - 270px);
    /* book_wrap의 넓이를 100%로 하고 왼쪽 tit의 넓이를 빼기 */
    overflow-x: hidden;
    padding: 15px 0 0 15px;
}
.book .book_wrap .list ul {
    display: flex;
    gap: 18px;
    width: 1736px;
    /* li의 넓이 * li의 갯수 = 230*7 = 1610
    사이 여백의 * li의 갯수  = 18*7  = 126
    1610 +126 = 1778*/
    margin: 32px 0 0 0;
}
.book .book_wrap .list ul li {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.book .book_wrap .list ul li a {
    display: block;
}
.book .book_wrap .list ul li a .photo{
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
.book .book_wrap .list ul li a .photo img {
    width: 100%; 
/* 높이는 비율에 맞게 알아서
- 책은 이미지 전체가 나와야 하기 때문에 object fit 안줌 */  
    vertical-align: top; 
    /* 이ㅏ미지에 vertical-align을 주면 이미지 하단에 행간이 사라짐*/          
}
.book .book_wrap .list ul li a h3 {
    font-size: 20px;
    color: #1d1d1d;
    margin: 24px 0 5px 0;
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .book_wrap .list ul li a strong {
    display: block;
}
.book .book_wrap .more {
    position: absolute;
    left: 0;
    top: 217px;
    color: #842F1A;
    padding: 0 19px 0 0;
}
.book .book_wrap .more::after {
    content: "";
    position: absolute;
    right: 0;
    top: 4px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_1138' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23842F1A'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_1138)'%3E%3Cpath d='M7.49984 12.8125C7.36693 12.8125 7.25562 12.7676 7.16594 12.6777C7.07615 12.5879 7.03125 12.4766 7.03125 12.3438V7.96875H2.65625C2.52344 7.96875 2.41214 7.9238 2.32234 7.83391C2.23245 7.74401 2.1875 7.63266 2.1875 7.49984C2.1875 7.36693 2.23245 7.25562 2.32234 7.16594C2.41214 7.07615 2.52344 7.03125 2.65625 7.03125H7.03125V2.65625C7.03125 2.52344 7.0762 2.41214 7.16609 2.32234C7.25599 2.23245 7.36734 2.1875 7.50016 2.1875C7.63307 2.1875 7.74438 2.23245 7.83406 2.32234C7.92385 2.41214 7.96875 2.52344 7.96875 2.65625V7.03125H12.3438C12.4766 7.03125 12.5879 7.0762 12.6777 7.16609C12.7676 7.25599 12.8125 7.36734 12.8125 7.50016C12.8125 7.63307 12.7676 7.74438 12.6777 7.83406C12.5879 7.92385 12.4766 7.96875 12.3438 7.96875H7.96875V12.3438C7.96875 12.4766 7.9238 12.5879 7.83391 12.6777C7.74401 12.7676 7.63266 12.8125 7.49984 12.8125Z' fill='%23842F1A'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (min-width:641px){
        /******   오버효과    ******/
        .book .book_wrap .list ul li a h3 span {
            position: relative; /* after 정렬의 기준 */
        }
        .book .book_wrap .list ul li a h3 span::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 0;
            height: 1px;
            background-color: #842F1A;
            transition: 0.5s;
        }
        .book .book_wrap .list ul li a:hover h3 span::after {
            width: 100%; /* span 태그를 기준으로 100% */ 
        }
        .book .book_wrap .list ul li a:hover .photo {
            box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
        }
}/* @media */
@media screen and (max-width:640px){
                
            .book {
                margin: 78px 0 0 0;
            }
            .book .book_wrap {
                width: auto;
                left: auto;
                display: block;  /* flex 해제 */
            }
            .book .book_wrap .tit {
                margin: 0 60px 0 20px;
            }
            .book .book_wrap .tit h2 {
                font-size: 25px;
                margin: 0;
            }
            .book .book_wrap .tit h2 br {
                display: none; /* 줄바꿈 삭제 */
            }
            .book .book_wrap .tit p {
                display: none; /* 숨김 */
            }
            .book .book_wrap .list {
                width: auto;
                overflow-x: auto;
                padding: 15px 0 15px 20px; 
            }
            .book .book_wrap .list ul {
                gap: 13px;
                width: 1064px;
                /* li의 넓이 * li의 갯수 = 139*7 = 973
                사이 여백의 * li의 갯수  = 13*7  = 
                1610 +126 = 1778*/
                margin: 0;
            }
            .book .book_wrap .list ul li {
                width: 139px;
            }
            .book .book_wrap .list ul li a h3 {
                font-size: 16px;
                margin: 11px 0 0 0; 
            }
            .book .book_wrap .list ul li a strong {
                display: none;
            }
            .book .book_wrap .more {
                left: auto;
                top: 0;
                right: 20px;
                width: 26px;
                height: 26px;
                background-color: #D7CFC9;
                border-radius: 25px; 
                padding: 0;
            }
            .book .book_wrap .more::after {
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_1138' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23842F1A'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_1138)'%3E%3Cpath d='M7.49984 12.8125C7.36693 12.8125 7.25562 12.7676 7.16594 12.6777C7.07615 12.5879 7.03125 12.4766 7.03125 12.3438V7.96875H2.65625C2.52344 7.96875 2.41214 7.9238 2.32234 7.83391C2.23245 7.74401 2.1875 7.63266 2.1875 7.49984C2.1875 7.36693 2.23245 7.25562 2.32234 7.16594C2.41214 7.07615 2.52344 7.03125 2.65625 7.03125H7.03125V2.65625C7.03125 2.52344 7.0762 2.41214 7.16609 2.32234C7.25599 2.23245 7.36734 2.1875 7.50016 2.1875C7.63307 2.1875 7.74438 2.23245 7.83406 2.32234C7.92385 2.41214 7.96875 2.52344 7.96875 2.65625V7.03125H12.3438C12.4766 7.03125 12.5879 7.0762 12.6777 7.16609C12.7676 7.25599 12.8125 7.36734 12.8125 7.50016C12.8125 7.63307 12.7676 7.74438 12.6777 7.83406C12.5879 7.92385 12.4766 7.96875 12.3438 7.96875H7.96875V12.3438C7.96875 12.4766 7.9238 12.5879 7.83391 12.6777C7.74401 12.7676 7.63266 12.8125 7.49984 12.8125Z' fill='%23842F1A'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            .book .book_wrap .more span {
                display: none;
            }
}/* @media */

.interview {
    background-color: #F7F7F7;
    margin: 131px 0 0 0;
    padding: 153px 0 146px 0;
}
.interview .tit {
    text-align: center;
}
.interview .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
    margin: 0 0 6px 0;
}
.interview .list {
    margin: 79px 0 0 0;
}
.interview  .list ul {
    display: flex;
    justify-content: space-between;
}
.interview  .list ul li {
    width: calc(33.33% - 41px);
    /* 100% 한줄에 나오는 li의 갯수 = 33.33 
        한줄의 여백의 합 / 한줄에 나오는 li의 갯수 = 124/3 */
}
.interview  .list ul li:nth-child(2) {
     /* 디자인이 무조건 두번째 요소는 스타일이 다름 */
    margin: 40px 0 0 0;
}
.interview  .list ul li a {
    display: block;
    position: relative; /* txt, txt_over 정렬의 기준 */
}
.interview  .list ul li a .photo {
    position: relative; /* before 정렬의 기준 */
    overflow: hidden;
    height: 450px;
    border-radius: 60px 0 60px 0;
}
.interview  .list ul li:nth-child(2) a .photo {
    /* 디자인이 무조건 두번째 요소는 스타일이 다름 */
    border-radius: 0 60px 0 60px;
}
.interview  .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10; 
    /* 이미지 보다 순서를 위로 
       z-index가 없는 것 보다 있으면 무조건 위 
       z-index가 서로 있으면 높은 숫자가 위로 올라감 
       z-index값은 position값이 필요  */
    width: 100%;
    height: 80%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.71));
}
.interview  .list ul li a .photo img {
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.interview  .list ul li a .txt {
    position: absolute; /* a를 기준으로 정렬 */
    left: 45px;
    bottom: 45px;
    width: calc(100% - 90px);
    transition: 0.5s;

    /* 숫자가 높은게 위로 */
    z-index: 11; 
}
.interview  .list ul li a .txt::after {
    content: "";
    position: absolute;
    right: 0;
    top: 46px;
    width: 60px;
    height: 60px;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_1160' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='60' height='60'%3E%3Crect width='60' height='60' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_1160)'%3E%3Cpath d='M29.9981 50C29.6435 50 29.3469 49.8802 29.1081 49.6406C28.8694 49.401 28.75 49.1042 28.75 48.75V31.25H11.25C10.8958 31.25 10.599 31.13 10.3594 30.89C10.1198 30.65 10 30.3527 10 29.9981C10 29.6435 10.1198 29.3469 10.3594 29.1081C10.599 28.8694 10.8958 28.75 11.25 28.75H28.75V11.25C28.75 10.8958 28.87 10.599 29.11 10.3594C29.35 10.1198 29.6473 10 30.0019 10C30.3565 10 30.6531 10.1198 30.8919 10.3594C31.1306 10.599 31.25 10.8958 31.25 11.25V28.75H48.75C49.1042 28.75 49.401 28.87 49.6406 29.11C49.8802 29.35 50 29.6473 50 30.0019C50 30.3565 49.8802 30.6531 49.6406 30.8919C49.401 31.1306 49.1042 31.25 48.75 31.25H31.25V48.75C31.25 49.1042 31.13 49.401 30.89 49.6406C30.65 49.8802 30.3527 50 29.9981 50Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.interview .list ul li a .txt strong {
    font-size: 35px;
    font-weight: 400;
    color: #fff;
}
.interview  .list ul li a .txt_over {
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    bottom: -116px;
    z-index: 12;
    width: calc(100% - 32px);
    background-color: #432D20;
    color: #fff;
    padding: 33px 35px 33px 35px;
    border-radius: 60px 0 60px 0;

    opacity: 0; 
    /* 부드럽게 나타났다 사라지는건 display:none으로 구현x 
       opacity 0 -> 1로 변경 
       opacity 는 공간을 차지함 ... 주의 */
    transition: 0.3s;
}
.interview  .list ul li:nth-child(2) a .txt_over {
    border-radius: 0 60px 0 60px;
}
.interview  .list ul li a .txt_over h3 {
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 16px 0;
}
.interview  .list ul li a .txt_over p {
    /* 2줄 제한 ---- 주의사항!! 절대 padding 주면 안됨 */
    line-height: 1.5;
    height: 3em; /*행간 * 줄수 (단위는 em)*/
    overflow: hidden;
    /* 2줄 제한 할 때 ... 나오게 하는 */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: normal;
}
.interview  .list ul li a .txt_over span {
    display: inline-block;
    margin: 44px 0 0 0;
    padding: 0 23px 0 0;
    color: rgba(255, 255, 255, 0.6);
    position: relative;/* after정렬의 기준 */
}
.interview  .list ul li a .txt_over span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_869' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='white' fill-opacity='0.6'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_869)'%3E%3Cpath d='M7.49984 12.8125C7.36693 12.8125 7.25562 12.7676 7.16594 12.6777C7.07615 12.5879 7.03125 12.4766 7.03125 12.3438V7.96875H2.65625C2.52344 7.96875 2.41214 7.9238 2.32234 7.83391C2.23245 7.74401 2.1875 7.63266 2.1875 7.49984C2.1875 7.36693 2.23245 7.25562 2.32234 7.16594C2.41214 7.07615 2.52344 7.03125 2.65625 7.03125H7.03125V2.65625C7.03125 2.52344 7.0762 2.41214 7.16609 2.32234C7.25599 2.23245 7.36734 2.1875 7.50016 2.1875C7.63307 2.1875 7.74438 2.23245 7.83406 2.32234C7.92385 2.41214 7.96875 2.52344 7.96875 2.65625V7.03125H12.3438C12.4766 7.03125 12.5879 7.0762 12.6777 7.16609C12.7676 7.25599 12.8125 7.36734 12.8125 7.50016C12.8125 7.63307 12.7676 7.74438 12.6777 7.83406C12.5879 7.92385 12.4766 7.96875 12.3438 7.96875H7.96875V12.3438C7.96875 12.4766 7.9238 12.5879 7.83391 12.6777C7.74401 12.7676 7.63266 12.8125 7.49984 12.8125Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.interview .more {
    display: none; /* 모바일에서만 보임 */
}

@media screen and (min-width:641px){
    /* over 했을 때 */
    .interview  .list ul li a:hover .photo::before{
        display: none;
    }
    .interview  .list ul li a:hover .photo img {
        filter: grayscale(0);
    }
     .interview  .list ul li a:hover .txt {
        opacity: 0;
    }
    .interview  .list ul li a:hover .txt_over {
        opacity: 1;
        bottom: -96px;
    }
}/* media */
@media screen and (max-width:640px){
                .interview {
                    margin: 70px 0 0 0;
                    padding: 78px 0 173px 0;
                }
                .interview .wrapper {
                    position: relative; /* more 정렬의 기준 */
                }
                .interview .tit {
                    text-align: left;
                }
                .interview .tit h2 {
                    font-size: 25px;
                    margin: 0;
                }
                .interview .tit p {
                    display: none;
                }
                .interview .list {
                    margin: 32px 0 0 0;
                }
                .interview  .list ul {
                    display: block;
                }
                .interview  .list ul li {
                    width: auto;
                }
                .interview  .list ul li:nth-child(2),
                .interview  .list ul li:nth-child(3) {
                    display: none;
                }
                .interview  .list ul li a .photo {
                    position: relative; /* before 정렬의 기준 */
                    overflow: hidden;
                    height: 450px;
                    border-radius: 30px 0 30px 0;
                }
                .interview  .list ul li:nth-child(2) a .photo {
                    /* 디자인이 무조건 두번째 요소는 스타일이 다름 */
                    border-radius: 0 30px 0 30px;
                }
                .interview  .list ul li a .photo::before {
                   display: none;
                }
                .interview  .list ul li a .photo img {
                    filter: grayscale(0);
                }
                .interview  .list ul li a .txt {
                    display: none;
                }
                .interview  .list ul li a .txt_over {
                    bottom: -96px;
                    width: 94.37%;
                    padding: 25px 25px;
                    border-radius: 30px 0 30px 0;
                    opacity: 1; 
                }
                .interview  .list ul li a .txt_over h3 {
                    font-size: 20px;
                }
                .interview  .list ul li a .txt_over span {
                    margin: 15px 0 0 0;
                }
                .interview .more {
                    display: block; /* 나타남 */
                    position: absolute;
                    right: 0;
                    top: 5px;
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    background-color: #D7CFC9;
                    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_239' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect width='14' height='14' fill='%23842F1A'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_239)'%3E%3Cpath d='M6.99969 11.9583C6.87564 11.9583 6.77175 11.9163 6.68805 11.8324C6.60424 11.7486 6.56234 11.6448 6.56234 11.5208V7.43746H2.479C2.35505 7.43746 2.25116 7.39551 2.16736 7.31161C2.08346 7.2277 2.0415 7.12377 2.0415 6.99981C2.0415 6.87576 2.08346 6.77188 2.16736 6.68817C2.25116 6.60436 2.35505 6.56246 2.479 6.56246H6.56234V2.47913C6.56234 2.35517 6.60429 2.25129 6.68819 2.16748C6.77209 2.08358 6.87603 2.04163 6.99998 2.04163C7.12404 2.04163 7.22792 2.08358 7.31163 2.16748C7.39543 2.25129 7.43734 2.35517 7.43734 2.47913V6.56246H11.5207C11.6446 6.56246 11.7485 6.60441 11.8323 6.68831C11.9162 6.77222 11.9582 6.87615 11.9582 7.00011C11.9582 7.12416 11.9162 7.22804 11.8323 7.31175C11.7485 7.39556 11.6446 7.43746 11.5207 7.43746H7.43734V11.5208C7.43734 11.6448 7.39539 11.7486 7.31148 11.8324C7.22758 11.9163 7.12365 11.9583 6.99969 11.9583Z' fill='%23842F1A'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                .interview .more span {
                    display: none; /* 글자 숨김 */
                }
}/* media */

.story {
    margin: 155px 0 0 0;
}
.story .wrapper {
    position: relative /* more 정렬의 기준 */
}
.story .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
}
.story .list {
    margin: 51px 0 0 0;
}
.story .list ul {
    display: flex;
    justify-content: space-between;
}
.story .list ul li {
    width: calc(25% - 18px);
    /* 100/ 한줄이는 보이는 li의 갯수 = 25%
    한줄의 여백의 총합 / 한줄에 보이는 li의 갯수 = 24*3 (72) / 4 = 18 */
    border: 1px solid #EAEAEA;
    border-radius: 10px
} 
.story .list ul li a {
    display: block;
}
.story .list ul li a .photo {
    overflow: hidden;
    height: 312px; /* 짧은거 */
    border-radius: 10px 10px 0 0;
}
.story .list ul li.long a .photo {
    height: 412px; /* 긴거 */
}
.story .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.story .list ul li a .txt {
    margin: 19px 14px 22px 14px;
}
.story .list ul li a .txt strong {
    display: block;
    color: #842F1A;

    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis ;
}
.story .list ul li a .txt h3 {
    font-size: 17px;
    color: #1d1d1d;
    margin: 10px 0 18px 0;

    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis ;
}
.story .list ul li a .txt p {
    /* 7줄 제한 절대 padding주면 안됨*/
    line-height: 1.5;
    height: 10.5em;
    overflow: hidden;
    /* 2줄 이상 할때 끝에 ... 추가하려는 코드 */
    display: -webkit-box;
    -webkit-line-clamp: 7; /* 줄수 */
    -webkit-box-orient: vertical;
    /* 글자 단어 묶기 풀기 */
    word-break: normal;
}
.story .list ul li.long a .txt p {
    height: 4.5em; /* 행간 * 줄수 (단위는 em)*/
    -webkit-line-clamp: 3;
}
.story .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 30px;
    color: #842F1A;
    padding: 0 20px 0 0;
}
.story .more::after {
    content: "";
    position: absolute;
    right: 0;
    top: 3px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_1172' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23842F1A'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_1172)'%3E%3Cpath d='M7.49984 12.8125C7.36693 12.8125 7.25562 12.7676 7.16594 12.6777C7.07615 12.5879 7.03125 12.4766 7.03125 12.3438V7.96875H2.65625C2.52344 7.96875 2.41214 7.9238 2.32234 7.83391C2.23245 7.74401 2.1875 7.63266 2.1875 7.49984C2.1875 7.36693 2.23245 7.25562 2.32234 7.16594C2.41214 7.07615 2.52344 7.03125 2.65625 7.03125H7.03125V2.65625C7.03125 2.52344 7.0762 2.41214 7.16609 2.32234C7.25599 2.23245 7.36734 2.1875 7.50016 2.1875C7.63307 2.1875 7.74438 2.23245 7.83406 2.32234C7.92385 2.41214 7.96875 2.52344 7.96875 2.65625V7.03125H12.3438C12.4766 7.03125 12.5879 7.0762 12.6777 7.16609C12.7676 7.25599 12.8125 7.36734 12.8125 7.50016C12.8125 7.63307 12.7676 7.74438 12.6777 7.83406C12.5879 7.92385 12.4766 7.96875 12.3438 7.96875H7.96875V12.3438C7.96875 12.4766 7.9238 12.5879 7.83391 12.6777C7.74401 12.7676 7.63266 12.8125 7.49984 12.8125Z' fill='%23842F1A'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
@media screen and (min-width:641px){
    /* 오버스타일 */
    .story .list ul li a:hover .photo img {
        transform: scale3d(1.2, 1.2, 1);
    }
    .story .list ul li a .txt h3 span {
        position: relative; /* after 정렬의 기준 */
    }
    .story .list ul li a .txt h3 span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 1px;
        background-color: #3F3838;
        transition: 0.5s;
    }
    .story .list ul li a:hover .txt h3 span::after{
        width: 100%;
    }
}/*@media*/
@media screen and (max-width:640px){
    /*     모바일       */
                    
                .story {
                    margin: 78px 0 0 0;
                }
                .story .tit h2 {
                    font-size: 25px;
                }
                .story .list {
                    margin: 32px 0 0 0;
                }
                .story .list ul {
                    display: block;
                }
                .story .list ul li {
                    width:auto;
                    border: 0; /* 4곳에 들어가는 border삭제*/
                    border-bottom: 1px solid rgba(215, 189, 166, 0.6);
                    border-radius: 0;
                    padding: 18px 0; 
                } 
                .story .list ul li:first-child{
                    border-top: 1px solid rgba(215, 189, 166, 0.6);
                }
                .story .list ul li a {
                    display: flex;  /* photo txt 좌우배치 */
                    flex-direction: row-reverse;  /* 좌우 반전 */
                    justify-content: space-between;
                    align-items: center;
                }
                .story .list ul li a .photo {
                    /*width: 33.1%;*/
                    width: 106px;
                    height: 71px; /* 짧은거 */
                    border-radius: 0;
                }
                .story .list ul li.long a .photo {
                    height: 71px; /* 긴거 */
                }
                .story .list ul li a .txt {
                    /*width: 60.9%;*/
                    width: calc(100% - 125px);
                    margin: 0;
                }
                .story .list ul li a .txt strong {
                    font-size: 14px;
                    /* 1줄 제한 -> 여러줄 허용 */
                    white-space: normal;
                    overflow: visible; /* 넘치는 요소 안짜름 */
                }
                .story .list ul li a .txt h3 {
                    font-size: 16px;
                    margin: 0;

                    /* 1줄 제한 -> 여러줄 허용 */
                    white-space: normal;
                    overflow: visible; /* 넘치는 요소 안짜름 */
                }
                .story .list ul li a .txt p {
                    display: none;
                }
                .story .list ul li.long a .txt p {
                    height: 4.5em; /* 행간 * 줄수 (단위는 em)*/
                    -webkit-line-clamp: 3;
                } 
                .story .more {
                    top: 7px;
                    right: 0;
                    width: 26px;
                    height: 26px;
                    background-color: #D7CFC9;
                    border-radius: 25px; 
                    padding: 0;
                }
                .story .more::after {
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-size: 14px;
                }
                .story .more span {
                    display: none;
                }
}/*@media*/
footer {
    background-color: #432D20;
    color: rgba(255, 255, 255, 0.8);
    margin: 131px 0 0 0;
    padding: 110px 0 162px 0;
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

footer .slogan p {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
footer .f_info {
    width: 428px; /* f_info의 위치를 이동하려고 전체에 넓이를 줌 */
}
footer .f_info h3 {
    font-size: 25px;
    margin: 0 0 11px 0 ;
}
footer .f_info address,
footer .f_info ul.tel {
    margin-bottom: 74px;
}
footer .f_info ul.sns {
    display: flex;
    gap: 26px;
}
footer .copyright {
   position: absolute; /* wrapper를 기준으로 정렬 */
   left: 0;
   bottom: 0;
} 
footer .copyright .f_logo{
    margin: 0 0 47px 0;
}
footer .copyright .f_logo img {
    width: 181px;
}
footer .copyright p {
    color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width:640px){
            /********  모바일  ********/
            footer {
                margin: 70px 0 0 0;
                padding: 52px 0 96px 0;
            }
            footer .wrapper {
                display: block;
            }
            footer .slogan p {
                font-size: 20px;
            }
            footer .f_info {
                width: auto; 
                margin: 68px 0 0 0;
            }
            footer .f_info h3 {
                font-size: 20px;
                margin: 0 0 11px 0 ;
            }
            footer .f_info address,
            footer .f_info ul.tel {
                margin-bottom: 33px;
            }
            footer .copyright {
            position: relative; /* wrapper를 기준으로 정렬 */
            left: auto;
            bottom: auto;
            margin: 47px 0 0 0;
            } 
            footer .copyright .f_logo{
                margin: 0 0 47px 0;
            }
            footer .copyright .f_logo img {
                width: 181px;
            }
            footer .copyright p {
                color: rgba(255, 255, 255, 0.4);
            }
}/*@media*/
