@import url(default.css);
@import url(res_common.css);
@import url(font.css);

header {
    position: fixed; /* 상단 고정 */
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 151px;
    height: 50px;
    background: url(../images/logo_white.svg) no-repeat center center / contain;
    /* contain = 로고를 안짤리고 영역에 맞게 리사이즈 */
    transition: 0.5s;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none /* 모바일에서만 나옴 */;
    transition: 0.5s;
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex; /* 1차메뉴 li를 좌우로*/
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    /* 1차메뉴 */
    display: flex;
    font-size: 20px;
    font-weight: 500;
    line-height: 100px;
    color: #fff;
    padding: 0 23px;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
    display: none; /* 숨김 */
}
header .tnb .search {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_10_606' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='22' height='22'%3E%3Crect width='22' height='22' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10_606)'%3E%3Cpath d='M8.66445 14.7927C6.96618 14.7927 5.52754 14.2032 4.34856 13.0242C3.16957 11.8451 2.58008 10.4065 2.58008 8.70833C2.58008 7.01021 3.16957 5.57158 4.34856 4.39244C5.52754 3.21345 6.96618 2.62396 8.66445 2.62396C10.3626 2.62396 11.8011 3.21345 12.9801 4.39244C14.1593 5.57158 14.7488 7.01021 14.7488 8.70833C14.7488 9.38789 14.6456 10.0228 14.439 10.6132C14.2323 11.2035 13.9529 11.7242 13.6009 12.1752L18.6905 17.2702C18.8841 17.4675 18.9809 17.7115 18.9809 18.0022C18.9809 18.2931 18.8822 18.5353 18.685 18.7289C18.4913 18.9224 18.2481 19.0192 17.9556 19.0192C17.663 19.0192 17.4199 18.9224 17.2263 18.7289L12.1423 13.6448C11.6876 13.997 11.1633 14.2763 10.5693 14.4829C9.97529 14.6894 9.34034 14.7927 8.66445 14.7927ZM8.66445 12.7073C9.77729 12.7073 10.722 12.319 11.4986 11.5424C12.2751 10.766 12.6634 9.82132 12.6634 8.70833C12.6634 7.59535 12.2751 6.65065 11.4986 5.87423C10.722 5.09766 9.77729 4.70938 8.66445 4.70938C7.55147 4.70938 6.60669 5.09766 5.83012 5.87423C5.0537 6.65065 4.66549 7.59535 4.66549 8.70833C4.66549 9.82132 5.0537 10.766 5.83012 11.5424C6.60669 12.319 7.55147 12.7073 8.66445 12.7073Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
/********************     header가 고정되었을 때     ******************/
header.fixed {
    border-bottom: 0;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
    /* 

    background로 선언하고 배경이미지 반복, 위치, 크기를
    지정했는데 이때 이미지만 변경하려면 반드시 background-image 라고 속성을 쓰고 변경해야함 
    backrground 라고 하면 모든 반복, 위치, 크기등의 다른 속성이 취소됨...

     */
}
header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
    color: #1d1d1d;
}
header.fixed  .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_221' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_221)'%3E%3Cpath d='M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z' fill='%23162DC4'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (max-width:640px){
                        
                    header {
                        height: 56px;
                    }
                    header .wrapper {
                        margin-right: 0;
                        /* 오른쪽 여백 삭제 - gnb_open 배치하려고 */
                    }
                    header .logo a {
                        width: 94px;
                        height: 31px;
                    }
                    header .gnb .gnb_open{
                        display: block /* 모바일에서만 나옴 */;
                        width: 56px;
                        height: 56px;
                        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_378' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_378)'%3E%3Cpath d='M3.83333 6.70776C3.56181 6.70776 3.3342 6.61592 3.15052 6.43224C2.96684 6.24856 2.875 6.02095 2.875 5.74943C2.875 5.4779 2.96684 5.25029 3.15052 5.06661C3.3342 4.88293 3.56181 4.79109 3.83333 4.79109H19.1667C19.4382 4.79109 19.6658 4.88293 19.8495 5.06661C20.0332 5.25029 20.125 5.4779 20.125 5.74943C20.125 6.02095 20.0332 6.24856 19.8495 6.43224C19.6658 6.61592 19.4382 6.70776 19.1667 6.70776H3.83333ZM3.83333 18.2078C3.56181 18.2078 3.3342 18.1159 3.15052 17.9322C2.96684 17.7486 2.875 17.521 2.875 17.2494C2.875 16.9779 2.96684 16.7503 3.15052 16.5666C3.3342 16.3829 3.56181 16.2911 3.83333 16.2911H19.1667C19.4382 16.2911 19.6658 16.3829 19.8495 16.5666C20.0332 16.7503 20.125 16.9779 20.125 17.2494C20.125 17.521 20.0332 17.7486 19.8495 17.9322C19.6658 18.1159 19.4382 18.2078 19.1667 18.2078H3.83333ZM3.83333 12.4578C3.56181 12.4578 3.3342 12.3659 3.15052 12.1822C2.96684 11.9986 2.875 11.771 2.875 11.4994C2.875 11.2279 2.96684 11.0003 3.15052 10.8166C3.3342 10.6329 3.56181 10.5411 3.83333 10.5411H19.1667C19.4382 10.5411 19.6658 10.6329 19.8495 10.8166C20.0332 11.0003 20.125 11.2279 20.125 11.4994C20.125 11.771 20.0332 11.9986 19.8495 12.1822C19.6658 12.3659 19.4382 12.4578 19.1667 12.4578H3.83333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    header .gnb .gnb_wrap {
                        display: none; /* 숨김 */
                    }
                    header .tnb {
                        display: none;
                    }
                    /********************     header가 고정되었을 때     ******************/
                    header .gnb .gnb_open{
                        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_453' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_453)'%3E%3Cpath d='M3.83333 6.70776C3.56181 6.70776 3.3342 6.61592 3.15052 6.43224C2.96684 6.24856 2.875 6.02095 2.875 5.74943C2.875 5.4779 2.96684 5.25029 3.15052 5.06661C3.3342 4.88293 3.56181 4.79109 3.83333 4.79109H19.1667C19.4382 4.79109 19.6658 4.88293 19.8495 5.06661C20.0332 5.25029 20.125 5.4779 20.125 5.74943C20.125 6.02095 20.0332 6.24856 19.8495 6.43224C19.6658 6.61592 19.4382 6.70776 19.1667 6.70776H3.83333ZM3.83333 18.2078C3.56181 18.2078 3.3342 18.1159 3.15052 17.9322C2.96684 17.7486 2.875 17.521 2.875 17.2494C2.875 16.9779 2.96684 16.7503 3.15052 16.5666C3.3342 16.3829 3.56181 16.2911 3.83333 16.2911H19.1667C19.4382 16.2911 19.6658 16.3829 19.8495 16.5666C20.0332 16.7503 20.125 16.9779 20.125 17.2494C20.125 17.521 20.0332 17.7486 19.8495 17.9322C19.6658 18.1159 19.4382 18.2078 19.1667 18.2078H3.83333ZM3.83333 12.4578C3.56181 12.4578 3.3342 12.3659 3.15052 12.1822C2.96684 11.9986 2.875 11.771 2.875 11.4994C2.875 11.2279 2.96684 11.0003 3.15052 10.8166C3.3342 10.6329 3.56181 10.5411 3.83333 10.5411H19.1667C19.4382 10.5411 19.6658 10.6329 19.8495 10.8166C20.0332 11.0003 20.125 11.2279 20.125 11.4994C20.125 11.771 20.0332 11.9986 19.8495 12.1822C19.6658 12.3659 19.4382 12.4578 19.1667 12.4578H3.83333Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                    header.fixed .gnb .gnb_open{
                        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_453' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_453)'%3E%3Cpath d='M3.83333 6.70776C3.56181 6.70776 3.3342 6.61592 3.15052 6.43224C2.96684 6.24856 2.875 6.02095 2.875 5.74943C2.875 5.4779 2.96684 5.25029 3.15052 5.06661C3.3342 4.88293 3.56181 4.79109 3.83333 4.79109H19.1667C19.4382 4.79109 19.6658 4.88293 19.8495 5.06661C20.0332 5.25029 20.125 5.4779 20.125 5.74943C20.125 6.02095 20.0332 6.24856 19.8495 6.43224C19.6658 6.61592 19.4382 6.70776 19.1667 6.70776H3.83333ZM3.83333 18.2078C3.56181 18.2078 3.3342 18.1159 3.15052 17.9322C2.96684 17.7486 2.875 17.521 2.875 17.2494C2.875 16.9779 2.96684 16.7503 3.15052 16.5666C3.3342 16.3829 3.56181 16.2911 3.83333 16.2911H19.1667C19.4382 16.2911 19.6658 16.3829 19.8495 16.5666C20.0332 16.7503 20.125 16.9779 20.125 17.2494C20.125 17.521 20.0332 17.7486 19.8495 17.9322C19.6658 18.1159 19.4382 18.2078 19.1667 18.2078H3.83333ZM3.83333 12.4578C3.56181 12.4578 3.3342 12.3659 3.15052 12.1822C2.96684 11.9986 2.875 11.771 2.875 11.4994C2.875 11.2279 2.96684 11.0003 3.15052 10.8166C3.3342 10.6329 3.56181 10.5411 3.83333 10.5411H19.1667C19.4382 10.5411 19.6658 10.6329 19.8495 10.8166C20.0332 11.0003 20.125 11.2279 20.125 11.4994C20.125 11.771 20.0332 11.9986 19.8495 12.1822C19.6658 12.3659 19.4382 12.4578 19.1667 12.4578H3.83333Z' fill='%23060752'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
}/*@media*/

.visual {
    height: 100vh; /*브라우저 높이*/
    background-image: url(../images/visual_bg2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    border: 1px solid transparent; /* 투명한 1px border*/
}
.visual h2 {
    margin: 43vh 0 0 0;
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
}
@media screen and (max-width:640px){
    .visual h2 {
        margin: 54vh 0 0 0;
        transform: translateY(-50%);
        font-size: 25px;
        text-align: center;
    }
}/*@media*/


footer {
    margin: 3000px 0 0 0;
}