@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #555555;
    line-height: 1.5;
    word-break: keep-all; /* 단어단위로 줄바꿈 */
    letter-spacing: -0.01em;
}

/* START :: 태그 스타일의 초기화 (브라우저가 준 스타일 삭제) */
* {
    margin: 0; /* 브라우저가 기본으로 주는 여백 삭제 */
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    /* inherit가 브라우저가 주는 값 말고 내가 선언한 값만 상속받아 */
}
strong {
    font-weight: inherit;    
}
li {
    list-style: none; /*li앞에 동그라미 삭제*/
}
a {
    color: inherit;
    text-decoration: none; /* 밑줄삭제 */
}
/* END :: 태그 스타일의 초기화 */

.wrapper {
    width: 1260PX;
    margin: 0 auto;

}
.esg {
    background-image: url(../images/esg_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* 배경 꽉채우기 */
    height: 868px;
    color: #fff;
}   
.esg h1 {
    padding: 172px 0 50px 0;
}
.esg .sub_tit,
.int .sub_tit {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.04em; /* -30정도 */
    margin: 0 0 50px 0;
}
.esg .more a {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 17px 52px 17px 52px;
    display: inline-block;
}
.int {
    margin: 143px 0 110px 0;
}
.int h1 {
    font-weight: 700;
    color: #002f87;
}
.int .sub_tit {
    color: #1d1d1d;
    margin: 50px 0 50px 0;
}
.int ul {
    margin: 75px 0 0 0;
}
.int ul li {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding: 19px 0 19px 0;
}
.int ul li strong {
    font-weight: 700;
    color: #1d1d1d;

} 
