@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    display: flex; /* logo, gnb, util을 좌우로 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    transition: top 0.5s;
}
header .logo a {
    display: block;
    width: 164px;
    height: 47px;
    background: url(../images/logo_w.png) no-repeat center center / contain;
}
/**** header에 fixed 클래스가 추가 되었을때 ****/
header.fixed {
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed .logo a {
    background-image: url(../images/logo.png);
}
header.fixed .util .calen .calen_open {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_423' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_423)'%3E%3Cpath d='M6.85649 27.7709C6.20399 27.7709 5.65169 27.5448 5.19961 27.0927C4.74753 26.6406 4.52148 26.0884 4.52148 25.4358V8.14753C4.52148 7.49502 4.74753 6.94273 5.19961 6.49064C5.65169 6.03856 6.20399 5.81252 6.85649 5.81252H8.64481V4.07361C8.64481 3.79052 8.73964 3.55415 8.9293 3.36449C9.11896 3.17504 9.35533 3.08032 9.63842 3.08032C9.92173 3.08032 10.1581 3.17504 10.3475 3.36449C10.5372 3.55415 10.632 3.79052 10.632 4.07361V5.81252H20.419V4.04907C20.419 3.77416 20.5117 3.54392 20.697 3.35835C20.8826 3.173 21.1128 3.08032 21.3877 3.08032C21.6627 3.08032 21.8928 3.173 22.0781 3.35835C22.2637 3.54392 22.3565 3.77416 22.3565 4.04907V5.81252H24.1448C24.7973 5.81252 25.3496 6.03856 25.8017 6.49064C26.2538 6.94273 26.4798 7.49502 26.4798 8.14753V25.4358C26.4798 26.0884 26.2538 26.6406 25.8017 27.0927C25.3496 27.5448 24.7973 27.7709 24.1448 27.7709H6.85649ZM6.85649 25.8334H24.1448C24.2443 25.8334 24.3353 25.7919 24.418 25.709C24.5009 25.6264 24.5423 25.5353 24.5423 25.4358V13.3142H6.45898V25.4358C6.45898 25.5353 6.50043 25.6264 6.58331 25.709C6.66597 25.7919 6.75704 25.8334 6.85649 25.8334ZM6.45898 11.3767H24.5423V8.14753C24.5423 8.04807 24.5009 7.95701 24.418 7.87434C24.3353 7.79146 24.2443 7.75002 24.1448 7.75002H6.85649C6.75704 7.75002 6.66597 7.79146 6.58331 7.87434C6.50043 7.95701 6.45898 8.04807 6.45898 8.14753V11.3767ZM15.5007 18.1828C15.1844 18.1828 14.9149 18.0714 14.6921 17.8486C14.4695 17.626 14.3582 17.3565 14.3582 17.04C14.3582 16.7238 14.4695 16.4542 14.6921 16.2314C14.9149 16.0088 15.1844 15.8975 15.5007 15.8975C15.8169 15.8975 16.0864 16.0088 16.3092 16.2314C16.5318 16.4542 16.6431 16.7238 16.6431 17.04C16.6431 17.3565 16.5318 17.626 16.3092 17.8486C16.0864 18.0714 15.8169 18.1828 15.5007 18.1828ZM10.334 18.1828C10.0177 18.1828 9.74821 18.0714 9.5254 17.8486C9.3028 17.626 9.1915 17.3565 9.1915 17.04C9.1915 16.7238 9.3028 16.4542 9.5254 16.2314C9.74821 16.0088 10.0177 15.8975 10.334 15.8975C10.6502 15.8975 10.9198 16.0088 11.1426 16.2314C11.3652 16.4542 11.4765 16.7238 11.4765 17.04C11.4765 17.3565 11.3652 17.626 11.1426 17.8486C10.9198 18.0714 10.6502 18.1828 10.334 18.1828ZM20.6673 18.1828C20.3511 18.1828 20.0815 18.0714 19.8587 17.8486C19.6361 17.626 19.5248 17.3565 19.5248 17.04C19.5248 16.7238 19.6361 16.4542 19.8587 16.2314C20.0815 16.0088 20.3511 15.8975 20.6673 15.8975C20.9836 15.8975 21.2531 16.0088 21.4759 16.2314C21.6985 16.4542 21.8098 16.7238 21.8098 17.04C21.8098 17.3565 21.6985 17.626 21.4759 17.8486C21.2531 18.0714 20.9836 18.1828 20.6673 18.1828ZM15.5007 23.25C15.1844 23.25 14.9149 23.1386 14.6921 22.9158C14.4695 22.6932 14.3582 22.4238 14.3582 22.1075C14.3582 21.7911 14.4695 21.5216 14.6921 21.299C14.9149 21.0761 15.1844 20.9647 15.5007 20.9647C15.8169 20.9647 16.0864 21.0761 16.3092 21.299C16.5318 21.5216 16.6431 21.7911 16.6431 22.1075C16.6431 22.4238 16.5318 22.6932 16.3092 22.9158C16.0864 23.1386 15.8169 23.25 15.5007 23.25ZM10.334 23.25C10.0177 23.25 9.74821 23.1386 9.5254 22.9158C9.3028 22.6932 9.1915 22.4238 9.1915 22.1075C9.1915 21.7911 9.3028 21.5216 9.5254 21.299C9.74821 21.0761 10.0177 20.9647 10.334 20.9647C10.6502 20.9647 10.9198 21.0761 11.1426 21.299C11.3652 21.5216 11.4765 21.7911 11.4765 22.1075C11.4765 22.4238 11.3652 22.6932 11.1426 22.9158C10.9198 23.1386 10.6502 23.25 10.334 23.25ZM20.6673 23.25C20.3511 23.25 20.0815 23.1386 19.8587 22.9158C19.6361 22.6932 19.5248 22.4238 19.5248 22.1075C19.5248 21.7911 19.6361 21.5216 19.8587 21.299C20.0815 21.0761 20.3511 20.9647 20.6673 20.9647C20.9836 20.9647 21.2531 21.0761 21.4759 21.299C21.6985 21.5216 21.8098 21.7911 21.8098 22.1075C21.8098 22.4238 21.6985 22.6932 21.4759 22.9158C21.2531 23.1386 20.9836 23.25 20.6673 23.25Z' fill='%23677333'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_420' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_420)'%3E%3Cpath d='M12.2963 20.1696C10.0906 20.1696 8.22262 19.4046 6.69243 17.8746C5.16245 16.3444 4.39746 14.4764 4.39746 12.2707C4.39746 10.065 5.16245 8.19699 6.69243 6.6668C8.22262 5.13682 10.0906 4.37183 12.2963 4.37183C14.5021 4.37183 16.37 5.13682 17.9002 6.6668C19.4302 8.19699 20.1952 10.065 20.1952 12.2707C20.1952 13.1932 20.0404 14.0742 19.7308 14.9138C19.4211 15.7533 19.0078 16.4836 18.4912 17.1044L25.9234 24.5367C26.1023 24.7154 26.1938 24.9401 26.1979 25.2109C26.202 25.4817 26.1105 25.7107 25.9234 25.8978C25.7363 26.0849 25.5094 26.1784 25.2427 26.1784C24.9762 26.1784 24.7494 26.0849 24.5623 25.8978L17.1301 18.4655C16.4842 18.9988 15.7415 19.4161 14.9019 19.7175C14.0624 20.0189 13.1938 20.1696 12.2963 20.1696ZM12.2963 18.2324C13.9606 18.2324 15.3703 17.6548 16.5252 16.4996C17.6804 15.3446 18.258 13.935 18.258 12.2707C18.258 10.6064 17.6804 9.19674 16.5252 8.04177C15.3703 6.88659 13.9606 6.309 12.2963 6.309C10.632 6.309 9.22237 6.88659 8.06741 8.04177C6.91223 9.19674 6.33464 10.6064 6.33464 12.2707C6.33464 13.935 6.91223 15.3446 8.06741 16.4996C9.22237 17.6548 10.632 18.2324 12.2963 18.2324Z' fill='%23677333'/%3E%3C/g%3E%3C/svg%3E%0A");
}

header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none; /* 모바일에서만 보임 */
    }
header .gnb .gnb_wrap ul.depth1 {
    display: flex; /* li를 좌우로 배치 */
}
header .gnb .gnb_wrap ul.depth1 > li {
    text-align: center;
    position: relative; /* 2차메뉴 정렬의 기준 */
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    display: block;
    font-size: 22px;
    line-height: 100px; /* 헤더 높이 */
    font-weight: 800;
    padding: 0 33px;
}
header .gnb .gnb_wrap ul.depth1 > li.over > a {
    color: var(--point-color);
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
    display: none; /* 2차메뉴 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* ul 길이 절반을 왼쪽으로 이동 */
    top: 113px;
    color: #1d1d1d;
    padding: 0 33px;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
    display: block;
    white-space: nowrap; /* 줄바꿈 금지 */
    padding: 11px 0 0 0;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
    font-weight: var(--bold-weight);
    color: var(--main-color);
}

header .util {
    display: flex;
    gap: 17px;
}
header .util .calen .calen_open
header .util .search .search_open {
   display: block;
   background-position: center center;
   background-repeat: no-repeat;
}
header .util .calen .calen_open {
    width: 31px;
    height: 31px;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_769' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_769)'%3E%3Cpath d='M6.85649 27.7709C6.20399 27.7709 5.65169 27.5448 5.19961 27.0927C4.74753 26.6406 4.52148 26.0884 4.52148 25.4358V8.14753C4.52148 7.49502 4.74753 6.94273 5.19961 6.49064C5.65169 6.03856 6.20399 5.81252 6.85649 5.81252H8.64481V4.07361C8.64481 3.79052 8.73964 3.55415 8.9293 3.36449C9.11896 3.17504 9.35533 3.08032 9.63842 3.08032C9.92173 3.08032 10.1581 3.17504 10.3475 3.36449C10.5372 3.55415 10.632 3.79052 10.632 4.07361V5.81252H20.419V4.04907C20.419 3.77416 20.5117 3.54392 20.697 3.35835C20.8826 3.173 21.1128 3.08032 21.3877 3.08032C21.6627 3.08032 21.8928 3.173 22.0781 3.35835C22.2637 3.54392 22.3565 3.77416 22.3565 4.04907V5.81252H24.1448C24.7973 5.81252 25.3496 6.03856 25.8017 6.49064C26.2538 6.94273 26.4798 7.49502 26.4798 8.14753V25.4358C26.4798 26.0884 26.2538 26.6406 25.8017 27.0927C25.3496 27.5448 24.7973 27.7709 24.1448 27.7709H6.85649ZM6.85649 25.8334H24.1448C24.2443 25.8334 24.3353 25.7919 24.418 25.709C24.5009 25.6264 24.5423 25.5353 24.5423 25.4358V13.3142H6.45898V25.4358C6.45898 25.5353 6.50043 25.6264 6.58331 25.709C6.66597 25.7919 6.75704 25.8334 6.85649 25.8334ZM6.45898 11.3767H24.5423V8.14753C24.5423 8.04807 24.5009 7.95701 24.418 7.87434C24.3353 7.79146 24.2443 7.75002 24.1448 7.75002H6.85649C6.75704 7.75002 6.66597 7.79146 6.58331 7.87434C6.50043 7.95701 6.45898 8.04807 6.45898 8.14753V11.3767ZM15.5007 18.1828C15.1844 18.1828 14.9149 18.0714 14.6921 17.8486C14.4695 17.626 14.3582 17.3565 14.3582 17.04C14.3582 16.7238 14.4695 16.4542 14.6921 16.2314C14.9149 16.0088 15.1844 15.8975 15.5007 15.8975C15.8169 15.8975 16.0864 16.0088 16.3092 16.2314C16.5318 16.4542 16.6431 16.7238 16.6431 17.04C16.6431 17.3565 16.5318 17.626 16.3092 17.8486C16.0864 18.0714 15.8169 18.1828 15.5007 18.1828ZM10.334 18.1828C10.0177 18.1828 9.74821 18.0714 9.5254 17.8486C9.3028 17.626 9.1915 17.3565 9.1915 17.04C9.1915 16.7238 9.3028 16.4542 9.5254 16.2314C9.74821 16.0088 10.0177 15.8975 10.334 15.8975C10.6502 15.8975 10.9198 16.0088 11.1426 16.2314C11.3652 16.4542 11.4765 16.7238 11.4765 17.04C11.4765 17.3565 11.3652 17.626 11.1426 17.8486C10.9198 18.0714 10.6502 18.1828 10.334 18.1828ZM20.6673 18.1828C20.3511 18.1828 20.0815 18.0714 19.8587 17.8486C19.6361 17.626 19.5248 17.3565 19.5248 17.04C19.5248 16.7238 19.6361 16.4542 19.8587 16.2314C20.0815 16.0088 20.3511 15.8975 20.6673 15.8975C20.9836 15.8975 21.2531 16.0088 21.4759 16.2314C21.6985 16.4542 21.8098 16.7238 21.8098 17.04C21.8098 17.3565 21.6985 17.626 21.4759 17.8486C21.2531 18.0714 20.9836 18.1828 20.6673 18.1828ZM15.5007 23.25C15.1844 23.25 14.9149 23.1386 14.6921 22.9158C14.4695 22.6932 14.3582 22.4238 14.3582 22.1075C14.3582 21.7911 14.4695 21.5216 14.6921 21.299C14.9149 21.0761 15.1844 20.9647 15.5007 20.9647C15.8169 20.9647 16.0864 21.0761 16.3092 21.299C16.5318 21.5216 16.6431 21.7911 16.6431 22.1075C16.6431 22.4238 16.5318 22.6932 16.3092 22.9158C16.0864 23.1386 15.8169 23.25 15.5007 23.25ZM10.334 23.25C10.0177 23.25 9.74821 23.1386 9.5254 22.9158C9.3028 22.6932 9.1915 22.4238 9.1915 22.1075C9.1915 21.7911 9.3028 21.5216 9.5254 21.299C9.74821 21.0761 10.0177 20.9647 10.334 20.9647C10.6502 20.9647 10.9198 21.0761 11.1426 21.299C11.3652 21.5216 11.4765 21.7911 11.4765 22.1075C11.4765 22.4238 11.3652 22.6932 11.1426 22.9158C10.9198 23.1386 10.6502 23.25 10.334 23.25ZM20.6673 23.25C20.3511 23.25 20.0815 23.1386 19.8587 22.9158C19.6361 22.6932 19.5248 22.4238 19.5248 22.1075C19.5248 21.7911 19.6361 21.5216 19.8587 21.299C20.0815 21.0761 20.3511 20.9647 20.6673 20.9647C20.9836 20.9647 21.2531 21.0761 21.4759 21.299C21.6985 21.5216 21.8098 21.7911 21.8098 22.1075C21.8098 22.4238 21.6985 22.6932 21.4759 22.9158C21.2531 23.1386 20.9836 23.25 20.6673 23.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .util .search .search_open {
    width: 31px;
    height: 31px;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_772' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_772)'%3E%3Cpath d='M12.2963 20.1696C10.0906 20.1696 8.22262 19.4046 6.69243 17.8746C5.16245 16.3444 4.39746 14.4764 4.39746 12.2707C4.39746 10.065 5.16245 8.19699 6.69243 6.6668C8.22262 5.13682 10.0906 4.37183 12.2963 4.37183C14.5021 4.37183 16.37 5.13682 17.9002 6.6668C19.4302 8.19699 20.1952 10.065 20.1952 12.2707C20.1952 13.1932 20.0404 14.0742 19.7308 14.9138C19.4211 15.7533 19.0078 16.4836 18.4912 17.1044L25.9234 24.5367C26.1023 24.7154 26.1938 24.9401 26.1979 25.2109C26.202 25.4817 26.1105 25.7107 25.9234 25.8978C25.7363 26.0849 25.5094 26.1784 25.2427 26.1784C24.9762 26.1784 24.7494 26.0849 24.5623 25.8978L17.1301 18.4655C16.4842 18.9988 15.7415 19.4161 14.9019 19.7175C14.0624 20.0189 13.1938 20.1696 12.2963 20.1696ZM12.2963 18.2324C13.9606 18.2324 15.3703 17.6548 16.5252 16.4996C17.6804 15.3446 18.258 13.935 18.258 12.2707C18.258 10.6064 17.6804 9.19674 16.5252 8.04177C15.3703 6.88659 13.9606 6.309 12.2963 6.309C10.632 6.309 9.22237 6.88659 8.06741 8.04177C6.91223 9.19674 6.33464 10.6064 6.33464 12.2707C6.33464 13.935 6.91223 15.3446 8.06741 16.4996C9.22237 17.6548 10.632 18.2324 12.2963 18.2324Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

 /************ 메뉴에 마우스를 오버했을때 ***********/
 header.menu_over {
    color: #1d1d1d;
}
header.menu_over::before {
    content: "";
    position: absolute; /* header를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 382px;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
}
header.menu_over::after {
    content: "";
    position: absolute;/* header를 기준으로 정렬 */
    left: 0;
    top: 100px; /* header의 높이만큼 */
    width: 100%;
    height: 1px;
    background-color: #ededed;
}
header.menu_over .logo a {
    background-image: url(../images/logo.png);
}
header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a {
    color: #677333;
}
header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
    display: block; /* none->block */
}
header.menu_over .util .calen .calen_open {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_423' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_423)'%3E%3Cpath d='M6.85649 27.7709C6.20399 27.7709 5.65169 27.5448 5.19961 27.0927C4.74753 26.6406 4.52148 26.0884 4.52148 25.4358V8.14753C4.52148 7.49502 4.74753 6.94273 5.19961 6.49064C5.65169 6.03856 6.20399 5.81252 6.85649 5.81252H8.64481V4.07361C8.64481 3.79052 8.73964 3.55415 8.9293 3.36449C9.11896 3.17504 9.35533 3.08032 9.63842 3.08032C9.92173 3.08032 10.1581 3.17504 10.3475 3.36449C10.5372 3.55415 10.632 3.79052 10.632 4.07361V5.81252H20.419V4.04907C20.419 3.77416 20.5117 3.54392 20.697 3.35835C20.8826 3.173 21.1128 3.08032 21.3877 3.08032C21.6627 3.08032 21.8928 3.173 22.0781 3.35835C22.2637 3.54392 22.3565 3.77416 22.3565 4.04907V5.81252H24.1448C24.7973 5.81252 25.3496 6.03856 25.8017 6.49064C26.2538 6.94273 26.4798 7.49502 26.4798 8.14753V25.4358C26.4798 26.0884 26.2538 26.6406 25.8017 27.0927C25.3496 27.5448 24.7973 27.7709 24.1448 27.7709H6.85649ZM6.85649 25.8334H24.1448C24.2443 25.8334 24.3353 25.7919 24.418 25.709C24.5009 25.6264 24.5423 25.5353 24.5423 25.4358V13.3142H6.45898V25.4358C6.45898 25.5353 6.50043 25.6264 6.58331 25.709C6.66597 25.7919 6.75704 25.8334 6.85649 25.8334ZM6.45898 11.3767H24.5423V8.14753C24.5423 8.04807 24.5009 7.95701 24.418 7.87434C24.3353 7.79146 24.2443 7.75002 24.1448 7.75002H6.85649C6.75704 7.75002 6.66597 7.79146 6.58331 7.87434C6.50043 7.95701 6.45898 8.04807 6.45898 8.14753V11.3767ZM15.5007 18.1828C15.1844 18.1828 14.9149 18.0714 14.6921 17.8486C14.4695 17.626 14.3582 17.3565 14.3582 17.04C14.3582 16.7238 14.4695 16.4542 14.6921 16.2314C14.9149 16.0088 15.1844 15.8975 15.5007 15.8975C15.8169 15.8975 16.0864 16.0088 16.3092 16.2314C16.5318 16.4542 16.6431 16.7238 16.6431 17.04C16.6431 17.3565 16.5318 17.626 16.3092 17.8486C16.0864 18.0714 15.8169 18.1828 15.5007 18.1828ZM10.334 18.1828C10.0177 18.1828 9.74821 18.0714 9.5254 17.8486C9.3028 17.626 9.1915 17.3565 9.1915 17.04C9.1915 16.7238 9.3028 16.4542 9.5254 16.2314C9.74821 16.0088 10.0177 15.8975 10.334 15.8975C10.6502 15.8975 10.9198 16.0088 11.1426 16.2314C11.3652 16.4542 11.4765 16.7238 11.4765 17.04C11.4765 17.3565 11.3652 17.626 11.1426 17.8486C10.9198 18.0714 10.6502 18.1828 10.334 18.1828ZM20.6673 18.1828C20.3511 18.1828 20.0815 18.0714 19.8587 17.8486C19.6361 17.626 19.5248 17.3565 19.5248 17.04C19.5248 16.7238 19.6361 16.4542 19.8587 16.2314C20.0815 16.0088 20.3511 15.8975 20.6673 15.8975C20.9836 15.8975 21.2531 16.0088 21.4759 16.2314C21.6985 16.4542 21.8098 16.7238 21.8098 17.04C21.8098 17.3565 21.6985 17.626 21.4759 17.8486C21.2531 18.0714 20.9836 18.1828 20.6673 18.1828ZM15.5007 23.25C15.1844 23.25 14.9149 23.1386 14.6921 22.9158C14.4695 22.6932 14.3582 22.4238 14.3582 22.1075C14.3582 21.7911 14.4695 21.5216 14.6921 21.299C14.9149 21.0761 15.1844 20.9647 15.5007 20.9647C15.8169 20.9647 16.0864 21.0761 16.3092 21.299C16.5318 21.5216 16.6431 21.7911 16.6431 22.1075C16.6431 22.4238 16.5318 22.6932 16.3092 22.9158C16.0864 23.1386 15.8169 23.25 15.5007 23.25ZM10.334 23.25C10.0177 23.25 9.74821 23.1386 9.5254 22.9158C9.3028 22.6932 9.1915 22.4238 9.1915 22.1075C9.1915 21.7911 9.3028 21.5216 9.5254 21.299C9.74821 21.0761 10.0177 20.9647 10.334 20.9647C10.6502 20.9647 10.9198 21.0761 11.1426 21.299C11.3652 21.5216 11.4765 21.7911 11.4765 22.1075C11.4765 22.4238 11.3652 22.6932 11.1426 22.9158C10.9198 23.1386 10.6502 23.25 10.334 23.25ZM20.6673 23.25C20.3511 23.25 20.0815 23.1386 19.8587 22.9158C19.6361 22.6932 19.5248 22.4238 19.5248 22.1075C19.5248 21.7911 19.6361 21.5216 19.8587 21.299C20.0815 21.0761 20.3511 20.9647 20.6673 20.9647C20.9836 20.9647 21.2531 21.0761 21.4759 21.299C21.6985 21.5216 21.8098 21.7911 21.8098 22.1075C21.8098 22.4238 21.6985 22.6932 21.4759 22.9158C21.2531 23.1386 20.9836 23.25 20.6673 23.25Z' fill='%23677333'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.menu_over .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_420' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_420)'%3E%3Cpath d='M12.2963 20.1696C10.0906 20.1696 8.22262 19.4046 6.69243 17.8746C5.16245 16.3444 4.39746 14.4764 4.39746 12.2707C4.39746 10.065 5.16245 8.19699 6.69243 6.6668C8.22262 5.13682 10.0906 4.37183 12.2963 4.37183C14.5021 4.37183 16.37 5.13682 17.9002 6.6668C19.4302 8.19699 20.1952 10.065 20.1952 12.2707C20.1952 13.1932 20.0404 14.0742 19.7308 14.9138C19.4211 15.7533 19.0078 16.4836 18.4912 17.1044L25.9234 24.5367C26.1023 24.7154 26.1938 24.9401 26.1979 25.2109C26.202 25.4817 26.1105 25.7107 25.9234 25.8978C25.7363 26.0849 25.5094 26.1784 25.2427 26.1784C24.9762 26.1784 24.7494 26.0849 24.5623 25.8978L17.1301 18.4655C16.4842 18.9988 15.7415 19.4161 14.9019 19.7175C14.0624 20.0189 13.1938 20.1696 12.2963 20.1696ZM12.2963 18.2324C13.9606 18.2324 15.3703 17.6548 16.5252 16.4996C17.6804 15.3446 18.258 13.935 18.258 12.2707C18.258 10.6064 17.6804 9.19674 16.5252 8.04177C15.3703 6.88659 13.9606 6.309 12.2963 6.309C10.632 6.309 9.22237 6.88659 8.06741 8.04177C6.91223 9.19674 6.33464 10.6064 6.33464 12.2707C6.33464 13.935 6.91223 15.3446 8.06741 16.4996C9.22237 17.6548 10.632 18.2324 12.2963 18.2324Z' fill='%23677333'/%3E%3C/g%3E%3C/svg%3E%0A");
}
/*******************************************************************/


.visual {
    position: relative; 
}
.visual .swiper-slide .photo {
    overflow: hidden;
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이 100% */
}
.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.visual .swiper-slide .visual_txt {
    position: absolute; /* swiper-slide를 기준으로 정렬 */
    left: 0;
    bottom: 56%;
    width: 100%;
    color: #fff;
}
.visual .swiper-slide .visual_txt h3 {
    font-size: 60px;
    line-height: 1.2;
    margin: 0 0 31px 0;   
}
.visual .reserve {
    color: #fff;
}
.visual .reserve .wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    background-color: #1d1d1d;
    padding: 47px 165px;
}
.visual .reserve h3{
    font-size: 22px;
    font-weight: 700;
}
.visual .reserve .check a {
    border: 1px solid #fff;
    padding: 9px 42px;
}

footer {
    margin: 500px 0 0 0;
}