@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    display: flex; /* logo, gnb, util을 좌우로 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: top 0.5s;
}
header .logo a {
    display: block;
    width: 164px;
    height: 47px;
    background: url(../images/logo_w.png) no-repeat center center / contain;
}
header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none; /* 모바일에서만 보임 */
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex; /* li를 좌우로 배치 */
}
header .gnb .gnb_wrap ul.depth1 > li {
    text-align: center;
    position: relative; /* 2차메뉴 정렬의 기준 */
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    display: block;
    font-size: 22px;
    line-height: 100px; /* 헤더 높이 */
    font-weight: 400;
    padding: 0 33px;
}
header .gnb .gnb_wrap ul.depth1 > li.over > a {
    color: var(--point-color);
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
    display: none; /* 2차메뉴 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* ul 길이 절반을 왼쪽으로 이동 */
    top: 113px;
    color: #1d1d1d;
    padding: 0 33px;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
    display: block;
    white-space: nowrap; /* 줄바꿈 금지 */
    padding: 11px 0 0 0;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
    font-weight: var(--bold-weight);
    color: var(--main-color);
}

header .util {
    display: flex;
    gap: 17px;
}
header .util .calen .calen_open
header .util .search .search_open {
   display: block;
   background-position: center center;
   background-repeat: no-repeat;
}
header .util .calen .calen_open {
    width: 31px;
    height: 31px;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_769' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_769)'%3E%3Cpath d='M6.85649 27.7709C6.20399 27.7709 5.65169 27.5448 5.19961 27.0927C4.74753 26.6406 4.52148 26.0884 4.52148 25.4358V8.14753C4.52148 7.49502 4.74753 6.94273 5.19961 6.49064C5.65169 6.03856 6.20399 5.81252 6.85649 5.81252H8.64481V4.07361C8.64481 3.79052 8.73964 3.55415 8.9293 3.36449C9.11896 3.17504 9.35533 3.08032 9.63842 3.08032C9.92173 3.08032 10.1581 3.17504 10.3475 3.36449C10.5372 3.55415 10.632 3.79052 10.632 4.07361V5.81252H20.419V4.04907C20.419 3.77416 20.5117 3.54392 20.697 3.35835C20.8826 3.173 21.1128 3.08032 21.3877 3.08032C21.6627 3.08032 21.8928 3.173 22.0781 3.35835C22.2637 3.54392 22.3565 3.77416 22.3565 4.04907V5.81252H24.1448C24.7973 5.81252 25.3496 6.03856 25.8017 6.49064C26.2538 6.94273 26.4798 7.49502 26.4798 8.14753V25.4358C26.4798 26.0884 26.2538 26.6406 25.8017 27.0927C25.3496 27.5448 24.7973 27.7709 24.1448 27.7709H6.85649ZM6.85649 25.8334H24.1448C24.2443 25.8334 24.3353 25.7919 24.418 25.709C24.5009 25.6264 24.5423 25.5353 24.5423 25.4358V13.3142H6.45898V25.4358C6.45898 25.5353 6.50043 25.6264 6.58331 25.709C6.66597 25.7919 6.75704 25.8334 6.85649 25.8334ZM6.45898 11.3767H24.5423V8.14753C24.5423 8.04807 24.5009 7.95701 24.418 7.87434C24.3353 7.79146 24.2443 7.75002 24.1448 7.75002H6.85649C6.75704 7.75002 6.66597 7.79146 6.58331 7.87434C6.50043 7.95701 6.45898 8.04807 6.45898 8.14753V11.3767ZM15.5007 18.1828C15.1844 18.1828 14.9149 18.0714 14.6921 17.8486C14.4695 17.626 14.3582 17.3565 14.3582 17.04C14.3582 16.7238 14.4695 16.4542 14.6921 16.2314C14.9149 16.0088 15.1844 15.8975 15.5007 15.8975C15.8169 15.8975 16.0864 16.0088 16.3092 16.2314C16.5318 16.4542 16.6431 16.7238 16.6431 17.04C16.6431 17.3565 16.5318 17.626 16.3092 17.8486C16.0864 18.0714 15.8169 18.1828 15.5007 18.1828ZM10.334 18.1828C10.0177 18.1828 9.74821 18.0714 9.5254 17.8486C9.3028 17.626 9.1915 17.3565 9.1915 17.04C9.1915 16.7238 9.3028 16.4542 9.5254 16.2314C9.74821 16.0088 10.0177 15.8975 10.334 15.8975C10.6502 15.8975 10.9198 16.0088 11.1426 16.2314C11.3652 16.4542 11.4765 16.7238 11.4765 17.04C11.4765 17.3565 11.3652 17.626 11.1426 17.8486C10.9198 18.0714 10.6502 18.1828 10.334 18.1828ZM20.6673 18.1828C20.3511 18.1828 20.0815 18.0714 19.8587 17.8486C19.6361 17.626 19.5248 17.3565 19.5248 17.04C19.5248 16.7238 19.6361 16.4542 19.8587 16.2314C20.0815 16.0088 20.3511 15.8975 20.6673 15.8975C20.9836 15.8975 21.2531 16.0088 21.4759 16.2314C21.6985 16.4542 21.8098 16.7238 21.8098 17.04C21.8098 17.3565 21.6985 17.626 21.4759 17.8486C21.2531 18.0714 20.9836 18.1828 20.6673 18.1828ZM15.5007 23.25C15.1844 23.25 14.9149 23.1386 14.6921 22.9158C14.4695 22.6932 14.3582 22.4238 14.3582 22.1075C14.3582 21.7911 14.4695 21.5216 14.6921 21.299C14.9149 21.0761 15.1844 20.9647 15.5007 20.9647C15.8169 20.9647 16.0864 21.0761 16.3092 21.299C16.5318 21.5216 16.6431 21.7911 16.6431 22.1075C16.6431 22.4238 16.5318 22.6932 16.3092 22.9158C16.0864 23.1386 15.8169 23.25 15.5007 23.25ZM10.334 23.25C10.0177 23.25 9.74821 23.1386 9.5254 22.9158C9.3028 22.6932 9.1915 22.4238 9.1915 22.1075C9.1915 21.7911 9.3028 21.5216 9.5254 21.299C9.74821 21.0761 10.0177 20.9647 10.334 20.9647C10.6502 20.9647 10.9198 21.0761 11.1426 21.299C11.3652 21.5216 11.4765 21.7911 11.4765 22.1075C11.4765 22.4238 11.3652 22.6932 11.1426 22.9158C10.9198 23.1386 10.6502 23.25 10.334 23.25ZM20.6673 23.25C20.3511 23.25 20.0815 23.1386 19.8587 22.9158C19.6361 22.6932 19.5248 22.4238 19.5248 22.1075C19.5248 21.7911 19.6361 21.5216 19.8587 21.299C20.0815 21.0761 20.3511 20.9647 20.6673 20.9647C20.9836 20.9647 21.2531 21.0761 21.4759 21.299C21.6985 21.5216 21.8098 21.7911 21.8098 22.1075C21.8098 22.4238 21.6985 22.6932 21.4759 22.9158C21.2531 23.1386 20.9836 23.25 20.6673 23.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .util .search .search_open {
    width: 31px;
    height: 31px;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_772' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_772)'%3E%3Cpath d='M12.2963 20.1696C10.0906 20.1696 8.22262 19.4046 6.69243 17.8746C5.16245 16.3444 4.39746 14.4764 4.39746 12.2707C4.39746 10.065 5.16245 8.19699 6.69243 6.6668C8.22262 5.13682 10.0906 4.37183 12.2963 4.37183C14.5021 4.37183 16.37 5.13682 17.9002 6.6668C19.4302 8.19699 20.1952 10.065 20.1952 12.2707C20.1952 13.1932 20.0404 14.0742 19.7308 14.9138C19.4211 15.7533 19.0078 16.4836 18.4912 17.1044L25.9234 24.5367C26.1023 24.7154 26.1938 24.9401 26.1979 25.2109C26.202 25.4817 26.1105 25.7107 25.9234 25.8978C25.7363 26.0849 25.5094 26.1784 25.2427 26.1784C24.9762 26.1784 24.7494 26.0849 24.5623 25.8978L17.1301 18.4655C16.4842 18.9988 15.7415 19.4161 14.9019 19.7175C14.0624 20.0189 13.1938 20.1696 12.2963 20.1696ZM12.2963 18.2324C13.9606 18.2324 15.3703 17.6548 16.5252 16.4996C17.6804 15.3446 18.258 13.935 18.258 12.2707C18.258 10.6064 17.6804 9.19674 16.5252 8.04177C15.3703 6.88659 13.9606 6.309 12.2963 6.309C10.632 6.309 9.22237 6.88659 8.06741 8.04177C6.91223 9.19674 6.33464 10.6064 6.33464 12.2707C6.33464 13.935 6.91223 15.3446 8.06741 16.4996C9.22237 17.6548 10.632 18.2324 12.2963 18.2324Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/*************** 아래로 스크롤 내릴때 header가 사라짐 ?????? ***********************/
header.fixed.gnb_up {
    top: var(--header-h-m);
}
header.fixed.gnb_up.menu_over {
    top: 0;
}

/**** header에 fixed 클래스가 추가 되었을때 ****/
header.fixed {
    background-color: #fff;
    color: #1d1d1d;
    transition: all 0.5s ease;
}
header.fixed .logo a {
    background-image: url(../images/logo.png);
}
header.fixed .util .calen .calen_open {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_423' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_423)'%3E%3Cpath d='M6.85649 27.7709C6.20399 27.7709 5.65169 27.5448 5.19961 27.0927C4.74753 26.6406 4.52148 26.0884 4.52148 25.4358V8.14753C4.52148 7.49502 4.74753 6.94273 5.19961 6.49064C5.65169 6.03856 6.20399 5.81252 6.85649 5.81252H8.64481V4.07361C8.64481 3.79052 8.73964 3.55415 8.9293 3.36449C9.11896 3.17504 9.35533 3.08032 9.63842 3.08032C9.92173 3.08032 10.1581 3.17504 10.3475 3.36449C10.5372 3.55415 10.632 3.79052 10.632 4.07361V5.81252H20.419V4.04907C20.419 3.77416 20.5117 3.54392 20.697 3.35835C20.8826 3.173 21.1128 3.08032 21.3877 3.08032C21.6627 3.08032 21.8928 3.173 22.0781 3.35835C22.2637 3.54392 22.3565 3.77416 22.3565 4.04907V5.81252H24.1448C24.7973 5.81252 25.3496 6.03856 25.8017 6.49064C26.2538 6.94273 26.4798 7.49502 26.4798 8.14753V25.4358C26.4798 26.0884 26.2538 26.6406 25.8017 27.0927C25.3496 27.5448 24.7973 27.7709 24.1448 27.7709H6.85649ZM6.85649 25.8334H24.1448C24.2443 25.8334 24.3353 25.7919 24.418 25.709C24.5009 25.6264 24.5423 25.5353 24.5423 25.4358V13.3142H6.45898V25.4358C6.45898 25.5353 6.50043 25.6264 6.58331 25.709C6.66597 25.7919 6.75704 25.8334 6.85649 25.8334ZM6.45898 11.3767H24.5423V8.14753C24.5423 8.04807 24.5009 7.95701 24.418 7.87434C24.3353 7.79146 24.2443 7.75002 24.1448 7.75002H6.85649C6.75704 7.75002 6.66597 7.79146 6.58331 7.87434C6.50043 7.95701 6.45898 8.04807 6.45898 8.14753V11.3767ZM15.5007 18.1828C15.1844 18.1828 14.9149 18.0714 14.6921 17.8486C14.4695 17.626 14.3582 17.3565 14.3582 17.04C14.3582 16.7238 14.4695 16.4542 14.6921 16.2314C14.9149 16.0088 15.1844 15.8975 15.5007 15.8975C15.8169 15.8975 16.0864 16.0088 16.3092 16.2314C16.5318 16.4542 16.6431 16.7238 16.6431 17.04C16.6431 17.3565 16.5318 17.626 16.3092 17.8486C16.0864 18.0714 15.8169 18.1828 15.5007 18.1828ZM10.334 18.1828C10.0177 18.1828 9.74821 18.0714 9.5254 17.8486C9.3028 17.626 9.1915 17.3565 9.1915 17.04C9.1915 16.7238 9.3028 16.4542 9.5254 16.2314C9.74821 16.0088 10.0177 15.8975 10.334 15.8975C10.6502 15.8975 10.9198 16.0088 11.1426 16.2314C11.3652 16.4542 11.4765 16.7238 11.4765 17.04C11.4765 17.3565 11.3652 17.626 11.1426 17.8486C10.9198 18.0714 10.6502 18.1828 10.334 18.1828ZM20.6673 18.1828C20.3511 18.1828 20.0815 18.0714 19.8587 17.8486C19.6361 17.626 19.5248 17.3565 19.5248 17.04C19.5248 16.7238 19.6361 16.4542 19.8587 16.2314C20.0815 16.0088 20.3511 15.8975 20.6673 15.8975C20.9836 15.8975 21.2531 16.0088 21.4759 16.2314C21.6985 16.4542 21.8098 16.7238 21.8098 17.04C21.8098 17.3565 21.6985 17.626 21.4759 17.8486C21.2531 18.0714 20.9836 18.1828 20.6673 18.1828ZM15.5007 23.25C15.1844 23.25 14.9149 23.1386 14.6921 22.9158C14.4695 22.6932 14.3582 22.4238 14.3582 22.1075C14.3582 21.7911 14.4695 21.5216 14.6921 21.299C14.9149 21.0761 15.1844 20.9647 15.5007 20.9647C15.8169 20.9647 16.0864 21.0761 16.3092 21.299C16.5318 21.5216 16.6431 21.7911 16.6431 22.1075C16.6431 22.4238 16.5318 22.6932 16.3092 22.9158C16.0864 23.1386 15.8169 23.25 15.5007 23.25ZM10.334 23.25C10.0177 23.25 9.74821 23.1386 9.5254 22.9158C9.3028 22.6932 9.1915 22.4238 9.1915 22.1075C9.1915 21.7911 9.3028 21.5216 9.5254 21.299C9.74821 21.0761 10.0177 20.9647 10.334 20.9647C10.6502 20.9647 10.9198 21.0761 11.1426 21.299C11.3652 21.5216 11.4765 21.7911 11.4765 22.1075C11.4765 22.4238 11.3652 22.6932 11.1426 22.9158C10.9198 23.1386 10.6502 23.25 10.334 23.25ZM20.6673 23.25C20.3511 23.25 20.0815 23.1386 19.8587 22.9158C19.6361 22.6932 19.5248 22.4238 19.5248 22.1075C19.5248 21.7911 19.6361 21.5216 19.8587 21.299C20.0815 21.0761 20.3511 20.9647 20.6673 20.9647C20.9836 20.9647 21.2531 21.0761 21.4759 21.299C21.6985 21.5216 21.8098 21.7911 21.8098 22.1075C21.8098 22.4238 21.6985 22.6932 21.4759 22.9158C21.2531 23.1386 20.9836 23.25 20.6673 23.25Z' fill='%23677333'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_420' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_420)'%3E%3Cpath d='M12.2963 20.1696C10.0906 20.1696 8.22262 19.4046 6.69243 17.8746C5.16245 16.3444 4.39746 14.4764 4.39746 12.2707C4.39746 10.065 5.16245 8.19699 6.69243 6.6668C8.22262 5.13682 10.0906 4.37183 12.2963 4.37183C14.5021 4.37183 16.37 5.13682 17.9002 6.6668C19.4302 8.19699 20.1952 10.065 20.1952 12.2707C20.1952 13.1932 20.0404 14.0742 19.7308 14.9138C19.4211 15.7533 19.0078 16.4836 18.4912 17.1044L25.9234 24.5367C26.1023 24.7154 26.1938 24.9401 26.1979 25.2109C26.202 25.4817 26.1105 25.7107 25.9234 25.8978C25.7363 26.0849 25.5094 26.1784 25.2427 26.1784C24.9762 26.1784 24.7494 26.0849 24.5623 25.8978L17.1301 18.4655C16.4842 18.9988 15.7415 19.4161 14.9019 19.7175C14.0624 20.0189 13.1938 20.1696 12.2963 20.1696ZM12.2963 18.2324C13.9606 18.2324 15.3703 17.6548 16.5252 16.4996C17.6804 15.3446 18.258 13.935 18.258 12.2707C18.258 10.6064 17.6804 9.19674 16.5252 8.04177C15.3703 6.88659 13.9606 6.309 12.2963 6.309C10.632 6.309 9.22237 6.88659 8.06741 8.04177C6.91223 9.19674 6.33464 10.6064 6.33464 12.2707C6.33464 13.935 6.91223 15.3446 8.06741 16.4996C9.22237 17.6548 10.632 18.2324 12.2963 18.2324Z' fill='%23677333'/%3E%3C/g%3E%3C/svg%3E%0A");
}
 /************ 메뉴에 마우스를 오버했을때 ***********/
 header.menu_over {
    background-color: #fff;
    color: #1d1d1d;
    transition: all 0.5s ease;
}
header.menu_over::before {
    content: "";
    position: absolute; /* header를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 382px;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
}
header.menu_over::after {
    content: "";
    position: absolute;/* header를 기준으로 정렬 */
    left: 0;
    top: 100px; /* header의 높이만큼 */
    width: 100%;
    height: 1px;
    background-color: #ededed;
}
header.menu_over .logo a {
    background-image: url(../images/logo.png);
}
header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a {
    color: #677333;
}
header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
    display: block; /* none->block */
}
header.menu_over .util .calen .calen_open {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_423' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_423)'%3E%3Cpath d='M6.85649 27.7709C6.20399 27.7709 5.65169 27.5448 5.19961 27.0927C4.74753 26.6406 4.52148 26.0884 4.52148 25.4358V8.14753C4.52148 7.49502 4.74753 6.94273 5.19961 6.49064C5.65169 6.03856 6.20399 5.81252 6.85649 5.81252H8.64481V4.07361C8.64481 3.79052 8.73964 3.55415 8.9293 3.36449C9.11896 3.17504 9.35533 3.08032 9.63842 3.08032C9.92173 3.08032 10.1581 3.17504 10.3475 3.36449C10.5372 3.55415 10.632 3.79052 10.632 4.07361V5.81252H20.419V4.04907C20.419 3.77416 20.5117 3.54392 20.697 3.35835C20.8826 3.173 21.1128 3.08032 21.3877 3.08032C21.6627 3.08032 21.8928 3.173 22.0781 3.35835C22.2637 3.54392 22.3565 3.77416 22.3565 4.04907V5.81252H24.1448C24.7973 5.81252 25.3496 6.03856 25.8017 6.49064C26.2538 6.94273 26.4798 7.49502 26.4798 8.14753V25.4358C26.4798 26.0884 26.2538 26.6406 25.8017 27.0927C25.3496 27.5448 24.7973 27.7709 24.1448 27.7709H6.85649ZM6.85649 25.8334H24.1448C24.2443 25.8334 24.3353 25.7919 24.418 25.709C24.5009 25.6264 24.5423 25.5353 24.5423 25.4358V13.3142H6.45898V25.4358C6.45898 25.5353 6.50043 25.6264 6.58331 25.709C6.66597 25.7919 6.75704 25.8334 6.85649 25.8334ZM6.45898 11.3767H24.5423V8.14753C24.5423 8.04807 24.5009 7.95701 24.418 7.87434C24.3353 7.79146 24.2443 7.75002 24.1448 7.75002H6.85649C6.75704 7.75002 6.66597 7.79146 6.58331 7.87434C6.50043 7.95701 6.45898 8.04807 6.45898 8.14753V11.3767ZM15.5007 18.1828C15.1844 18.1828 14.9149 18.0714 14.6921 17.8486C14.4695 17.626 14.3582 17.3565 14.3582 17.04C14.3582 16.7238 14.4695 16.4542 14.6921 16.2314C14.9149 16.0088 15.1844 15.8975 15.5007 15.8975C15.8169 15.8975 16.0864 16.0088 16.3092 16.2314C16.5318 16.4542 16.6431 16.7238 16.6431 17.04C16.6431 17.3565 16.5318 17.626 16.3092 17.8486C16.0864 18.0714 15.8169 18.1828 15.5007 18.1828ZM10.334 18.1828C10.0177 18.1828 9.74821 18.0714 9.5254 17.8486C9.3028 17.626 9.1915 17.3565 9.1915 17.04C9.1915 16.7238 9.3028 16.4542 9.5254 16.2314C9.74821 16.0088 10.0177 15.8975 10.334 15.8975C10.6502 15.8975 10.9198 16.0088 11.1426 16.2314C11.3652 16.4542 11.4765 16.7238 11.4765 17.04C11.4765 17.3565 11.3652 17.626 11.1426 17.8486C10.9198 18.0714 10.6502 18.1828 10.334 18.1828ZM20.6673 18.1828C20.3511 18.1828 20.0815 18.0714 19.8587 17.8486C19.6361 17.626 19.5248 17.3565 19.5248 17.04C19.5248 16.7238 19.6361 16.4542 19.8587 16.2314C20.0815 16.0088 20.3511 15.8975 20.6673 15.8975C20.9836 15.8975 21.2531 16.0088 21.4759 16.2314C21.6985 16.4542 21.8098 16.7238 21.8098 17.04C21.8098 17.3565 21.6985 17.626 21.4759 17.8486C21.2531 18.0714 20.9836 18.1828 20.6673 18.1828ZM15.5007 23.25C15.1844 23.25 14.9149 23.1386 14.6921 22.9158C14.4695 22.6932 14.3582 22.4238 14.3582 22.1075C14.3582 21.7911 14.4695 21.5216 14.6921 21.299C14.9149 21.0761 15.1844 20.9647 15.5007 20.9647C15.8169 20.9647 16.0864 21.0761 16.3092 21.299C16.5318 21.5216 16.6431 21.7911 16.6431 22.1075C16.6431 22.4238 16.5318 22.6932 16.3092 22.9158C16.0864 23.1386 15.8169 23.25 15.5007 23.25ZM10.334 23.25C10.0177 23.25 9.74821 23.1386 9.5254 22.9158C9.3028 22.6932 9.1915 22.4238 9.1915 22.1075C9.1915 21.7911 9.3028 21.5216 9.5254 21.299C9.74821 21.0761 10.0177 20.9647 10.334 20.9647C10.6502 20.9647 10.9198 21.0761 11.1426 21.299C11.3652 21.5216 11.4765 21.7911 11.4765 22.1075C11.4765 22.4238 11.3652 22.6932 11.1426 22.9158C10.9198 23.1386 10.6502 23.25 10.334 23.25ZM20.6673 23.25C20.3511 23.25 20.0815 23.1386 19.8587 22.9158C19.6361 22.6932 19.5248 22.4238 19.5248 22.1075C19.5248 21.7911 19.6361 21.5216 19.8587 21.299C20.0815 21.0761 20.3511 20.9647 20.6673 20.9647C20.9836 20.9647 21.2531 21.0761 21.4759 21.299C21.6985 21.5216 21.8098 21.7911 21.8098 22.1075C21.8098 22.4238 21.6985 22.6932 21.4759 22.9158C21.2531 23.1386 20.9836 23.25 20.6673 23.25Z' fill='%23677333'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.menu_over .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_420' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_420)'%3E%3Cpath d='M12.2963 20.1696C10.0906 20.1696 8.22262 19.4046 6.69243 17.8746C5.16245 16.3444 4.39746 14.4764 4.39746 12.2707C4.39746 10.065 5.16245 8.19699 6.69243 6.6668C8.22262 5.13682 10.0906 4.37183 12.2963 4.37183C14.5021 4.37183 16.37 5.13682 17.9002 6.6668C19.4302 8.19699 20.1952 10.065 20.1952 12.2707C20.1952 13.1932 20.0404 14.0742 19.7308 14.9138C19.4211 15.7533 19.0078 16.4836 18.4912 17.1044L25.9234 24.5367C26.1023 24.7154 26.1938 24.9401 26.1979 25.2109C26.202 25.4817 26.1105 25.7107 25.9234 25.8978C25.7363 26.0849 25.5094 26.1784 25.2427 26.1784C24.9762 26.1784 24.7494 26.0849 24.5623 25.8978L17.1301 18.4655C16.4842 18.9988 15.7415 19.4161 14.9019 19.7175C14.0624 20.0189 13.1938 20.1696 12.2963 20.1696ZM12.2963 18.2324C13.9606 18.2324 15.3703 17.6548 16.5252 16.4996C17.6804 15.3446 18.258 13.935 18.258 12.2707C18.258 10.6064 17.6804 9.19674 16.5252 8.04177C15.3703 6.88659 13.9606 6.309 12.2963 6.309C10.632 6.309 9.22237 6.88659 8.06741 8.04177C6.91223 9.19674 6.33464 10.6064 6.33464 12.2707C6.33464 13.935 6.91223 15.3446 8.06741 16.4996C9.22237 17.6548 10.632 18.2324 12.2963 18.2324Z' fill='%23677333'/%3E%3C/g%3E%3C/svg%3E%0A");
}
/*******************************************************************/
@media screen and (max-width:1400px) {
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 20px;
        padding: 0 20px;
    }
}
@media screen and (max-width:1024px) {
        header {
            padding: 0 0 0 20px;
            height: 56px;
        }
        header .logo a {
            width: 87px;
            height: 25px;
        }
        header .gnb .gnb_open {
            display: block;
            width: var(--header-h);
            height: var(--header-h);
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_214' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_214)'%3E%3Cpath d='M3.83333 6.70768C3.56181 6.70768 3.3342 6.61584 3.15052 6.43216C2.96684 6.24848 2.875 6.02088 2.875 5.74935C2.875 5.47782 2.96684 5.25022 3.15052 5.06654C3.3342 4.88286 3.56181 4.79102 3.83333 4.79102H19.1667C19.4382 4.79102 19.6658 4.88286 19.8495 5.06654C20.0332 5.25022 20.125 5.47782 20.125 5.74935C20.125 6.02088 20.0332 6.24848 19.8495 6.43216C19.6658 6.61584 19.4382 6.70768 19.1667 6.70768H3.83333ZM3.83333 18.2077C3.56181 18.2077 3.3342 18.1158 3.15052 17.9322C2.96684 17.7485 2.875 17.5209 2.875 17.2493C2.875 16.9778 2.96684 16.7502 3.15052 16.5665C3.3342 16.3829 3.56181 16.291 3.83333 16.291H19.1667C19.4382 16.291 19.6658 16.3829 19.8495 16.5665C20.0332 16.7502 20.125 16.9778 20.125 17.2493C20.125 17.5209 20.0332 17.7485 19.8495 17.9322C19.6658 18.1158 19.4382 18.2077 19.1667 18.2077H3.83333ZM3.83333 12.4577C3.56181 12.4577 3.3342 12.3658 3.15052 12.1822C2.96684 11.9985 2.875 11.7709 2.875 11.4993C2.875 11.2278 2.96684 11.0002 3.15052 10.8165C3.3342 10.6329 3.56181 10.541 3.83333 10.541H19.1667C19.4382 10.541 19.6658 10.6329 19.8495 10.8165C20.0332 11.0002 20.125 11.2278 20.125 11.4993C20.125 11.7709 20.0332 11.9985 19.8495 12.1822C19.6658 12.3658 19.4382 12.4577 19.1667 12.4577H3.83333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        header.fixed .gnb .gnb_open {
            background-image: url("data:image/svg+xml,%3Csvg width='19' height='14' viewBox='0 0 19 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.83333 1.91667C1.56181 1.91667 1.3342 1.82483 1.15052 1.64115C0.96684 1.45747 0.875 1.22986 0.875 0.958333C0.875 0.686806 0.96684 0.459201 1.15052 0.275521C1.3342 0.0918403 1.56181 0 1.83333 0H17.1667C17.4382 0 17.6658 0.0918403 17.8495 0.275521C18.0332 0.459201 18.125 0.686806 18.125 0.958333C18.125 1.22986 18.0332 1.45747 17.8495 1.64115C17.6658 1.82483 17.4382 1.91667 17.1667 1.91667H1.83333ZM1.83333 13.4167C1.56181 13.4167 1.3342 13.3248 1.15052 13.1411C0.96684 12.9575 0.875 12.7299 0.875 12.4583C0.875 12.1868 0.96684 11.9592 1.15052 11.7755C1.3342 11.5918 1.56181 11.5 1.83333 11.5H17.1667C17.4382 11.5 17.6658 11.5918 17.8495 11.7755C18.0332 11.9592 18.125 12.1868 18.125 12.4583C18.125 12.7299 18.0332 12.9575 17.8495 13.1411C17.6658 13.3248 17.4382 13.4167 17.1667 13.4167H1.83333ZM1.83333 7.66667C1.56181 7.66667 1.3342 7.57483 1.15052 7.39115C0.96684 7.20747 0.875 6.97986 0.875 6.70833C0.875 6.43681 0.96684 6.2092 1.15052 6.02552C1.3342 5.84184 1.56181 5.75 1.83333 5.75H17.1667C17.4382 5.75 17.6658 5.84184 17.8495 6.02552C18.0332 6.2092 18.125 6.43681 18.125 6.70833C18.125 6.97986 18.0332 7.20747 17.8495 7.39115C17.6658 7.57483 17.4382 7.66667 17.1667 7.66667H1.83333Z' fill='%23677333'/%3E%3C/svg%3E%0A");
        }
        header .gnb .gnb_close {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            width: var(--header-h);
            height: var(--header-h);
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_268' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_268)'%3E%3Cpath d='M11.9998 13.4L7.0998 18.3C6.91647 18.4834 6.68314 18.575 6.3998 18.575C6.11647 18.575 5.88314 18.4834 5.6998 18.3C5.51647 18.1167 5.4248 17.8834 5.4248 17.6C5.4248 17.3167 5.51647 17.0834 5.6998 16.9L10.5998 12L5.6998 7.10005C5.51647 6.91672 5.4248 6.68338 5.4248 6.40005C5.4248 6.11672 5.51647 5.88338 5.6998 5.70005C5.88314 5.51672 6.11647 5.42505 6.3998 5.42505C6.68314 5.42505 6.91647 5.51672 7.0998 5.70005L11.9998 10.6L16.8998 5.70005C17.0831 5.51672 17.3165 5.42505 17.5998 5.42505C17.8831 5.42505 18.1165 5.51672 18.2998 5.70005C18.4831 5.88338 18.5748 6.11672 18.5748 6.40005C18.5748 6.68338 18.4831 6.91672 18.2998 7.10005L13.3998 12L18.2998 16.9C18.4831 17.0834 18.5748 17.3167 18.5748 17.6C18.5748 17.8834 18.4831 18.1167 18.2998 18.3C18.1165 18.4834 17.8831 18.575 17.5998 18.575C17.3165 18.575 17.0831 18.4834 16.8998 18.3L11.9998 13.4Z' fill='%232A3C22'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        header .gnb .gnb_wrap ul.depth1 {
            display: none; /* li를 좌우로 배치 */
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            font-size: 20px;
            line-height: 100px; /* 헤더 높이 */
            font-weight: 400;
            padding: 0 33px;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            display: block; /* 2차메뉴 */
            position: absolute;
            left: 50%;
            transform: translateX(-50%); /* ul 길이 절반을 왼쪽으로 이동 */
            top: 113px;
            color: #1d1d1d;
            padding: 0 33px;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            padding: 11px 0 0 0;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
            font-weight: var(--bold-weight);
            color: var(--main-color);
        }
        header .util {
            display: none;
        }
        header .util .calen .calen_open
        header .util .search .search_open {
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        }
        header .util .calen .calen_open {
            width: 31px;
            height: 31px;
            background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_769' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_769)'%3E%3Cpath d='M6.85649 27.7709C6.20399 27.7709 5.65169 27.5448 5.19961 27.0927C4.74753 26.6406 4.52148 26.0884 4.52148 25.4358V8.14753C4.52148 7.49502 4.74753 6.94273 5.19961 6.49064C5.65169 6.03856 6.20399 5.81252 6.85649 5.81252H8.64481V4.07361C8.64481 3.79052 8.73964 3.55415 8.9293 3.36449C9.11896 3.17504 9.35533 3.08032 9.63842 3.08032C9.92173 3.08032 10.1581 3.17504 10.3475 3.36449C10.5372 3.55415 10.632 3.79052 10.632 4.07361V5.81252H20.419V4.04907C20.419 3.77416 20.5117 3.54392 20.697 3.35835C20.8826 3.173 21.1128 3.08032 21.3877 3.08032C21.6627 3.08032 21.8928 3.173 22.0781 3.35835C22.2637 3.54392 22.3565 3.77416 22.3565 4.04907V5.81252H24.1448C24.7973 5.81252 25.3496 6.03856 25.8017 6.49064C26.2538 6.94273 26.4798 7.49502 26.4798 8.14753V25.4358C26.4798 26.0884 26.2538 26.6406 25.8017 27.0927C25.3496 27.5448 24.7973 27.7709 24.1448 27.7709H6.85649ZM6.85649 25.8334H24.1448C24.2443 25.8334 24.3353 25.7919 24.418 25.709C24.5009 25.6264 24.5423 25.5353 24.5423 25.4358V13.3142H6.45898V25.4358C6.45898 25.5353 6.50043 25.6264 6.58331 25.709C6.66597 25.7919 6.75704 25.8334 6.85649 25.8334ZM6.45898 11.3767H24.5423V8.14753C24.5423 8.04807 24.5009 7.95701 24.418 7.87434C24.3353 7.79146 24.2443 7.75002 24.1448 7.75002H6.85649C6.75704 7.75002 6.66597 7.79146 6.58331 7.87434C6.50043 7.95701 6.45898 8.04807 6.45898 8.14753V11.3767ZM15.5007 18.1828C15.1844 18.1828 14.9149 18.0714 14.6921 17.8486C14.4695 17.626 14.3582 17.3565 14.3582 17.04C14.3582 16.7238 14.4695 16.4542 14.6921 16.2314C14.9149 16.0088 15.1844 15.8975 15.5007 15.8975C15.8169 15.8975 16.0864 16.0088 16.3092 16.2314C16.5318 16.4542 16.6431 16.7238 16.6431 17.04C16.6431 17.3565 16.5318 17.626 16.3092 17.8486C16.0864 18.0714 15.8169 18.1828 15.5007 18.1828ZM10.334 18.1828C10.0177 18.1828 9.74821 18.0714 9.5254 17.8486C9.3028 17.626 9.1915 17.3565 9.1915 17.04C9.1915 16.7238 9.3028 16.4542 9.5254 16.2314C9.74821 16.0088 10.0177 15.8975 10.334 15.8975C10.6502 15.8975 10.9198 16.0088 11.1426 16.2314C11.3652 16.4542 11.4765 16.7238 11.4765 17.04C11.4765 17.3565 11.3652 17.626 11.1426 17.8486C10.9198 18.0714 10.6502 18.1828 10.334 18.1828ZM20.6673 18.1828C20.3511 18.1828 20.0815 18.0714 19.8587 17.8486C19.6361 17.626 19.5248 17.3565 19.5248 17.04C19.5248 16.7238 19.6361 16.4542 19.8587 16.2314C20.0815 16.0088 20.3511 15.8975 20.6673 15.8975C20.9836 15.8975 21.2531 16.0088 21.4759 16.2314C21.6985 16.4542 21.8098 16.7238 21.8098 17.04C21.8098 17.3565 21.6985 17.626 21.4759 17.8486C21.2531 18.0714 20.9836 18.1828 20.6673 18.1828ZM15.5007 23.25C15.1844 23.25 14.9149 23.1386 14.6921 22.9158C14.4695 22.6932 14.3582 22.4238 14.3582 22.1075C14.3582 21.7911 14.4695 21.5216 14.6921 21.299C14.9149 21.0761 15.1844 20.9647 15.5007 20.9647C15.8169 20.9647 16.0864 21.0761 16.3092 21.299C16.5318 21.5216 16.6431 21.7911 16.6431 22.1075C16.6431 22.4238 16.5318 22.6932 16.3092 22.9158C16.0864 23.1386 15.8169 23.25 15.5007 23.25ZM10.334 23.25C10.0177 23.25 9.74821 23.1386 9.5254 22.9158C9.3028 22.6932 9.1915 22.4238 9.1915 22.1075C9.1915 21.7911 9.3028 21.5216 9.5254 21.299C9.74821 21.0761 10.0177 20.9647 10.334 20.9647C10.6502 20.9647 10.9198 21.0761 11.1426 21.299C11.3652 21.5216 11.4765 21.7911 11.4765 22.1075C11.4765 22.4238 11.3652 22.6932 11.1426 22.9158C10.9198 23.1386 10.6502 23.25 10.334 23.25ZM20.6673 23.25C20.3511 23.25 20.0815 23.1386 19.8587 22.9158C19.6361 22.6932 19.5248 22.4238 19.5248 22.1075C19.5248 21.7911 19.6361 21.5216 19.8587 21.299C20.0815 21.0761 20.3511 20.9647 20.6673 20.9647C20.9836 20.9647 21.2531 21.0761 21.4759 21.299C21.6985 21.5216 21.8098 21.7911 21.8098 22.1075C21.8098 22.4238 21.6985 22.6932 21.4759 22.9158C21.2531 23.1386 20.9836 23.25 20.6673 23.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        header .util .search .search_open {
            width: 31px;
            height: 31px;
            background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_772' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_772)'%3E%3Cpath d='M12.2963 20.1696C10.0906 20.1696 8.22262 19.4046 6.69243 17.8746C5.16245 16.3444 4.39746 14.4764 4.39746 12.2707C4.39746 10.065 5.16245 8.19699 6.69243 6.6668C8.22262 5.13682 10.0906 4.37183 12.2963 4.37183C14.5021 4.37183 16.37 5.13682 17.9002 6.6668C19.4302 8.19699 20.1952 10.065 20.1952 12.2707C20.1952 13.1932 20.0404 14.0742 19.7308 14.9138C19.4211 15.7533 19.0078 16.4836 18.4912 17.1044L25.9234 24.5367C26.1023 24.7154 26.1938 24.9401 26.1979 25.2109C26.202 25.4817 26.1105 25.7107 25.9234 25.8978C25.7363 26.0849 25.5094 26.1784 25.2427 26.1784C24.9762 26.1784 24.7494 26.0849 24.5623 25.8978L17.1301 18.4655C16.4842 18.9988 15.7415 19.4161 14.9019 19.7175C14.0624 20.0189 13.1938 20.1696 12.2963 20.1696ZM12.2963 18.2324C13.9606 18.2324 15.3703 17.6548 16.5252 16.4996C17.6804 15.3446 18.258 13.935 18.258 12.2707C18.258 10.6064 17.6804 9.19674 16.5252 8.04177C15.3703 6.88659 13.9606 6.309 12.2963 6.309C10.632 6.309 9.22237 6.88659 8.06741 8.04177C6.91223 9.19674 6.33464 10.6064 6.33464 12.2707C6.33464 13.935 6.91223 15.3446 8.06741 16.4996C9.22237 17.6548 10.632 18.2324 12.2963 18.2324Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        /************ 메뉴에 마우스를 오버했을때 ***********/
        header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a {
            color: #677333;
        }
        header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            display: block; /* none->block */
        }
        header.menu_over .util .calen .calen_open {
            background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_423' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_423)'%3E%3Cpath d='M6.85649 27.7709C6.20399 27.7709 5.65169 27.5448 5.19961 27.0927C4.74753 26.6406 4.52148 26.0884 4.52148 25.4358V8.14753C4.52148 7.49502 4.74753 6.94273 5.19961 6.49064C5.65169 6.03856 6.20399 5.81252 6.85649 5.81252H8.64481V4.07361C8.64481 3.79052 8.73964 3.55415 8.9293 3.36449C9.11896 3.17504 9.35533 3.08032 9.63842 3.08032C9.92173 3.08032 10.1581 3.17504 10.3475 3.36449C10.5372 3.55415 10.632 3.79052 10.632 4.07361V5.81252H20.419V4.04907C20.419 3.77416 20.5117 3.54392 20.697 3.35835C20.8826 3.173 21.1128 3.08032 21.3877 3.08032C21.6627 3.08032 21.8928 3.173 22.0781 3.35835C22.2637 3.54392 22.3565 3.77416 22.3565 4.04907V5.81252H24.1448C24.7973 5.81252 25.3496 6.03856 25.8017 6.49064C26.2538 6.94273 26.4798 7.49502 26.4798 8.14753V25.4358C26.4798 26.0884 26.2538 26.6406 25.8017 27.0927C25.3496 27.5448 24.7973 27.7709 24.1448 27.7709H6.85649ZM6.85649 25.8334H24.1448C24.2443 25.8334 24.3353 25.7919 24.418 25.709C24.5009 25.6264 24.5423 25.5353 24.5423 25.4358V13.3142H6.45898V25.4358C6.45898 25.5353 6.50043 25.6264 6.58331 25.709C6.66597 25.7919 6.75704 25.8334 6.85649 25.8334ZM6.45898 11.3767H24.5423V8.14753C24.5423 8.04807 24.5009 7.95701 24.418 7.87434C24.3353 7.79146 24.2443 7.75002 24.1448 7.75002H6.85649C6.75704 7.75002 6.66597 7.79146 6.58331 7.87434C6.50043 7.95701 6.45898 8.04807 6.45898 8.14753V11.3767ZM15.5007 18.1828C15.1844 18.1828 14.9149 18.0714 14.6921 17.8486C14.4695 17.626 14.3582 17.3565 14.3582 17.04C14.3582 16.7238 14.4695 16.4542 14.6921 16.2314C14.9149 16.0088 15.1844 15.8975 15.5007 15.8975C15.8169 15.8975 16.0864 16.0088 16.3092 16.2314C16.5318 16.4542 16.6431 16.7238 16.6431 17.04C16.6431 17.3565 16.5318 17.626 16.3092 17.8486C16.0864 18.0714 15.8169 18.1828 15.5007 18.1828ZM10.334 18.1828C10.0177 18.1828 9.74821 18.0714 9.5254 17.8486C9.3028 17.626 9.1915 17.3565 9.1915 17.04C9.1915 16.7238 9.3028 16.4542 9.5254 16.2314C9.74821 16.0088 10.0177 15.8975 10.334 15.8975C10.6502 15.8975 10.9198 16.0088 11.1426 16.2314C11.3652 16.4542 11.4765 16.7238 11.4765 17.04C11.4765 17.3565 11.3652 17.626 11.1426 17.8486C10.9198 18.0714 10.6502 18.1828 10.334 18.1828ZM20.6673 18.1828C20.3511 18.1828 20.0815 18.0714 19.8587 17.8486C19.6361 17.626 19.5248 17.3565 19.5248 17.04C19.5248 16.7238 19.6361 16.4542 19.8587 16.2314C20.0815 16.0088 20.3511 15.8975 20.6673 15.8975C20.9836 15.8975 21.2531 16.0088 21.4759 16.2314C21.6985 16.4542 21.8098 16.7238 21.8098 17.04C21.8098 17.3565 21.6985 17.626 21.4759 17.8486C21.2531 18.0714 20.9836 18.1828 20.6673 18.1828ZM15.5007 23.25C15.1844 23.25 14.9149 23.1386 14.6921 22.9158C14.4695 22.6932 14.3582 22.4238 14.3582 22.1075C14.3582 21.7911 14.4695 21.5216 14.6921 21.299C14.9149 21.0761 15.1844 20.9647 15.5007 20.9647C15.8169 20.9647 16.0864 21.0761 16.3092 21.299C16.5318 21.5216 16.6431 21.7911 16.6431 22.1075C16.6431 22.4238 16.5318 22.6932 16.3092 22.9158C16.0864 23.1386 15.8169 23.25 15.5007 23.25ZM10.334 23.25C10.0177 23.25 9.74821 23.1386 9.5254 22.9158C9.3028 22.6932 9.1915 22.4238 9.1915 22.1075C9.1915 21.7911 9.3028 21.5216 9.5254 21.299C9.74821 21.0761 10.0177 20.9647 10.334 20.9647C10.6502 20.9647 10.9198 21.0761 11.1426 21.299C11.3652 21.5216 11.4765 21.7911 11.4765 22.1075C11.4765 22.4238 11.3652 22.6932 11.1426 22.9158C10.9198 23.1386 10.6502 23.25 10.334 23.25ZM20.6673 23.25C20.3511 23.25 20.0815 23.1386 19.8587 22.9158C19.6361 22.6932 19.5248 22.4238 19.5248 22.1075C19.5248 21.7911 19.6361 21.5216 19.8587 21.299C20.0815 21.0761 20.3511 20.9647 20.6673 20.9647C20.9836 20.9647 21.2531 21.0761 21.4759 21.299C21.6985 21.5216 21.8098 21.7911 21.8098 22.1075C21.8098 22.4238 21.6985 22.6932 21.4759 22.9158C21.2531 23.1386 20.9836 23.25 20.6673 23.25Z' fill='%23677333'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        header.menu_over .util .search .search_open {
            background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_420' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_420)'%3E%3Cpath d='M12.2963 20.1696C10.0906 20.1696 8.22262 19.4046 6.69243 17.8746C5.16245 16.3444 4.39746 14.4764 4.39746 12.2707C4.39746 10.065 5.16245 8.19699 6.69243 6.6668C8.22262 5.13682 10.0906 4.37183 12.2963 4.37183C14.5021 4.37183 16.37 5.13682 17.9002 6.6668C19.4302 8.19699 20.1952 10.065 20.1952 12.2707C20.1952 13.1932 20.0404 14.0742 19.7308 14.9138C19.4211 15.7533 19.0078 16.4836 18.4912 17.1044L25.9234 24.5367C26.1023 24.7154 26.1938 24.9401 26.1979 25.2109C26.202 25.4817 26.1105 25.7107 25.9234 25.8978C25.7363 26.0849 25.5094 26.1784 25.2427 26.1784C24.9762 26.1784 24.7494 26.0849 24.5623 25.8978L17.1301 18.4655C16.4842 18.9988 15.7415 19.4161 14.9019 19.7175C14.0624 20.0189 13.1938 20.1696 12.2963 20.1696ZM12.2963 18.2324C13.9606 18.2324 15.3703 17.6548 16.5252 16.4996C17.6804 15.3446 18.258 13.935 18.258 12.2707C18.258 10.6064 17.6804 9.19674 16.5252 8.04177C15.3703 6.88659 13.9606 6.309 12.2963 6.309C10.632 6.309 9.22237 6.88659 8.06741 8.04177C6.91223 9.19674 6.33464 10.6064 6.33464 12.2707C6.33464 13.935 6.91223 15.3446 8.06741 16.4996C9.22237 17.6548 10.632 18.2324 12.2963 18.2324Z' fill='%23677333'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        
}
/************************ visual 시작 *************************/
.visual {
    position: relative;
}
.visual .swiper-slide .photo {
    overflow: hidden;
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이 100% */
}
.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.visual .swiper-slide .visual_txt {
    position: absolute; /* swiper-slide를 기준으로 정렬 */
    left: 0;
    bottom: 56%;
    width: 100%;
    color: #fff;
}
.visual .swiper-slide .visual_txt h3 {
    font-size: 60px;
    line-height: 1.2;
    margin: 0 0 31px 0;   
}
/************ paging - 팝업 동그라미 ************/
.visual .paging {
    position: absolute; /* swiper를 기준으로 정렬 */
    left: 0;
    bottom: 30px;
    width: 100%;
    z-index: 15;
    justify-content: center;
    display: flex;
    gap: 8px;
}
.visual .paging .swiper-pagination-bullet { 
    /* 동그라미 기본 스타일 */
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0;
    background: none;
    opacity: 1;
} 
.visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active { 
    /* 현재 팝업 동그라미*/
    background-color: #fff;
}
/************ 이전팝업, 다음팝업 ************/
.visual .btn_prev {
    position: absolute; /* swiper를 기준으로 정렬 */
    z-index: 10;
    left: 50px;
    top: 419px;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='20' viewBox='0 0 21 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.63398 20L20.3272 35.6933C20.7411 36.1072 20.9428 36.5945 20.9324 37.1552C20.9217 37.7164 20.7093 38.2038 20.2954 38.6177C19.8812 39.0316 19.3937 39.2386 18.8329 39.2386C18.2722 39.2386 17.7847 39.0316 17.3704 38.6177L1.38919 22.6683C1.01246 22.2915 0.73329 21.8695 0.551693 21.4021C0.370095 20.9348 0.279297 20.4674 0.279297 20C0.279297 19.5327 0.370095 19.0653 0.551693 18.5979C0.73329 18.1306 1.01246 17.7085 1.38919 17.3318L17.3704 1.35003C17.7847 0.936141 18.2776 0.734579 18.8491 0.745343C19.4206 0.756107 19.9133 0.968433 20.3272 1.38232C20.7411 1.79621 20.948 2.28371 20.948 2.84482C20.948 3.40559 20.7411 3.89291 20.3272 4.3068L4.63398 20Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.visual .btn_next {
    position: absolute; /* swiper를 기준으로 정렬 */
    z-index: 10;
    right: 40px;
    top: 419px;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 21 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.63398 20L20.3272 35.6933C20.7411 36.1072 20.9428 36.5945 20.9324 37.1552C20.9217 37.7164 20.7093 38.2038 20.2954 38.6177C19.8812 39.0316 19.3937 39.2386 18.8329 39.2386C18.2722 39.2386 17.7847 39.0316 17.3704 38.6177L1.38919 22.6683C1.01246 22.2915 0.73329 21.8695 0.551693 21.4021C0.370095 20.9348 0.279297 20.4674 0.279297 20C0.279297 19.5327 0.370095 19.0653 0.551693 18.5979C0.73329 18.1306 1.01246 17.7085 1.38919 17.3318L17.3704 1.35003C17.7847 0.936141 18.2776 0.734579 18.8491 0.745343C19.4206 0.756107 19.9133 0.968433 20.3272 1.38232C20.7411 1.79621 20.948 2.28371 20.948 2.84482C20.948 3.40559 20.7411 3.89291 20.3272 4.3068L4.63398 20Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(180deg);
}
/* 예약하기 박스 */
.visual .reserve {
    position: absolute;
    top: 58%;  /* 위치 잡기 */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  
    width: 100%;
    max-width: 1260px;
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); /* 블러 효과 */
    border-radius: 5px;
    padding: 45px 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    overflow: hidden;
}
/* 내부 레이아웃 */
.visual .reserve .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    flex-wrap: wrap;
    min-width: 0;
}
.visual .reserve h3 {
    font-size: 22px;
    font-weight: 700;
    white-space: nowrap;
    position: relative;
}
.visual .reserve_date {
    position: relative;
} 
.visual .reserve_date::after,
.visual .reserve h3::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -41px;
    transform: translateY(-50%);
    width: 1px;
    height: 53px;
    background-color: rgba(255, 255, 255, 0.3);
}
.visual .reserve_info {
    text-align: center;
}
.visual .reserve_info strong {
    display: block;
}
.visual .reserve_info .numbers {
    display: flex;
    justify-content: space-between; /* 좌우로 숫자 분리 */
}
.visual .reserve_info .numbers span {
    display: inline-block;
    width: 55px; /* 너비로 가운데 정렬 효과 */
    text-align: center;
}
.visual .check a {
    display: inline-block;
    padding: 10px 32px;
    border: 1px solid #fff; 
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.visual .check a:hover {
    background-color: #fff;
    color: #677333;
}
.visual .scroll_down {
    position: absolute;
    right: 20px;
    bottom: 14.8%;
    z-index: 10;
    color: #fff;
    transform: rotate(90deg);
}
/************** 스크롤 다운 애니메이션 남았음 **************/
@media screen and (max-width:768px) {

}



footer {
    margin: 500px 0 0 0;
}