@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
header .logo a {
    display: block;
    width: 164px;
    height: 47px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .gnb_open,
header .gnb_close {
    display: none; /* pc에서는 안보임 */
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
}
header .gnb .gnb_wrap ul.depth1 a {
    display: block;
    line-height: 100px;
    padding: 0 29px;
    font-size: 22px;
}
header .util {
    display: flex;
    gap: 18px;
}
header .util a {
    display: block;
}
header .util .calendar {
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_769' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_769)'%3E%3Cpath d='M6.85649 27.7709C6.20399 27.7709 5.65169 27.5448 5.19961 27.0927C4.74753 26.6406 4.52148 26.0884 4.52148 25.4358V8.14753C4.52148 7.49502 4.74753 6.94273 5.19961 6.49064C5.65169 6.03856 6.20399 5.81252 6.85649 5.81252H8.64481V4.07361C8.64481 3.79052 8.73964 3.55415 8.9293 3.36449C9.11896 3.17504 9.35533 3.08032 9.63842 3.08032C9.92173 3.08032 10.1581 3.17504 10.3475 3.36449C10.5372 3.55415 10.632 3.79052 10.632 4.07361V5.81252H20.419V4.04907C20.419 3.77416 20.5117 3.54392 20.697 3.35835C20.8826 3.173 21.1128 3.08032 21.3877 3.08032C21.6627 3.08032 21.8928 3.173 22.0781 3.35835C22.2637 3.54392 22.3565 3.77416 22.3565 4.04907V5.81252H24.1448C24.7973 5.81252 25.3496 6.03856 25.8017 6.49064C26.2538 6.94273 26.4798 7.49502 26.4798 8.14753V25.4358C26.4798 26.0884 26.2538 26.6406 25.8017 27.0927C25.3496 27.5448 24.7973 27.7709 24.1448 27.7709H6.85649ZM6.85649 25.8334H24.1448C24.2443 25.8334 24.3353 25.7919 24.418 25.709C24.5009 25.6264 24.5423 25.5353 24.5423 25.4358V13.3142H6.45898V25.4358C6.45898 25.5353 6.50043 25.6264 6.58331 25.709C6.66597 25.7919 6.75704 25.8334 6.85649 25.8334ZM6.45898 11.3767H24.5423V8.14753C24.5423 8.04807 24.5009 7.95701 24.418 7.87434C24.3353 7.79146 24.2443 7.75002 24.1448 7.75002H6.85649C6.75704 7.75002 6.66597 7.79146 6.58331 7.87434C6.50043 7.95701 6.45898 8.04807 6.45898 8.14753V11.3767ZM15.5007 18.1828C15.1844 18.1828 14.9149 18.0714 14.6921 17.8486C14.4695 17.626 14.3582 17.3565 14.3582 17.04C14.3582 16.7238 14.4695 16.4542 14.6921 16.2314C14.9149 16.0088 15.1844 15.8975 15.5007 15.8975C15.8169 15.8975 16.0864 16.0088 16.3092 16.2314C16.5318 16.4542 16.6431 16.7238 16.6431 17.04C16.6431 17.3565 16.5318 17.626 16.3092 17.8486C16.0864 18.0714 15.8169 18.1828 15.5007 18.1828ZM10.334 18.1828C10.0177 18.1828 9.74821 18.0714 9.5254 17.8486C9.3028 17.626 9.1915 17.3565 9.1915 17.04C9.1915 16.7238 9.3028 16.4542 9.5254 16.2314C9.74821 16.0088 10.0177 15.8975 10.334 15.8975C10.6502 15.8975 10.9198 16.0088 11.1426 16.2314C11.3652 16.4542 11.4765 16.7238 11.4765 17.04C11.4765 17.3565 11.3652 17.626 11.1426 17.8486C10.9198 18.0714 10.6502 18.1828 10.334 18.1828ZM20.6673 18.1828C20.3511 18.1828 20.0815 18.0714 19.8587 17.8486C19.6361 17.626 19.5248 17.3565 19.5248 17.04C19.5248 16.7238 19.6361 16.4542 19.8587 16.2314C20.0815 16.0088 20.3511 15.8975 20.6673 15.8975C20.9836 15.8975 21.2531 16.0088 21.4759 16.2314C21.6985 16.4542 21.8098 16.7238 21.8098 17.04C21.8098 17.3565 21.6985 17.626 21.4759 17.8486C21.2531 18.0714 20.9836 18.1828 20.6673 18.1828ZM15.5007 23.25C15.1844 23.25 14.9149 23.1386 14.6921 22.9158C14.4695 22.6932 14.3582 22.4238 14.3582 22.1075C14.3582 21.7911 14.4695 21.5216 14.6921 21.299C14.9149 21.0761 15.1844 20.9647 15.5007 20.9647C15.8169 20.9647 16.0864 21.0761 16.3092 21.299C16.5318 21.5216 16.6431 21.7911 16.6431 22.1075C16.6431 22.4238 16.5318 22.6932 16.3092 22.9158C16.0864 23.1386 15.8169 23.25 15.5007 23.25ZM10.334 23.25C10.0177 23.25 9.74821 23.1386 9.5254 22.9158C9.3028 22.6932 9.1915 22.4238 9.1915 22.1075C9.1915 21.7911 9.3028 21.5216 9.5254 21.299C9.74821 21.0761 10.0177 20.9647 10.334 20.9647C10.6502 20.9647 10.9198 21.0761 11.1426 21.299C11.3652 21.5216 11.4765 21.7911 11.4765 22.1075C11.4765 22.4238 11.3652 22.6932 11.1426 22.9158C10.9198 23.1386 10.6502 23.25 10.334 23.25ZM20.6673 23.25C20.3511 23.25 20.0815 23.1386 19.8587 22.9158C19.6361 22.6932 19.5248 22.4238 19.5248 22.1075C19.5248 21.7911 19.6361 21.5216 19.8587 21.299C20.0815 21.0761 20.3511 20.9647 20.6673 20.9647C20.9836 20.9647 21.2531 21.0761 21.4759 21.299C21.6985 21.5216 21.8098 21.7911 21.8098 22.1075C21.8098 22.4238 21.6985 22.6932 21.4759 22.9158C21.2531 23.1386 20.9836 23.25 20.6673 23.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .util .search {
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_772' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_772)'%3E%3Cpath d='M12.2963 20.1696C10.0906 20.1696 8.22262 19.4046 6.69243 17.8746C5.16245 16.3444 4.39746 14.4764 4.39746 12.2707C4.39746 10.065 5.16245 8.19699 6.69243 6.6668C8.22262 5.13682 10.0906 4.37183 12.2963 4.37183C14.5021 4.37183 16.37 5.13682 17.9002 6.6668C19.4302 8.19699 20.1952 10.065 20.1952 12.2707C20.1952 13.1932 20.0404 14.0742 19.7308 14.9138C19.4211 15.7533 19.0078 16.4836 18.4912 17.1044L25.9234 24.5367C26.1023 24.7154 26.1938 24.9401 26.1979 25.2109C26.202 25.4817 26.1105 25.7107 25.9234 25.8978C25.7363 26.0849 25.5094 26.1784 25.2427 26.1784C24.9762 26.1784 24.7494 26.0849 24.5623 25.8978L17.1301 18.4655C16.4842 18.9988 15.7415 19.4161 14.9019 19.7175C14.0624 20.0189 13.1938 20.1696 12.2963 20.1696ZM12.2963 18.2324C13.9606 18.2324 15.3703 17.6548 16.5252 16.4996C17.6804 15.3446 18.258 13.935 18.258 12.2707C18.258 10.6064 17.6804 9.19674 16.5252 8.04177C15.3703 6.88659 13.9606 6.309 12.2963 6.309C10.632 6.309 9.22237 6.88659 8.06741 8.04177C6.91223 9.19674 6.33464 10.6064 6.33464 12.2707C6.33464 13.935 6.91223 15.3446 8.06741 16.4996C9.22237 17.6548 10.632 18.2324 12.2963 18.2324Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1440px){
    header .gnb .gnb_wrap ul.depth1 a {
        padding: 0 18px;
        font-size: 20px;
    }
    header .util {
        gap: 10px;
    }
}
@media screen and (max-width:1280px){
    header {
        height: 56px;
        padding-right: 0;
    }
    header .logo a {
        width: 94px;
        height: 26px;
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .gnb_open,
    header .gnb_close {
        display: block; /* pc에서는 안보임 */
    }
    header .gnb_open {
        width: 56px;
        height: 56px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_214' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='29' height='29'%3E%3Crect width='29' height='29' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_214)'%3E%3Cpath d='M4.83333 8.45768C4.49097 8.45768 4.20399 8.34188 3.9724 8.11029C3.7408 7.87869 3.625 7.59171 3.625 7.24935C3.625 6.90699 3.7408 6.62001 3.9724 6.38841C4.20399 6.15681 4.49097 6.04102 4.83333 6.04102H24.1667C24.509 6.04102 24.796 6.15681 25.0276 6.38841C25.2592 6.62001 25.375 6.90699 25.375 7.24935C25.375 7.59171 25.2592 7.87869 25.0276 8.11029C24.796 8.34188 24.509 8.45768 24.1667 8.45768H4.83333ZM4.83333 22.9577C4.49097 22.9577 4.20399 22.8419 3.9724 22.6103C3.7408 22.3787 3.625 22.0917 3.625 21.7493C3.625 21.407 3.7408 21.12 3.9724 20.8884C4.20399 20.6568 4.49097 20.541 4.83333 20.541H24.1667C24.509 20.541 24.796 20.6568 25.0276 20.8884C25.2592 21.12 25.375 21.407 25.375 21.7493C25.375 22.0917 25.2592 22.3787 25.0276 22.6103C24.796 22.8419 24.509 22.9577 24.1667 22.9577H4.83333ZM4.83333 15.7077C4.49097 15.7077 4.20399 15.5919 3.9724 15.3603C3.7408 15.1287 3.625 14.8417 3.625 14.4993C3.625 14.157 3.7408 13.87 3.9724 13.6384C4.20399 13.4068 4.49097 13.291 4.83333 13.291H24.1667C24.509 13.291 24.796 13.4068 25.0276 13.6384C25.2592 13.87 25.375 14.157 25.375 14.4993C25.375 14.8417 25.2592 15.1287 25.0276 15.3603C24.796 15.5919 24.509 15.7077 24.1667 15.7077H4.83333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb_close {
        display: none; /* 숨김 */
        width: 29px;
        height: 29px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_268' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='29' height='29'%3E%3Crect width='29' height='29' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_268)'%3E%3Cpath d='M14.4995 16.1916L8.57865 22.1125C8.35712 22.334 8.07517 22.4448 7.73281 22.4448C7.39045 22.4448 7.10851 22.334 6.88698 22.1125C6.66545 21.8909 6.55469 21.609 6.55469 21.2666C6.55469 20.9243 6.66545 20.6423 6.88698 20.4208L12.8078 14.5L6.88698 8.57913C6.66545 8.35761 6.55469 8.07566 6.55469 7.7333C6.55469 7.39094 6.66545 7.109 6.88698 6.88747C7.10851 6.66594 7.39045 6.55518 7.73281 6.55518C8.07517 6.55518 8.35712 6.66594 8.57865 6.88747L14.4995 12.8083L20.4203 6.88747C20.6418 6.66594 20.9238 6.55518 21.2661 6.55518C21.6085 6.55518 21.8905 6.66594 22.112 6.88747C22.3335 7.109 22.4443 7.39094 22.4443 7.7333C22.4443 8.07566 22.3335 8.35761 22.112 8.57913L16.1911 14.5L22.112 20.4208C22.3335 20.6423 22.4443 20.9243 22.4443 21.2666C22.4443 21.609 22.3335 21.8909 22.112 22.1125C21.8905 22.334 21.6085 22.4448 21.2661 22.4448C20.9238 22.4448 20.6418 22.334 20.4203 22.1125L14.4995 16.1916Z' fill='%232A3C22'/%3E%3C/g%3E%3C/svg%3E%0A");
        
    }
    header .util {
        display: none;
    }
}

.visual {
    background: url(../images/visual01.jpg) no-repeat center center / cover;
    height: 1000px;
    color: #fff;
    margin: 0 0 175px 0;
}
.visual h2 {
    font-size: 60px;
    padding: 283px 0 31px 0;
    
}
.visual .checkin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 77px 0 0 0;
    padding: 48px 0;
}
.visual .checkin h3 {
    font-size: 22px;
    font-weight: var(--bold-weight);
    margin-right: 3%;
}
.visual .time_wrap  {
    margin: 0 3%;
    position: relative;
}
.visual .time_wrap::before {
    content: "";
    position: absolute;
    left: -36px;
    top: 6px;
    height: 53px;
    width: 1px;
    background-color:rgba(255, 255, 255, 0.3);
}
.visual .time_wrap strong {
    display: block;
    margin: 0 0 10px 0;
}
.visual .time_wrap span {
    font-weight: 700;
} 
.visual .count {
    display: flex;
    margin: 0 2.2%;
    position: relative;
}
.visual .count::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 6px;
    height: 53px;
    width: 1px;
    background-color:rgba(255, 255, 255, 0.3);
}
.visual .count .item {
    text-align: center;
}
.visual .count .item strong {
    display: block;
    margin: 0 0 12px 0;
}
.visual .count .item span {
    font-weight: 700;
}
.visual .search {
    border: 1px solid #fff; 
    border-radius: 5px;
    padding: 8px 41px;
    margin-left: 5%;
}
.visual .search:hover {
    background-color: #fff;
    color: #555;
}
@media screen and (max-width:1024px){
    .visual {
        margin: 0 0 100px 0;
    }
    .visual h2 {
        font-size: 45px;
    }
    .visual .checkin {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px); 
        border-radius: 5px;
        margin: 77px 0 0 0;
        padding: 48px 0;
    }
    .visual .checkin h3 {
        display: none;
    }
    .visual .time_wrap  {
        margin: 0 4%;
    }
    .visual .time_wrap::before {
        display: none;
    }
    .visual .count {
        margin: 0 3.5%;
    }
    .visual .count::before {
        left: -33px;
    }
    .visual .search {
        border: 1px solid #fff; 
        border-radius: 5px;
        padding: 8px 41px;
        margin-left: 3%;
    }
}
@media screen and (max-width:768px){
    .visual {
        height: 604px;
        color: #fff;
        margin: 0 0 70px 0;
    }
    .visual h2 {
        font-size: 35px;
        padding: 171px 0 0 0;
        text-align: center;
    }
    .visual p {
        display: none;
    }
    .visual .checkin {
        display: block;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        margin: 64px 0 0 0;
        padding: 16px;
    }
    .visual .time_wrap  {
        margin: 0;
    }
    .visual .time_wrap::before {
        display: none;
    }
    .visual .time_wrap strong {
        margin: 0 0 5px 0;
    }
    .visual .count {
        display: flex;
        margin: 14px 0 22px 0;
        position: relative;
        gap: 50px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding: 20px 0 0 0;
    }
    .visual .count::before {
       display: none;
    }
    .visual .count .item {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .visual .count .item.m_no {
        display: none;
    }
    .visual .count .item strong {
        display: block;
        margin: 0;
    }
    .visual .count .item .item_gue {
        position: relative;
    }
    .visual .count .item .item_gue::before {
        content: "";
        position: absolute;
        left: -25px;
        top: 0;
        height: 19px;
        width: 1px;
        background-color:rgba(255, 255, 255, 0.3);
    }
    .visual .search {
        border: 1px solid #fff; 
        border-radius: 2px;
        padding: 3px 0;
        margin-left: 0;
        width: 100%;
        text-align: center;    
    }
    .visual .search:hover {
        background-color: #fff;
        color: #555;
    }
}
.about .wrapper {
    display: flex;
    justify-content: space-between;
}
.about .txt strong{
    display: block;
    font-weight: 700;
    color: var(--main-color);
}
.about .txt h2 {
    font-size: 45px;
    color: #1d1d1d;
    margin: 14px 0 36px 0;
    line-height: 1.3;
}
.about .txt a {
    display: inline-block;
    margin: 61px 0 0 0;
    background-color: #677333;
    border-radius: 30px;
    color: #fff;
    padding: 15px 32px;
    font-weight: 700;
}
.about .txt a:hover {
    border: 1px solid #677333;
    background-color: #fff;
    color: #677333;
}
.about .photo {
    width: calc(100% - 511px);
    height: 606px;
    overflow: hidden;
    border-bottom-right-radius: 200px;
}
.about .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:1024px){
    .about .wrapper {
        display: block;
    }
    .about .txt strong{
        display: none;
    }
    .about .txt h2 {
        font-size: 30px;
        margin: 0 0 20spx 0;
    }
    .about .txt p br {
        display: none;
    }
    .about .txt a {
        margin: 32px 0 44px 0;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        padding: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_204' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_204)'%3E%3Cpath d='M11.457 9.20817H3.54134C3.34065 9.20817 3.17242 9.14029 3.03665 9.00452C2.90089 8.86876 2.83301 8.70053 2.83301 8.49983C2.83301 8.29914 2.90089 8.13091 3.03665 7.99515C3.17242 7.85938 3.34065 7.7915 3.54134 7.7915H11.457L7.98613 4.32067C7.84447 4.179 7.77658 4.01372 7.78249 3.82483C7.78839 3.63594 7.86217 3.47067 8.00384 3.329C8.14551 3.19914 8.31079 3.13126 8.49967 3.12535C8.68856 3.11945 8.85384 3.18733 8.99551 3.329L13.6705 8.004C13.7413 8.07483 13.7915 8.15157 13.821 8.23421C13.8505 8.31685 13.8653 8.40539 13.8653 8.49983C13.8653 8.59428 13.8505 8.68282 13.821 8.76546C13.7915 8.8481 13.7413 8.92483 13.6705 8.99567L8.99551 13.6707C8.86565 13.8005 8.70332 13.8655 8.50853 13.8655C8.31374 13.8655 8.14551 13.8005 8.00384 13.6707C7.86217 13.529 7.79134 13.3608 7.79134 13.166C7.79134 12.9712 7.86217 12.803 8.00384 12.6613L11.457 9.20817Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .about .txt a span {
        display: none;
    }
    .about .photo {
        width: 100%;
        height: 308px;
        overflow: hidden;
        border-bottom-right-radius: 100px;
    }
    .about .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width:768px){
    .about .txt h2 {
        font-size: 25px;
    }
}
.room .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 383px 0 0;
}
.room .info {
    position: relative;
    padding: 0 0 0 83px;
}
.room .info h3 {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(90deg);
}

footer {
    margin: 500px 0 0 0;
}