@import url(default.css);
@import url(font.css);
@import url(common.css);

.section_tit {
    font-family: 'Gmarket Sans';
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: -0.05em;
    color: #1d1d1d;
}
@media screen and (max-width:640px){
                .section_tit {
                    font-size: 20px;
                }
}/*@media*/

header {
    height: 100px;
    position: absolute; /* wrap */
    left: 0;
    top: 0;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 100; /* 밑위에 배치 */
}
header .wrapper {
    display: flex; /* logo/gnb/tnb 좌우 배치 */
    justify-content: space-between; /* 좌우끝 */
    align-items: center; /* 위아래 가운데 */
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 보임 */
}
header .gnb .gnb_wrap ul {
    display: flex; /* li를 좌우에 배치 */
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-family: 'Gmarket Sans';
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.05em;
    line-height: 100px; 
    /* header의 높이만큼 행간을 줌 - 그럼 글자가 높이가 header와 같아지고
       위아래 가운데에 글자가 들어감 (밑에 하위메뉴를 열기위한 값) */
    padding: 0 28px;
}
header .tnb {
    display: flex; /* mypage/lang 좌우배치 */
    gap: 9px;/* 둘사이 여백 */
}
header .tnb .mypage {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2998 10.1401C9.02048 10.1401 7.92536 9.68464 7.01444 8.77372C6.10329 7.86258 5.64772 6.76734 5.64772 5.48802C5.64772 4.2087 6.10329 3.11358 7.01444 2.20265C7.92536 1.29151 9.02048 0.835938 10.2998 0.835938C11.5791 0.835938 12.6743 1.29151 13.5852 2.20265C14.4963 3.11358 14.9519 4.2087 14.9519 5.48802C14.9519 6.76734 14.4963 7.86258 13.5852 8.77372C12.6743 9.68464 11.5791 10.1401 10.2998 10.1401ZM0.331055 18.243V17.3073C0.331055 16.6565 0.507834 16.0537 0.861392 15.499C1.21495 14.9443 1.68747 14.5178 2.27895 14.2196C3.59261 13.5757 4.9179 13.0926 6.25482 12.7705C7.59174 12.4484 8.94007 12.2874 10.2998 12.2874C11.6595 12.2874 13.0079 12.4484 14.3448 12.7705C15.6817 13.0926 17.007 13.5757 18.3207 14.2196C18.9121 14.5178 19.3847 14.9443 19.7382 15.499C20.0918 16.0537 20.2686 16.6565 20.2686 17.3073V18.243C20.2686 18.8035 20.0722 19.2802 19.6794 19.6732C19.2866 20.066 18.8099 20.2624 18.2492 20.2624H2.35039C1.7897 20.2624 1.31298 20.066 0.920208 19.6732C0.527439 19.2802 0.331055 18.8035 0.331055 18.243ZM2.3248 18.2686H18.2748V17.3073C18.2748 17.0381 18.1968 16.7889 18.0409 16.5596C17.8849 16.3306 17.6732 16.1436 17.4059 15.9987C16.2606 15.4347 15.0929 15.0074 13.9028 14.7168C12.7126 14.4263 11.5116 14.2811 10.2998 14.2811C9.08805 14.2811 7.88704 14.4263 6.69677 14.7168C5.50672 15.0074 4.33905 15.4347 3.19375 15.9987C2.92636 16.1436 2.71469 16.3306 2.55874 16.5596C2.40278 16.7889 2.3248 17.0381 2.3248 17.3073V18.2686ZM10.2998 8.14635C11.0308 8.14635 11.6567 7.88606 12.1773 7.36547C12.6978 6.84488 12.9581 6.21906 12.9581 5.48802C12.9581 4.75698 12.6978 4.13116 12.1773 3.61057C11.6567 3.08998 11.0308 2.82969 10.2998 2.82969C9.56876 2.82969 8.94295 3.08998 8.42236 3.61057C7.90177 4.13116 7.64147 4.75698 7.64147 5.48802C7.64147 6.21906 7.90177 6.84488 8.42236 7.36547C8.94295 7.88606 9.56876 8.14635 10.2998 8.14635Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 20px; /* 1개만 쓰면 넓이임, 높이는 비율에 맞게 알아서 들어감 */
    background-repeat: no-repeat;
    background-position: center center;
}
header .tnb .lang {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7462 22.4201C10.2487 22.4201 8.83559 22.1331 7.50675 21.559C6.17791 20.985 5.01903 20.2034 4.03011 19.2143C3.041 18.2253 2.25941 17.0665 1.68533 15.7376C1.11126 14.4088 0.824219 12.9956 0.824219 11.4982C0.824219 9.98882 1.11126 8.57269 1.68533 7.24979C2.25941 5.92689 3.041 4.77098 4.03011 3.78206C5.01903 2.79295 6.17791 2.01136 7.50675 1.43728C8.83559 0.86321 10.2487 0.576172 11.7462 0.576172C13.2555 0.576172 14.6717 0.86321 15.9946 1.43728C17.3175 2.01136 18.4734 2.79295 19.4623 3.78206C20.4514 4.77098 21.233 5.92689 21.8071 7.24979C22.3812 8.57269 22.6682 9.98882 22.6682 11.4982C22.6682 12.9956 22.3812 14.4088 21.8071 15.7376C21.233 17.0665 20.4514 18.2253 19.4623 19.2143C18.4734 20.2034 17.3175 20.985 15.9946 21.559C14.6717 22.1331 13.2555 22.4201 11.7462 22.4201ZM11.7462 20.6712C12.3329 19.893 12.8267 19.1082 13.2276 18.3166C13.6284 17.5251 13.9549 16.6599 14.2071 15.7209H9.28531C9.55223 16.6894 9.88247 17.5693 10.276 18.3609C10.6694 19.1525 11.1595 19.9226 11.7462 20.6712ZM9.51984 20.355C9.07913 19.7227 8.68335 19.0039 8.33251 18.1985C7.98166 17.393 7.709 16.5671 7.51451 15.7209H3.6145C4.22172 16.9149 5.03608 17.918 6.05757 18.7302C7.07907 19.5423 8.23316 20.0839 9.51984 20.355ZM13.9726 20.355C15.2593 20.0839 16.4133 19.5423 17.4348 18.7302C18.4563 17.918 19.2707 16.9149 19.8779 15.7209H15.9779C15.7464 16.5744 15.4553 17.4039 15.1044 18.2094C14.7538 19.015 14.3765 19.7302 13.9726 20.355ZM2.89135 13.9964H7.16529C7.09306 13.5691 7.04065 13.1502 7.00807 12.7395C6.97569 12.3291 6.9595 11.9153 6.9595 11.4982C6.9595 11.081 6.97569 10.6672 7.00807 10.2568C7.04065 9.84616 7.09306 9.4272 7.16529 8.9999H2.89135C2.78079 9.39041 2.69609 9.79644 2.63727 10.218C2.57825 10.6395 2.54874 11.0663 2.54874 11.4982C2.54874 11.9301 2.57825 12.3568 2.63727 12.7783C2.69609 13.1999 2.78079 13.6059 2.89135 13.9964ZM8.88953 13.9964H14.6029C14.6749 13.5691 14.7272 13.1539 14.7598 12.7507C14.7922 12.3476 14.8084 11.9301 14.8084 11.4982C14.8084 11.0663 14.7922 10.6487 14.7598 10.2456C14.7272 9.84242 14.6749 9.4272 14.6029 8.9999H8.88953C8.81748 9.4272 8.76517 9.84242 8.7326 10.2456C8.70022 10.6487 8.68402 11.0663 8.68402 11.4982C8.68402 11.9301 8.70022 12.3476 8.7326 12.7507C8.76517 13.1539 8.81748 13.5691 8.88953 13.9964ZM16.3271 13.9964H20.6011C20.7116 13.6059 20.7963 13.1999 20.8551 12.7783C20.9142 12.3568 20.9437 11.9301 20.9437 11.4982C20.9437 11.0663 20.9142 10.6395 20.8551 10.218C20.7963 9.79644 20.7116 9.39041 20.6011 8.9999H16.3271C16.3994 9.4272 16.4518 9.84616 16.4843 10.2568C16.5167 10.6672 16.5329 11.081 16.5329 11.4982C16.5329 11.9153 16.5167 12.3291 16.4843 12.7395C16.4518 13.1502 16.3994 13.5691 16.3271 13.9964ZM15.9779 7.27537H19.8779C19.2634 6.06667 18.4546 5.06357 17.4515 4.26608C16.4484 3.46877 15.2888 2.92344 13.9726 2.63008C14.4133 3.2992 14.8053 4.03106 15.1487 4.82569C15.4923 5.62012 15.7687 6.43668 15.9779 7.27537ZM9.28531 7.27537H14.2071C13.9402 6.31424 13.6045 5.4287 13.2 4.61874C12.7953 3.80879 12.3107 3.04425 11.7462 2.32513C11.1817 3.04425 10.6971 3.80879 10.2924 4.61874C9.88793 5.4287 9.55223 6.31424 9.28531 7.27537ZM3.6145 7.27537H7.51451C7.72375 6.43668 8.00015 5.62012 8.34372 4.82569C8.68709 4.03106 9.07913 3.2992 9.51984 2.63008C8.19618 2.92344 7.03471 3.47069 6.03544 4.27183C5.03599 5.07277 4.229 6.07396 3.6145 7.27537Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 21px; /* 아이콘 크기 */
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (max-width:640px){
                header {
                    height: 56px;
                }
                header .wrapper {
                    margin-right: 0;
                    /* 오른쪽 여백만 삭제 - 메뉴열기 버튼이 */
                }
                header .logo a img {
                    width: 78px;
                }
                header .gnb .gnb_open {
                    display: block; /* none으로 숨김 요소를 없앰 */
                    width: 54px;
                    height: 54px;
                    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_41_6805' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_41_6805)'%3E%3Cpath d='M3.83333 6.70768C3.56181 6.70768 3.3342 6.61584 3.15052 6.43216C2.96684 6.24848 2.875 6.02088 2.875 5.74935C2.875 5.47782 2.96684 5.25022 3.15052 5.06654C3.3342 4.88286 3.56181 4.79102 3.83333 4.79102H19.1667C19.4382 4.79102 19.6658 4.88286 19.8495 5.06654C20.0332 5.25022 20.125 5.47782 20.125 5.74935C20.125 6.02088 20.0332 6.24848 19.8495 6.43216C19.6658 6.61584 19.4382 6.70768 19.1667 6.70768H3.83333ZM3.83333 18.2077C3.56181 18.2077 3.3342 18.1158 3.15052 17.9322C2.96684 17.7485 2.875 17.5209 2.875 17.2493C2.875 16.9778 2.96684 16.7502 3.15052 16.5665C3.3342 16.3829 3.56181 16.291 3.83333 16.291H19.1667C19.4382 16.291 19.6658 16.3829 19.8495 16.5665C20.0332 16.7502 20.125 16.9778 20.125 17.2493C20.125 17.5209 20.0332 17.7485 19.8495 17.9322C19.6658 18.1158 19.4382 18.2077 19.1667 18.2077H3.83333ZM3.83333 12.4577C3.56181 12.4577 3.3342 12.3658 3.15052 12.1822C2.96684 11.9985 2.875 11.7709 2.875 11.4993C2.875 11.2278 2.96684 11.0002 3.15052 10.8165C3.3342 10.6329 3.56181 10.541 3.83333 10.541H19.1667C19.4382 10.541 19.6658 10.6329 19.8495 10.8165C20.0332 11.0002 20.125 11.2278 20.125 11.4993C20.125 11.7709 20.0332 11.9985 19.8495 12.1822C19.6658 12.3658 19.4382 12.4577 19.1667 12.4577H3.83333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 23px;
                }
                header .gnb .gnb_wrap {
                    display: none; /* 숨김 */
                }
                header .tnb {
                    display: none; /* 숨김 */
                }
}/*@media*/

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 950px;
    text-align: center;
}
.visual h2 {
    font-size: 70px;
    color: #fff;
    padding: 412px 0 10px 0;
}
@media screen and (max-width:640px){
                .visual {
                    height: auto; /* 높이를 안준 것 처럼 - 콘텐츠 길이만큼 늘어남 */
                    text-align: left;
                    padding: 0 0 88px 0;
                }
                .visual h2 {
                    font-size: 35px;
                    padding: 222px 0 16px 0;
                }
                .visual h2 br {
                    display: none; /* 줄바꿈 삭제 */
                }
}/*@media*/

.project {
    margin: 164px 0 0 0;
}
.project .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* tit의 높이를 존재하는 만큼만 주기 위해서 */
}
.project .tit {
    position: sticky; /* 감싸는 wrapper를 기준으로 정렬 무조건 */
    top: 20px;
    /* 좌우 정렬값 주면 안됨... top값은 상단에 고정되었을 때 위치값 
        stickt의 단점
        감싸는 요소 중에 단 한 개라도 ovverflow:hidden;값을 가지고 있으면
        적용안됨. 사실상 못쓴다고 생각하면 됩니다*/
}
.project .tit h2 {
    color: #021C8B;
    margin: 0 0 8px 0;
}
.project .list {
    width: 52.85%; /* 666/1260*100 */
    margin: 174px 0 0 0;
}
.project .list ul {
    display: flex;
    flex-wrap: wrap; /*2줄이상 허용*/
    gap: 24px 24px;
}
.project .list ul li {
    width: calc(50% - 12px);
    /* 100% / 한줄에 보일 li 갯수 = 100%/2 = 50%
       한줄에 있는 여백의 총합 / 한줄에 보일 li 갯수 = 24px/2 = 12px*/
}
.project .list ul li:nth-child(even) {
    /* even: 짝수 , odd: 홀수 */
    transform: translateY(-175PX);
}
.project .list ul li a {
    display: block;
    position: relative; /* txt 정렬의 기준 */
}

.project .list ul li a .photo {
    overflow: hidden;
    border-radius: 10px;
    height: 485px;
    position: relative; /* before 정렬의 기준 */
}
.project .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #021C8B;
    opacity: 0;
    transition: 0.2s;
} 
.project .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .list ul li a .txt {
    position: absolute; /*a를 기준으로 정렬*/
    left: 28px;
    bottom: 40px;
    width: calc(100% - 56px); /*왼쪽여백 오른쪽여백 합해서*/
    color: #fff;
}
.project .list ul li a .txt h3 {
    font-family: 'Gmarket Sans';
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.05em;
}
.project .list ul li a .txt p {
    display: none;
    margin: 18px 0;
    color: rgba(255,255,255,0.8);
}
.project .list ul li a .txt span {
    display: none;
    color: rgba(255,255,255,0.6);
    padding: 0 18px 0 0;
    font-size: 15px;
    position: relative;
}
.project .list ul li a .txt span::after {
    content: "";
    position: absolute;
    right: -2px;
    top: 5px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_4472' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_4472)'%3E%3Cpath d='M10.1094 8.12531H3.125C2.94792 8.12531 2.79948 8.06542 2.67969 7.94562C2.5599 7.82583 2.5 7.6774 2.5 7.50031C2.5 7.32323 2.5599 7.17479 2.67969 7.055C2.79948 6.93521 2.94792 6.87531 3.125 6.87531H10.1094L7.04688 3.81281C6.92188 3.68781 6.86198 3.54198 6.86719 3.37531C6.8724 3.20865 6.9375 3.06281 7.0625 2.93781C7.1875 2.82323 7.33333 2.76333 7.5 2.75812C7.66667 2.75292 7.8125 2.81281 7.9375 2.93781L12.0625 7.06281C12.125 7.12531 12.1693 7.19302 12.1953 7.26594C12.2214 7.33885 12.2344 7.41698 12.2344 7.50031C12.2344 7.58365 12.2214 7.66177 12.1953 7.73469C12.1693 7.8076 12.125 7.87531 12.0625 7.93781L7.9375 12.0628C7.82292 12.1774 7.67969 12.2347 7.50781 12.2347C7.33594 12.2347 7.1875 12.1774 7.0625 12.0628C6.9375 11.9378 6.875 11.7894 6.875 11.6175C6.875 11.4456 6.9375 11.2972 7.0625 11.1722L10.1094 8.12531Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
@media screen and (min-width:641px){
            /*******************오버 했을 때**********************/
            .project .list ul li a:hover .photo::before {
                opacity: 0.9;
            }
            .project .list ul li a:hover .txt p {
                display: block; /*none으로 숨긴건 흔히 display block으로 보이게함 */
            }
            .project .list ul li a:hover .txt span {
                display: inline-block;
            }
}/*@media*/
@media screen and (max-width:640px){
                    
                .project {
                    margin: 73px 0 0 0;
                }
                .project .wrapper {
                    display: block; /* flex 해제 */
                }
                .project .tit {
                    position: relative; /* sticky를 해제하기 위해서 다른 속성을 줌  */
                    top: auto; /* top값을 지정하지 않은 것 처럼 취소하는 값  0 이랑 다름 */
                }
                .project .tit h2 {
                    margin: 0 0 10px 0;
                }
                .project .list {
                    width: auto; /* block요소 이기 때문에 100% 들어감  */
                    margin: 35px 0 0 0;
                }
                .project .list ul {
                    gap: 16px 16px;
                }
                .project .list ul li {
                    width: calc(50% - 8px);
                    /* 100% / 한줄에 보일 li 갯수 = 100%/2 = 50%
                    한줄에 있는 여백의 총합 / 한줄에 보일 li 갯수 = 16px/2 = 8px*/
                }
                .project .list ul li:nth-child(even) {
                    /* even: 짝수 , odd: 홀수 */
                    transform: none; /* 짝수 위로 이동한거 취소 */
                }
                .project .list ul li a .photo {
                    border-radius: 5px;
                    height: 76px;
                }
                .project .list ul li a .txt {
                    position: relative; /* absolute해제 */
                    left: auto;
                    bottom: auto;
                    width: auto; 
                    color: #1d1d1d;
                    padding: 7px 0 0 0;
                }
                .project .list ul li a .txt h3 {
                    font-size: 16px;
                    font-weight: 500;
                }
                .project .list ul li a .txt h3 br {
                    display: none; /*줄바꿈 삭제*/
                }
}/*@media*/

.news {
    background-color: #E6EAF5;
    margin: 113px 0 0 0;
    padding: 147px 0 113px 0;
}
.news .wrapper {
    position: relative;
}
.news .tit h2 {
    color: #021C8B;
    margin: 0 0 8px 0;
}
.news .list {
    margin: 57px 0 0 0;
}
.news .list ul li {
    margin: 8px 0 0 0;
}
.news .list ul li:first-child {
    margin-top: 0;
}
.news .list ul li a {
    display: flex; /* subject/date 좌우 배치 */
    justify-content: space-between; /* 양쪽 끝 배치 */
    background-color: #fff;
    padding: 17px 32px;
}
.news .list ul li a .subject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 129px);
}
.news .list ul li a .subject strong {
    display: block;
    padding: 2px 11px;
    background-color: #0941CA;
    color: #fff;
    border-radius: 25px;
}
.news .list ul li a .subject h3 {
    font-family: 'Gmarket Sans';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.05em;
    width: calc(100% - 115px);
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 3px 0 0 0;
}
.news .list ul li a .date {
    color: rgba(85, 85, 85, 0.8);
    width: 129px; /* 글자넓이 + 제목과의 여백 */
    text-align: right;
}
.news .more {
    position: absolute; /* wrapper 를 기준으로 정렬 */
    right: 0;
    top: 50px;
    border: 1px solid #0941CA;
    border-radius: 25px;
    padding: 1px 32px 3px 18px;
    color: #0941CA;
    font-size: 15px;
}
.news .more::after {
    content: "";
    position: absolute; /*more를 기준으로 정렬*/
    right: 14px;
    top: 7px;
    width: 13px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_41_5920' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='13'%3E%3Crect width='13' height='13' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_41_5920)'%3E%3Cpath d='M8.76154 7.04246H2.70841C2.55494 7.04246 2.4263 6.99055 2.32248 6.88673C2.21866 6.78291 2.16675 6.65426 2.16675 6.50079C2.16675 6.34732 2.21866 6.21867 2.32248 6.11485C2.4263 6.01103 2.55494 5.95913 2.70841 5.95913H8.76154L6.10737 3.30496C5.99904 3.19662 5.94713 3.07024 5.95164 2.92579C5.95616 2.78135 6.01258 2.65496 6.12091 2.54663C6.22925 2.44732 6.35564 2.39541 6.50008 2.3909C6.64453 2.38638 6.77091 2.43829 6.87925 2.54663L10.4542 6.12163C10.5084 6.17579 10.5468 6.23447 10.5694 6.29767C10.5919 6.36086 10.6032 6.42857 10.6032 6.50079C10.6032 6.57301 10.5919 6.64072 10.5694 6.70392C10.5468 6.76711 10.5084 6.82579 10.4542 6.87996L6.87925 10.455C6.77994 10.5543 6.65581 10.6039 6.50685 10.6039C6.35789 10.6039 6.22925 10.5543 6.12091 10.455C6.01258 10.3466 5.95841 10.218 5.95841 10.069C5.95841 9.92006 6.01258 9.79142 6.12091 9.68308L8.76154 7.04246Z' fill='%230941CA'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (min-width:641px){
     /* 641px 이상일때만 (641포함) */
                    .news .list ul li a:hover {
                        box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.25);
                    }
                    .news .list ul li a:hover .subject strong {
                        border: 1px solid #0941CA;
                        color: #0941CA;
                        background-color: unset;
                    }
                    .news .list ul li a:hover .subject h3 {
                        font-weight: 800;
                    }
                    .news .more:hover {
                        position: absolute; /* wrapper 를 기준으로 정렬 */
                        background-color: #0941CA;
                        color: #fff;
                    }
                    .news .more:hover::after {
                        background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_41_5920' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='13'%3E%3Crect width='13' height='13' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_41_5920)'%3E%3Cpath d='M8.76154 7.04246H2.70841C2.55494 7.04246 2.4263 6.99055 2.32248 6.88673C2.21866 6.78291 2.16675 6.65426 2.16675 6.50079C2.16675 6.34732 2.21866 6.21867 2.32248 6.11485C2.4263 6.01103 2.55494 5.95913 2.70841 5.95913H8.76154L6.10737 3.30496C5.99904 3.19662 5.94713 3.07024 5.95164 2.92579C5.95616 2.78135 6.01258 2.65496 6.12091 2.54663C6.22925 2.44732 6.35564 2.39541 6.50008 2.3909C6.64453 2.38638 6.77091 2.43829 6.87925 2.54663L10.4542 6.12163C10.5084 6.17579 10.5468 6.23447 10.5694 6.29767C10.5919 6.36086 10.6032 6.42857 10.6032 6.50079C10.6032 6.57301 10.5919 6.64072 10.5694 6.70392C10.5468 6.76711 10.5084 6.82579 10.4542 6.87996L6.87925 10.455C6.77994 10.5543 6.65581 10.6039 6.50685 10.6039C6.35789 10.6039 6.22925 10.5543 6.12091 10.455C6.01258 10.3466 5.95841 10.218 5.95841 10.069C5.95841 9.92006 6.01258 9.79142 6.12091 9.68308L8.76154 7.04246Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
}/* @media */
@media screen and (max-width:640px){
    /* 640px 이하일때만 (640포함) */
                    .news {
                        margin: 82px 0 0 0;
                        padding: 73px 0 82px 0;
                    }
                    .news .wrapper {
                        position: relative;
                    }
                    .news .tit {
                        margin-right: 31px;
                    }
                    .news .tit h2 {
                        color: #021C8B;
                        margin: 0 0 7px 0;
                    }
                    .news .list {
                        margin: 25px 0 0 0;
                    }
                    .news .list ul li a {
                        display: block; /* flex  */
                        padding: 15px 16px;
                    }
                    .news .list ul li:nth-last-child(1),
                    .news .list ul li:nth-last-child(2){
                        display: none;
                    }
                    .news .list ul li a .subject {
                        display: block;
                        width: auto;
                    }
                    .news .list ul li a .subject strong {
                        display: inline-block;
                        padding: 2px 13px;
                    }
                    .news .list ul li a .subject h3 {
                        font-size: 16px;
                        width: auto;
                        white-space: normal;
                        overflow: visible;
                        text-overflow: ellipsis;
                        margin: 8px 0 8px 0;
                    }
                    .news .list ul li a .date {
                        width: auto; /* 글자넓이 + 제목과의 여백 */
                        text-align: left;
                    }
                    .news .more {
                        top: 28px;
                        border-radius: 50%;
                        padding: 0;
                        width: 26px;
                        height: 26px;
                    }
                    .news .more::after {
                        right: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-size: 13px;
                    } 
                    .news .more span {
                        display: none;
                    }
}/* @media */
.webzine {
    background-color: #021C8B;
    color: #fff;
    padding: 147px 0 93px 0;
    position: relative;
}
.webzine .tit h2 {
    color: #DCFC73;
    margin: 0 0 8px 0;
}
.webzine .tit p {
    color: #fff 
}
.webzine .list {
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
    padding: 57px 0 20px 0;
    overflow: hidden;
}
.webzine .list ul {
    display: flex;
    gap: 24px;
    width: 1605px;
    /*
        li의 넓이 * li의 갯수 + li의 여백 * li의 갯수 
        297 * 5 + 24 * 5 = 1485 + 120 = 1605
    */
}
.webzine .list ul li {
    width: 297px;
}
.webzine .list ul li a {
    display: block;
    background-color: #fff;
    border-radius: 10px;
    color: #555555;
    overflow: hidden;
    box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s; 
}
.webzine .list ul li a .photo {
    overflow: hidden;
    height: 229px;
}
.webzine .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; /* 오버이후 부드럽게 효과 */
}
.webzine .list ul li a .txt {
    padding: 31px 22px 24px 22px;
}
.webzine .list ul li a .txt strong {
    font-size: 14px;
    color: #0941CA;
    display: block;
    /* 1줄제한 - 넓이가 제한이 되어야함 (block요소여야함) */
    white-space: nowrap;
    overflow: hidden; /* 가로스크롤바 삭제 */
    text-overflow: ellipsis;
}
.webzine .list ul li a .txt h3 {
    font-family: 'Gmarket Sans';
    font-size: 22px;
    color: #1d1d1d;
    font-weight: 800;
    letter-spacing: -0.05em;
    margin: 19px 0 12px 0;

    /* 2줄제한 - 조건 block요소여야함. 절대 padding주면 안됨 
        행간 지정 ...... 행간을 알면 안줘도 됨 ...
        높이 = 행간 * 줄 수 = 1.2 * 2 = 2.4 (단위는 em)
        
        2줄이상 제한 끝에 ..이 자동으로 생성 되지 않음..
    */
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
}
.webzine .list ul li a .txt p {
    height: 3em;
    overflow: hidden;
    margin: 0 0 25px 0;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.webzine .list ul li a .txt .date {
    display: block;
    font-size: 15px;
    color:#787878; 
}
.webzine .more {
    position: absolute; /* webzine을 기준으로 정렬 */
    right: calc(50% - 630px);
    /*
        브라우저 사이즈가 바뀌어도 가운데는 변하지 않음 
        그 가운데로부터 wrapper의 사이즈 1260의 절반을 더 오른쪽으로 이동 
    */
    top: 190px;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 1px 32px 3px 18px;
    color: #fff;
    font-size: 15px;
}
.webzine .more::after {
    content: "";
    position: absolute; /*more를 기준으로 정렬*/
    right: 14px;
    top: 7px;
    width: 13px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_41_5920' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='13'%3E%3Crect width='13' height='13' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_41_5920)'%3E%3Cpath d='M8.76154 7.04246H2.70841C2.55494 7.04246 2.4263 6.99055 2.32248 6.88673C2.21866 6.78291 2.16675 6.65426 2.16675 6.50079C2.16675 6.34732 2.21866 6.21867 2.32248 6.11485C2.4263 6.01103 2.55494 5.95913 2.70841 5.95913H8.76154L6.10737 3.30496C5.99904 3.19662 5.94713 3.07024 5.95164 2.92579C5.95616 2.78135 6.01258 2.65496 6.12091 2.54663C6.22925 2.44732 6.35564 2.39541 6.50008 2.3909C6.64453 2.38638 6.77091 2.43829 6.87925 2.54663L10.4542 6.12163C10.5084 6.17579 10.5468 6.23447 10.5694 6.29767C10.5919 6.36086 10.6032 6.42857 10.6032 6.50079C10.6032 6.57301 10.5919 6.64072 10.5694 6.70392C10.5468 6.76711 10.5084 6.82579 10.4542 6.87996L6.87925 10.455C6.77994 10.5543 6.65581 10.6039 6.50685 10.6039C6.35789 10.6039 6.22925 10.5543 6.12091 10.455C6.01258 10.3466 5.95841 10.218 5.95841 10.069C5.95841 9.92006 6.01258 9.79142 6.12091 9.68308L8.76154 7.04246Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (min-width:641px){  /* pc형 */
     /**************** 오버효과 ******************/
                .webzine .list ul li a:hover .photo img{
                    transform: scale3d(1.2, 1.2, 1);
                }
                .webzine .list ul li a:hover {
                    transform: translate(0, -10px);
                    box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.3);
                }
                .webzine .more:hover {
                    background-color: #fff;
                    color: #021C8B;
                }
                .webzine .more:hover::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_41_5920' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='13'%3E%3Crect width='13' height='13' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_41_5920)'%3E%3Cpath d='M8.76154 7.04246H2.70841C2.55494 7.04246 2.4263 6.99055 2.32248 6.88673C2.21866 6.78291 2.16675 6.65426 2.16675 6.50079C2.16675 6.34732 2.21866 6.21867 2.32248 6.11485C2.4263 6.01103 2.55494 5.95913 2.70841 5.95913H8.76154L6.10737 3.30496C5.99904 3.19662 5.94713 3.07024 5.95164 2.92579C5.95616 2.78135 6.01258 2.65496 6.12091 2.54663C6.22925 2.44732 6.35564 2.39541 6.50008 2.3909C6.64453 2.38638 6.77091 2.43829 6.87925 2.54663L10.4542 6.12163C10.5084 6.17579 10.5468 6.23447 10.5694 6.29767C10.5919 6.36086 10.6032 6.42857 10.6032 6.50079C10.6032 6.57301 10.5919 6.64072 10.5694 6.70392C10.5468 6.76711 10.5084 6.82579 10.4542 6.87996L6.87925 10.455C6.77994 10.5543 6.65581 10.6039 6.50685 10.6039C6.35789 10.6039 6.22925 10.5543 6.12091 10.455C6.01258 10.3466 5.95841 10.218 5.95841 10.069C5.95841 9.92006 6.01258 9.79142 6.12091 9.68308L8.76154 7.04246Z' fill='%230941CA'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
}/*@media*/
@media screen and (max-width:640px){ /* 모바일 */
                .webzine {
                    padding: 73px 0 82px 0;
                }
                .webzine .tit {
                    margin-right: 50px;
                }
                .webzine .tit h2 {
                    margin: 0 0 7px 0;
                }
                .webzine .list {
                    width: 100%; /* position속성이 있는 요소에는 넓이 auto주면 100% 안됨 */
                    left: 0;
                    padding: 30px 0 20px 20px;
                    overflow-x: auto;
                    /* overflow-x 좌우 auto
                    list 안에 있는 요소가 list보다 넓이가 더 크면 
                    그때만 가로스크롤바가 생김 */
                }
                .webzine .list ul {
                    gap: 16px;
                    width: 1330px;
                    /*
                        li의 넓이 * li의 갯수 + li의 여백 * li의 갯수 
                        250 * 5 + 216 * 5 = 1250 + 80 = 1330
                    */
                }
                .webzine .list ul li {
                    width: 250px;
                }
                .webzine .list ul li a .photo {
                    height: 175px;
                }
                .webzine .list ul li a .txt {
                    padding: 15px 13px 19px 13px;
                }
                .webzine .list ul li a .txt strong {
                    font-size: 14px;
                }
                .webzine .list ul li a .txt h3 {
                    font-size: 16px;
                    margin: 14px 0 4px 0;
                }
                .webzine .list ul li a .txt p {
                    font-size: 14px;
                    margin: 0 0 33px 0;
                }
                .webzine .list ul li a .txt .date {
                    font-size: 13px;
                }
                .webzine .more {
                    right: 20px;
                    top: 99px;
                    border-radius: 50%; /*동그라미*/
                    padding: 0;
                    width: 26px;
                    height: 26px;
                }
                .webzine .more::after {
                    right: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
                .webzine .more span {
                    display: none; /* 숨김 */
                }
}/*@media*/
.service {
    margin: 147px 0 0 0;
}
.service .tit h2 {
    color: #021C8B;
    margin: 0 0 16px 0;
}
.service .list {
    margin: 57px 0 0 0;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
}
.service .list ul li {
    width: calc(33.33% - 16px);
    /* 
        100% / 한줄에 나올 li의 갯수 = 100/3 = 33.33  
        한줄에 존재하는 여백의 총합 / 한줄에 나올 li의 갯수 =(24+24)/3 = 48/3 = 16
    */
}
.service .list ul li a {
    display: block;
    background-color: #E8EDF8;
    padding: 17px 0 22px 30px;
    position: relative;
    transition: transform 0.5s;
}
.service .list ul li a::after {
    content: "";
    position: absolute;
    right: 34px;
    top: 30px;
    width: 33px;
    height: 33px;
    border: 1px solid #0941CA;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_41_5975' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect x='0.615234' y='0.615234' width='17.7692' height='17.7692' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_41_5975)'%3E%3Cpath d='M12.5911 10.2412H4.31729C4.10751 10.2412 3.93167 10.1703 3.78976 10.0284C3.64786 9.88647 3.5769 9.71063 3.5769 9.50085C3.5769 9.29107 3.64786 9.11523 3.78976 8.97333C3.93167 8.83142 4.10751 8.76047 4.31729 8.76047H12.5911L8.9632 5.13258C8.81513 4.9845 8.74417 4.81175 8.75034 4.61431C8.75651 4.41688 8.83363 4.24412 8.98171 4.09604C9.12979 3.96031 9.30255 3.88935 9.49998 3.88318C9.69742 3.87701 9.87017 3.94797 10.0182 4.09604L14.9048 8.98258C14.9788 9.05662 15.0313 9.13683 15.0621 9.22321C15.093 9.30958 15.1084 9.40213 15.1084 9.50085C15.1084 9.59957 15.093 9.69212 15.0621 9.77849C15.0313 9.86487 14.9788 9.94508 14.9048 10.0191L10.0182 14.9057C9.88251 15.0414 9.71284 15.1093 9.50924 15.1093C9.30563 15.1093 9.12979 15.0414 8.98171 14.9057C8.83363 14.7576 8.7596 14.5817 8.7596 14.3781C8.7596 14.1745 8.83363 13.9987 8.98171 13.8506L12.5911 10.2412Z' fill='%230941CA'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 17px;
}
.service .list ul li h3 {
    font-size: 20px;
    font-weight: 800;
    color: #1d1d1d;
    font-family: 'Gmarket Sans';
    letter-spacing: -0.05em;
}
@media screen and (min-width:641px){
                /*********오버스타일 pc에서만*********/
                .service .list ul li:hover a {
                    background-color: #0941CA;
                    color: #ffffff;
                    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.4);
                    transform: translate(-10px, -10px);
                }
                .service .list ul li:hover a::after {
                    border-color: #fff;
                    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_41_5975' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect x='0.615234' y='0.615234' width='17.7692' height='17.7692' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_41_5975)'%3E%3Cpath d='M12.5911 10.2412H4.31729C4.10751 10.2412 3.93167 10.1703 3.78976 10.0284C3.64786 9.88647 3.5769 9.71063 3.5769 9.50085C3.5769 9.29107 3.64786 9.11523 3.78976 8.97333C3.93167 8.83142 4.10751 8.76047 4.31729 8.76047H12.5911L8.9632 5.13258C8.81513 4.9845 8.74417 4.81175 8.75034 4.61431C8.75651 4.41688 8.83363 4.24412 8.98171 4.09604C9.12979 3.96031 9.30255 3.88935 9.49998 3.88318C9.69742 3.87701 9.87017 3.94797 10.0182 4.09604L14.9048 8.98258C14.9788 9.05662 15.0313 9.13683 15.0621 9.22321C15.093 9.30958 15.1084 9.40213 15.1084 9.50085C15.1084 9.59957 15.093 9.69212 15.0621 9.77849C15.0313 9.86487 14.9788 9.94508 14.9048 10.0191L10.0182 14.9057C9.88251 15.0414 9.71284 15.1093 9.50924 15.1093C9.30563 15.1093 9.12979 15.0414 8.98171 14.9057C8.83363 14.7576 8.7596 14.5817 8.7596 14.3781C8.7596 14.1745 8.83363 13.9987 8.98171 13.8506L12.5911 10.2412Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
                .service .list ul li:hover h3 {
                    color: #fff;
                }
}/* @media */
@media screen and (max-width:640px){
                /******* 모바일 *******/
                .service {
                    margin: 73px 0 0 0;
                }
                .service .tit h2 {
                    margin: 0 0 7px 0;
                }
                .service .list {
                    margin: 30px 0 0 0;
                }
                .service .list ul {
                    display: block;
                }
                .service .list ul li {
                    width: auto;
                    margin: 0 0 11px 0;
                }
                .service .list ul li:last-child {
                    margin-bottom: 0;
                }
                .service .list ul li a {
                    padding: 19px 60px 19px 24px ;
                    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);  
                }
                .service .list ul li p {
                    display: none;
                }
                .service .list ul li a::after {
                    right: 24px;
                    top: 19px;
                    width: 23px;
                    height: 23px;
                    background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_41_6894' fill='white'%3E%3Cpath d='M6.58039 4.7875H1.01152C0.870322 4.7875 0.751968 4.73974 0.656454 4.64423C0.560941 4.54871 0.513184 4.43036 0.513184 4.28917C0.513184 4.14797 0.560941 4.02962 0.656454 3.9341C0.751968 3.83859 0.870322 3.79083 1.01152 3.79083H6.58039L4.13856 1.349C4.03889 1.24933 3.99114 1.13305 3.99529 1.00017C3.99944 0.867277 4.05135 0.750999 4.15102 0.651333C4.25068 0.559971 4.36696 0.512214 4.49985 0.508062C4.63274 0.503909 4.74902 0.551666 4.84868 0.651333L8.13768 3.94033C8.18752 3.99017 8.22282 4.04415 8.24358 4.10229C8.26434 4.16043 8.27472 4.22272 8.27472 4.28917C8.27472 4.35561 8.26434 4.4179 8.24358 4.47604C8.22282 4.53418 8.18752 4.58817 8.13768 4.638L4.84868 7.927C4.75732 8.01836 4.64312 8.06404 4.50608 8.06404C4.36904 8.06404 4.25068 8.01836 4.15102 7.927C4.05135 7.82733 4.00152 7.70898 4.00152 7.57194C4.00152 7.4349 4.05135 7.31654 4.15102 7.21687L6.58039 4.7875Z'/%3E%3C/mask%3E%3Cpath d='M6.58039 4.7875H1.01152C0.870322 4.7875 0.751968 4.73974 0.656454 4.64423C0.560941 4.54871 0.513184 4.43036 0.513184 4.28917C0.513184 4.14797 0.560941 4.02962 0.656454 3.9341C0.751968 3.83859 0.870322 3.79083 1.01152 3.79083H6.58039L4.13856 1.349C4.03889 1.24933 3.99114 1.13305 3.99529 1.00017C3.99944 0.867277 4.05135 0.750999 4.15102 0.651333C4.25068 0.559971 4.36696 0.512214 4.49985 0.508062C4.63274 0.503909 4.74902 0.551666 4.84868 0.651333L8.13768 3.94033C8.18752 3.99017 8.22282 4.04415 8.24358 4.10229C8.26434 4.16043 8.27472 4.22272 8.27472 4.28917C8.27472 4.35561 8.26434 4.4179 8.24358 4.47604C8.22282 4.53418 8.18752 4.58817 8.13768 4.638L4.84868 7.927C4.75732 8.01836 4.64312 8.06404 4.50608 8.06404C4.36904 8.06404 4.25068 8.01836 4.15102 7.927C4.05135 7.82733 4.00152 7.70898 4.00152 7.57194C4.00152 7.4349 4.05135 7.31654 4.15102 7.21687L6.58039 4.7875Z' fill='%230941CA'/%3E%3Cpath d='M6.58039 4.7875L7.2875 5.49461L8.99461 3.7875H6.58039V4.7875ZM6.58039 3.79083V4.79083H8.99461L7.2875 3.08373L6.58039 3.79083ZM4.13856 1.349L3.43145 2.05611L4.13856 1.349ZM4.15102 0.651333L3.47529 -0.0858216L3.45927 -0.0711389L3.44391 -0.0557743L4.15102 0.651333ZM4.84868 0.651333L4.14158 1.35844V1.35844L4.84868 0.651333ZM8.13768 3.94033L8.84479 3.23323V3.23323L8.13768 3.94033ZM8.13768 4.638L7.43058 3.93089L8.13768 4.638ZM4.15102 7.927L3.44391 8.63411L3.45927 8.64947L3.47529 8.66415L4.15102 7.927ZM4.15102 7.21687L4.85812 7.92398L4.15102 7.21687ZM6.58039 4.7875V3.7875H1.01152V4.7875V5.7875H6.58039V4.7875ZM1.01152 4.7875V3.7875C1.05551 3.7875 1.11928 3.79537 1.19105 3.82433C1.2637 3.85365 1.32191 3.89547 1.36356 3.93712L0.656454 4.64423L-0.0506524 5.35134C0.241653 5.64364 0.618488 5.7875 1.01152 5.7875V4.7875ZM0.656454 4.64423L1.36356 3.93712C1.40521 3.97877 1.44704 4.03698 1.47635 4.10963C1.50531 4.18141 1.51318 4.24517 1.51318 4.28917H0.513184H-0.486816C-0.486816 4.68219 -0.342958 5.05903 -0.0506524 5.35134L0.656454 4.64423ZM0.513184 4.28917H1.51318C1.51318 4.33316 1.50531 4.39693 1.47635 4.4687C1.44704 4.54135 1.40521 4.59956 1.36356 4.64121L0.656454 3.9341L-0.0506524 3.227C-0.342958 3.5193 -0.486816 3.89614 -0.486816 4.28917H0.513184ZM0.656454 3.9341L1.36356 4.64121C1.32191 4.68286 1.2637 4.72468 1.19105 4.754C1.11928 4.78296 1.05551 4.79083 1.01152 4.79083V3.79083V2.79083C0.618489 2.79083 0.241654 2.93469 -0.0506524 3.227L0.656454 3.9341ZM1.01152 3.79083V4.79083H6.58039V3.79083V2.79083H1.01152V3.79083ZM6.58039 3.79083L7.2875 3.08373L4.84567 0.641892L4.13856 1.349L3.43145 2.05611L5.87329 4.49794L6.58039 3.79083ZM4.13856 1.349L4.84567 0.641892C4.87807 0.674293 4.92086 0.728849 4.95301 0.807122C4.9857 0.886707 4.99686 0.965353 4.9948 1.0314L3.99529 1.00017L2.99578 0.968931C2.98244 1.39581 3.14974 1.7744 3.43145 2.05611L4.13856 1.349ZM3.99529 1.00017L4.9948 1.0314C4.993 1.08902 4.97982 1.1552 4.95047 1.22094C4.92157 1.28568 4.88547 1.3311 4.85812 1.35844L4.15102 0.651333L3.44391 -0.0557743C3.17624 0.211892 3.00839 0.56543 2.99578 0.968931L3.99529 1.00017ZM4.15102 0.651333L4.82674 1.38849C4.79639 1.41631 4.75162 1.4479 4.69289 1.47201C4.63393 1.49623 4.57742 1.50613 4.53109 1.50757L4.49985 0.508062L4.46862 -0.49145C4.09201 -0.479681 3.74817 -0.335963 3.47529 -0.0858216L4.15102 0.651333ZM4.49985 0.508062L4.53109 1.50757C4.46504 1.50964 4.38639 1.49847 4.30681 1.46578C4.22853 1.43364 4.17398 1.39084 4.14158 1.35844L4.84868 0.651333L5.55579 -0.0557743C5.27408 -0.337481 4.8955 -0.504791 4.46862 -0.49145L4.49985 0.508062ZM4.84868 0.651333L4.14158 1.35844L7.43058 4.64744L8.13768 3.94033L8.84479 3.23323L5.55579 -0.0557743L4.84868 0.651333ZM8.13768 3.94033L7.43058 4.64744C7.39055 4.60741 7.33748 4.53842 7.30184 4.43863L8.24358 4.10229L9.18532 3.76595C9.10815 3.54988 8.98448 3.37292 8.84479 3.23323L8.13768 3.94033ZM8.24358 4.10229L7.30184 4.43863C7.28121 4.38086 7.27472 4.32858 7.27472 4.28917H8.27472H9.27472C9.27472 4.11687 9.24748 3.94 9.18532 3.76595L8.24358 4.10229ZM8.27472 4.28917H7.27472C7.27472 4.24976 7.28121 4.19747 7.30184 4.1397L8.24358 4.47604L9.18532 4.81238C9.24748 4.63833 9.27472 4.46146 9.27472 4.28917H8.27472ZM8.24358 4.47604L7.30184 4.1397C7.33748 4.03991 7.39055 3.97092 7.43058 3.93089L8.13768 4.638L8.84479 5.34511C8.98448 5.20541 9.10815 5.02845 9.18532 4.81238L8.24358 4.47604ZM8.13768 4.638L7.43058 3.93089L4.14158 7.21989L4.84868 7.927L5.55579 8.63411L8.84479 5.34511L8.13768 4.638ZM4.84868 7.927L4.14158 7.21989C4.18674 7.17473 4.24818 7.13128 4.32312 7.10131C4.3969 7.07179 4.46188 7.06404 4.50608 7.06404V8.06404V9.06404C4.89048 9.06404 5.26463 8.92526 5.55579 8.63411L4.84868 7.927ZM4.50608 8.06404V7.06404C4.55076 7.06404 4.61 7.07192 4.67461 7.09686C4.73944 7.12188 4.79062 7.15673 4.82674 7.18985L4.15102 7.927L3.47529 8.66415C3.76215 8.9271 4.12261 9.06404 4.50608 9.06404V8.06404ZM4.15102 7.927L4.85812 7.21989C4.8908 7.25257 4.93055 7.30423 4.96053 7.37543C4.99074 7.44718 5.00152 7.51624 5.00152 7.57194H4.00152H3.00152C3.00152 7.98254 3.16269 8.35289 3.44391 8.63411L4.15102 7.927ZM4.00152 7.57194H5.00152C5.00152 7.62763 4.99074 7.6967 4.96053 7.76845C4.93055 7.83964 4.8908 7.8913 4.85812 7.92398L4.15102 7.21687L3.44391 6.50977C3.16269 6.79099 3.00152 7.16133 3.00152 7.57194H4.00152ZM4.15102 7.21687L4.85812 7.92398L7.2875 5.49461L6.58039 4.7875L5.87329 4.08039L3.44391 6.50977L4.15102 7.21687Z' fill='%230941CA' mask='url(%23path-1-inside-1_41_6894)'/%3E%3C/svg%3E%0A");
                    background-size: 8px;
                }
                .service .list ul li h3 {
                    font-size: 16px;
                    font-weight: 500;
                }
}/* @media */
footer {
    margin: 153px 0 0 0;
    padding: 84px 0 147px 0;
    background-color: #2b2b2b;
    color: #E6EAF5;
}
footer .f_nav ul{
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용 */
    gap: 5px 40px; /*좌우값 위아래값*/
    margin: 0 0 25px 0;
}
footer .f_nav ul li {
    position: relative; /* before/after 정렬의 기준 */
}
footer .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -22px;
    top: 7px;
    height: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
footer .f_nav ul li:last-child:after{
    display: none;
}
footer .f_nav ul li a strong {
    font-weight: 700;
}
footer .f_info {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용 */
    color: rgba(230, 234, 245, 0.8);
}
footer .copyright p {
    margin: 12px 0 0 0;
    color: rgba(255,255,255,0.6);
}