@import url(default.css);
@import url(font.css);
@import url(common.css);
/* index페이지 - 메인페이지만 적용되는 스타일 정의 
   그리고 다른 css를 호출 */
header {
    position: absolute; /* wrap를 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100;
    /* position 속성이 있는 요소끼리의 층수 - 제일 높은 숫자가 젤 위 */
    color: #fff;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex;/* h1 nav tnb를 좌우에 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
   }
header .logo a {
    display: block;
    width: 136px;
    height: 50px;
    background: url(../images/logo.svg) no-repeat center center / contain;
    /* 로고나 아이콘을 배경으로 지정할때만 contain
       이미지를 배경으로 넣으면 cover*/
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    padding: 0 30px; /*위아래 좌우 */
    line-height: 100px; /* header의 높이와 같은 값 */
    font-size: 17px;
    font-weight: 800;
}
header .tnb {
    display: flex; /* a를 좌우로 배치 */
    gap: 30px;
}
header .tnb a {
    display: block;
    position: relative; /* before 정렬의 기준 */
    padding: 24px 0 0 0; /* 글자 아래로 이동 - 아이콘 들어갈 자리를 padding 여백 */
    font-size: 12px;

}
header .tnb a::before {
    content: ""; /*필수*/
    position: absolute; /* a를 기준으로 정렬 */
    top: 0;
    /* absolute가운데 */
    left: 50%;
    transform: translate(-50%);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}
header .tnb a.icon01::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_1096' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_1096)'%3E%3Cpath d='M11.9998 5.21129C11.7871 5.21129 11.609 5.13946 11.4655 4.99579C11.3219 4.85196 11.25 4.67379 11.25 4.46129V2.26904C11.25 2.05654 11.322 1.87846 11.4658 1.73479C11.6096 1.59096 11.7878 1.51904 12.0003 1.51904C12.213 1.51904 12.391 1.59096 12.5345 1.73479C12.6782 1.87846 12.75 2.05654 12.75 2.26904V4.46129C12.75 4.67379 12.6781 4.85196 12.5343 4.99579C12.3905 5.13946 12.2123 5.21129 11.9998 5.21129ZM16.7963 7.20354C16.6578 7.06521 16.5901 6.89379 16.5933 6.68929C16.5965 6.48479 16.6673 6.30496 16.8058 6.14979L18.3308 4.59029C18.4813 4.43513 18.66 4.35754 18.8668 4.35754C19.0736 4.35754 19.2553 4.43579 19.4118 4.59229C19.5553 4.73579 19.627 4.91071 19.627 5.11704C19.627 5.32354 19.5545 5.49921 19.4095 5.64404L17.85 7.20354C17.7052 7.34854 17.5295 7.42104 17.323 7.42104C17.1167 7.42104 16.9411 7.34854 16.7963 7.20354ZM19.5385 12.7498C19.326 12.7498 19.1479 12.6779 19.004 12.534C18.8604 12.3902 18.7885 12.212 18.7885 11.9995C18.7885 11.7869 18.8604 11.6088 19.004 11.4653C19.1479 11.3216 19.326 11.2498 19.5385 11.2498H21.7308C21.9433 11.2498 22.1214 11.3217 22.265 11.4655C22.4089 11.6094 22.4808 11.7875 22.4808 12C22.4808 12.2127 22.4089 12.3908 22.265 12.5343C22.1214 12.678 21.9433 12.7498 21.7308 12.7498H19.5385ZM11.9998 22.4805C11.7871 22.4805 11.609 22.4086 11.4655 22.2648C11.3219 22.1211 11.25 21.943 11.25 21.7305V19.5478C11.25 19.3353 11.322 19.1572 11.4658 19.0135C11.6096 18.8697 11.7878 18.7978 12.0003 18.7978C12.213 18.7978 12.391 18.8697 12.5345 19.0135C12.6782 19.1572 12.75 19.3353 12.75 19.5478V21.7305C12.75 21.943 12.6781 22.1211 12.5343 22.2648C12.3905 22.4086 12.2123 22.4805 11.9998 22.4805ZM6.15979 7.20354L4.59054 5.66904C4.43537 5.51921 4.35779 5.33813 4.35779 5.12579C4.35779 4.91363 4.43537 4.73513 4.59054 4.59029C4.73537 4.45179 4.91312 4.38254 5.12379 4.38254C5.33445 4.38254 5.50795 4.45179 5.64429 4.59029L7.21354 6.15954C7.35204 6.29588 7.42129 6.46938 7.42129 6.68004C7.42129 6.89071 7.3527 7.06521 7.21554 7.20354C7.06587 7.34204 6.89129 7.41129 6.69179 7.41129C6.49212 7.41129 6.31479 7.34204 6.15979 7.20354ZM18.3405 19.4093L16.8058 17.8498C16.6673 17.6946 16.5965 17.5148 16.5933 17.3103C16.5901 17.1058 16.6571 16.9344 16.7943 16.796C16.9315 16.6575 17.103 16.5883 17.3088 16.5883C17.5145 16.5883 17.6949 16.6607 17.85 16.8055L19.4095 18.3403C19.5584 18.4786 19.6302 18.6526 19.625 18.8623C19.6199 19.072 19.5471 19.2543 19.4068 19.4093C19.2536 19.5645 19.0717 19.642 18.861 19.642C18.6502 19.642 18.4767 19.5645 18.3405 19.4093ZM2.26929 12.7498C2.05679 12.7498 1.8787 12.6779 1.73504 12.534C1.5912 12.3902 1.51929 12.212 1.51929 11.9995C1.51929 11.7869 1.5912 11.6088 1.73504 11.4653C1.8787 11.3216 2.05679 11.2498 2.26929 11.2498H4.46154C4.67404 11.2498 4.8522 11.3217 4.99604 11.4655C5.1397 11.6094 5.21154 11.7875 5.21154 12C5.21154 12.2127 5.1397 12.3908 4.99604 12.5343C4.8522 12.678 4.67404 12.7498 4.46154 12.7498H2.26929ZM4.60004 19.4093C4.46154 19.2645 4.3907 19.0872 4.38754 18.8775C4.38437 18.668 4.45204 18.494 4.59054 18.3555L6.14054 16.8055C6.28537 16.6607 6.45845 16.5883 6.65979 16.5883C6.86095 16.5883 7.03912 16.66 7.19429 16.8035C7.34945 16.96 7.42704 17.1405 7.42704 17.345C7.42704 17.5495 7.34945 17.7293 7.19429 17.8843L5.66929 19.4093C5.51412 19.5645 5.3312 19.642 5.12054 19.642C4.90987 19.642 4.73637 19.5645 4.60004 19.4093ZM12.0023 17.4998C10.4751 17.4998 9.17629 16.9653 8.10579 15.8963C7.03529 14.8273 6.50004 13.5292 6.50004 12.002C6.50004 10.4749 7.03454 9.17604 8.10354 8.10554C9.17254 7.03504 10.4706 6.49979 11.9978 6.49979C13.525 6.49979 14.8238 7.03429 15.8943 8.10329C16.9648 9.17229 17.5 10.4704 17.5 11.9975C17.5 13.5247 16.9655 14.8235 15.8965 15.894C14.8275 16.9645 13.5295 17.4998 12.0023 17.4998ZM12 15.9998C13.1 15.9998 14.0417 15.6081 14.825 14.8248C15.6084 14.0415 16 13.0998 16 11.9998C16 10.8998 15.6084 9.95813 14.825 9.17479C14.0417 8.39146 13.1 7.99979 12 7.99979C10.9 7.99979 9.95837 8.39146 9.17504 9.17479C8.3917 9.95813 8.00004 10.8998 8.00004 11.9998C8.00004 13.0998 8.3917 14.0415 9.17504 14.8248C9.95837 15.6081 10.9 15.9998 12 15.9998Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb a.icon02::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_1099' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_1099)'%3E%3Cpath d='M11.9808 21.4845C11.368 21.4845 10.7715 21.4131 10.1913 21.2703C9.6113 21.1273 9.00396 20.9006 8.3693 20.5903C7.6628 20.8941 6.98105 21.1108 6.32405 21.2403C5.66705 21.3698 4.97571 21.4512 4.25005 21.4845C4.03721 21.4948 3.85905 21.4281 3.71555 21.2843C3.57188 21.1404 3.50005 20.9623 3.50005 20.7498C3.50005 20.5371 3.57196 20.3595 3.7158 20.217C3.85946 20.0745 4.03755 19.997 4.25005 19.9845C4.60521 19.9678 4.94396 19.9397 5.2663 19.9C5.5888 19.8603 5.90713 19.7997 6.2213 19.7183C6.5353 19.6369 6.85288 19.5347 7.17405 19.4115C7.49521 19.2885 7.82696 19.1468 8.1693 18.9865C8.24613 18.9532 8.32305 18.9365 8.40005 18.9365C8.47688 18.9365 8.5538 18.9532 8.6308 18.9865C9.17446 19.2892 9.70105 19.5305 10.2105 19.7105C10.7202 19.8907 11.3103 19.9808 11.9808 19.9808C12.6513 19.9808 13.2414 19.8907 13.751 19.7105C14.2607 19.5305 14.7873 19.2892 15.3308 18.9865C15.4078 18.9532 15.4847 18.9365 15.5615 18.9365C15.6385 18.9365 15.7155 18.9532 15.7923 18.9865C16.1411 19.1532 16.476 19.2981 16.797 19.4213C17.1182 19.5443 17.4375 19.6448 17.7548 19.723C18.0721 19.8013 18.3944 19.8597 18.7215 19.898C19.0489 19.9365 19.3917 19.9653 19.75 19.9845C19.9625 19.997 20.1406 20.0749 20.2843 20.2183C20.4281 20.3617 20.5 20.5394 20.5 20.7513C20.5 20.9633 20.4282 21.141 20.2845 21.2845C20.1411 21.4282 19.9629 21.4948 19.75 21.4845C19.0169 21.4488 18.3189 21.3684 17.656 21.2433C16.993 21.1183 16.3103 20.9006 15.6078 20.5903C14.9731 20.9006 14.3632 21.1273 13.778 21.2703C13.1927 21.4131 12.5936 21.4845 11.9808 21.4845ZM11.9855 17.7885C11.1299 17.7885 10.3639 17.5161 9.68755 16.9713C9.01121 16.4263 8.52563 15.9807 8.2308 15.6345C7.89496 15.9795 7.55905 16.2808 7.22305 16.5385C6.88721 16.7962 6.54688 17.0198 6.20205 17.2095C5.91738 17.3622 5.6273 17.3616 5.3318 17.2078C5.0363 17.0539 4.84171 16.8168 4.74805 16.4963L3.2763 11.5975C3.2063 11.3518 3.22938 11.1232 3.34555 10.9115C3.46188 10.7 3.64355 10.5564 3.89055 10.4808L5.24055 10.0807V6.30775C5.24055 5.81058 5.41755 5.385 5.77155 5.031C6.12555 4.677 6.55105 4.5 7.04805 4.5H9.8173V3.404C9.8173 3.14783 9.90396 2.93317 10.0773 2.76C10.2505 2.58667 10.4651 2.5 10.7213 2.5H13.2403C13.4965 2.5 13.7111 2.58667 13.8843 2.76C14.0576 2.93317 14.1443 3.14783 14.1443 3.404V4.5H16.9135C17.4105 4.5 17.8361 4.677 18.1903 5.031C18.5443 5.385 18.7213 5.81058 18.7213 6.30775V10.0807L20.071 10.4808C20.3182 10.5564 20.4999 10.7 20.616 10.9115C20.7322 11.1232 20.7555 11.352 20.6858 11.598L19.223 16.5058C19.1295 16.8199 18.9366 17.0523 18.6443 17.2028C18.352 17.3534 18.0603 17.3557 17.7693 17.2095C17.4141 17.0198 17.0702 16.7978 16.7375 16.5433C16.4049 16.2888 16.0725 15.9858 15.7405 15.6345C15.4327 15.9807 14.9439 16.4263 14.274 16.9713C13.6042 17.5161 12.8414 17.7885 11.9855 17.7885ZM6.7403 6.26925V9.67125L11.5 8.30775C11.6604 8.25775 11.8206 8.23275 11.9808 8.23275C12.1411 8.23275 12.3014 8.25775 12.4615 8.30775L17.2213 9.67125V6.26925C17.2213 6.19225 17.194 6.12817 17.1395 6.077C17.085 6.02567 17.0193 6 16.9423 6H7.0193C6.9423 6 6.87655 6.02567 6.82205 6.077C6.76755 6.12817 6.7403 6.19225 6.7403 6.26925ZM11.9808 9.7385L4.93455 11.7463L6.03655 15.5963C6.33788 15.3963 6.61388 15.1713 6.86455 14.9213C7.11521 14.6713 7.3668 14.4103 7.6193 14.1385C7.8013 13.9347 8.02496 13.8369 8.2903 13.8453C8.5558 13.8536 8.7738 13.9616 8.9443 14.1693C9.3533 14.6449 9.80421 15.117 10.297 15.5855C10.79 16.0542 11.369 16.2885 12.034 16.2885C12.682 16.2885 13.2448 16.0517 13.7223 15.578C14.1998 15.1042 14.643 14.6346 15.052 14.1693C15.22 13.9599 15.4376 13.8515 15.7048 13.844C15.9721 13.8365 16.1962 13.9347 16.377 14.1385C16.6295 14.4103 16.8811 14.6713 17.1318 14.9213C17.3825 15.1713 17.6585 15.3963 17.9598 15.5963L19.0615 11.7463L11.9808 9.7385Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb a.icon03::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_1102' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_1102)'%3E%3Cpath d='M5.45975 16.6347C4.97642 16.6347 4.61675 16.7357 4.38075 16.9377C4.14492 17.1396 3.86092 17.2886 3.52875 17.3847C3.24808 17.4552 3.0065 17.4306 2.804 17.3107C2.60133 17.1909 2.5 17.0079 2.5 16.7617C2.5 16.5759 2.57467 16.3983 2.724 16.229C2.87333 16.0598 3.10767 15.8938 3.427 15.731C3.54883 15.6553 3.79367 15.5371 4.1615 15.3762C4.5295 15.2154 4.98592 15.135 5.53075 15.135C6.38975 15.135 6.98242 15.3016 7.30875 15.635C7.63492 15.9683 8.116 16.135 8.752 16.135C9.38783 16.135 9.86475 15.9683 10.1828 15.635C10.5008 15.3016 11.1046 15.135 11.9943 15.135C12.8839 15.135 13.498 15.3016 13.8365 15.635C14.175 15.9683 14.6622 16.135 15.298 16.135C15.934 16.135 16.4032 15.9683 16.7057 15.635C17.0082 15.3016 17.5993 15.135 18.4788 15.135C18.9006 15.135 19.2971 15.2016 19.6682 15.335C20.0394 15.4683 20.3731 15.6138 20.6693 15.7715C20.9513 15.9176 21.1602 16.0753 21.296 16.2445C21.432 16.4136 21.5 16.5861 21.5 16.7617C21.5 17.0016 21.4003 17.183 21.201 17.306C21.0017 17.429 20.7616 17.4552 20.4807 17.3847C20.1551 17.2951 19.8653 17.1476 19.6115 16.9425C19.3577 16.7373 18.9974 16.6347 18.5308 16.6347C17.9012 16.6347 17.4243 16.8014 17.1 17.1347C16.7757 17.4681 16.1718 17.6347 15.2885 17.6347C14.4052 17.6347 13.7942 17.4681 13.4557 17.1347C13.1172 16.8014 12.6301 16.6347 11.9943 16.6347C11.3584 16.6347 10.8799 16.8014 10.5588 17.1347C10.2376 17.4681 9.63017 17.6347 8.7365 17.6347C7.843 17.6347 7.235 17.4681 6.9125 17.1347C6.59 16.8014 6.10575 16.6347 5.45975 16.6347ZM5.45975 12.7502C4.98658 12.7502 4.6295 12.8511 4.3885 13.053C4.1475 13.255 3.86092 13.4041 3.52875 13.5002C3.24808 13.5707 3.0065 13.5461 2.804 13.4262C2.60133 13.3064 2.5 13.1234 2.5 12.8772C2.5 12.6912 2.57467 12.5136 2.724 12.3445C2.87333 12.1753 3.10767 12.0093 3.427 11.8465C3.54883 11.7708 3.79367 11.6525 4.1615 11.4915C4.5295 11.3306 4.98592 11.2502 5.53075 11.2502C6.38975 11.2502 6.98242 11.4169 7.30875 11.7502C7.63492 12.0836 8.116 12.2502 8.752 12.2502C9.38783 12.2502 9.86475 12.0836 10.1828 11.7502C10.5008 11.4169 11.1046 11.2502 11.9943 11.2502C12.8839 11.2502 13.498 11.4169 13.8365 11.7502C14.175 12.0836 14.6571 12.2502 15.2828 12.2502C15.9084 12.2502 16.3777 12.0836 16.6905 11.7502C17.0032 11.4169 17.5942 11.2502 18.4635 11.2502C19.0083 11.2502 19.4663 11.3323 19.8375 11.4965C20.2087 11.6605 20.4552 11.7803 20.577 11.856C20.9 12.0226 21.1346 12.1881 21.2808 12.3522C21.4269 12.5162 21.5 12.6912 21.5 12.8772C21.5 13.1169 21.3978 13.2983 21.1933 13.4215C20.9888 13.5445 20.7461 13.5707 20.4653 13.5002C20.1397 13.4104 19.8526 13.263 19.6038 13.058C19.3551 12.8528 18.9974 12.7502 18.5308 12.7502C17.9012 12.7502 17.4243 12.9169 17.1 13.2502C16.7757 13.5836 16.1718 13.7502 15.2885 13.7502C14.4052 13.7502 13.7942 13.5836 13.4557 13.2502C13.1172 12.9169 12.6301 12.7502 11.9943 12.7502C11.3584 12.7502 10.885 12.9169 10.574 13.2502C10.2632 13.5836 9.66092 13.7502 8.76725 13.7502C7.87375 13.7502 7.25808 13.5836 6.92025 13.2502C6.58242 12.9169 6.09558 12.7502 5.45975 12.7502ZM5.46925 8.86547C5.00258 8.86547 4.64392 8.96489 4.39325 9.16372C4.14258 9.36239 3.85442 9.50664 3.52875 9.59647C3.24808 9.66697 3.0065 9.64222 2.804 9.52222C2.60133 9.40239 2.5 9.22264 2.5 8.98297C2.5 8.79697 2.57467 8.62097 2.724 8.45497C2.87333 8.28897 3.10767 8.12456 3.427 7.96172C3.54883 7.88606 3.79367 7.76781 4.1615 7.60697C4.5295 7.44614 4.98592 7.36572 5.53075 7.36572C6.38975 7.36572 6.98242 7.53239 7.30875 7.86572C7.63492 8.19906 8.116 8.36572 8.752 8.36572C9.38783 8.36572 9.86475 8.19906 10.1828 7.86572C10.5008 7.53239 11.1046 7.36572 11.9943 7.36572C12.8839 7.36572 13.498 7.53239 13.8365 7.86572C14.175 8.19906 14.6571 8.36572 15.2828 8.36572C15.9084 8.36572 16.3777 8.19906 16.6905 7.86572C17.0032 7.53239 17.5942 7.36572 18.4635 7.36572C19.0083 7.36572 19.4663 7.44772 19.8375 7.61172C20.2087 7.77589 20.4552 7.89581 20.577 7.97147C20.9 8.13814 21.1346 8.30347 21.2808 8.46747C21.4269 8.63164 21.5 8.80664 21.5 8.99247C21.5 9.23231 21.3978 9.41372 21.1933 9.53672C20.9888 9.65989 20.7461 9.68614 20.4653 9.61547C20.1397 9.52581 19.8526 9.37839 19.6038 9.17322C19.3551 8.96806 18.9974 8.86547 18.5308 8.86547C17.9012 8.86547 17.4243 9.03214 17.1 9.36547C16.7757 9.69881 16.1718 9.86547 15.2885 9.86547C14.4052 9.86547 13.7942 9.69881 13.4557 9.36547C13.1172 9.03214 12.6301 8.86547 11.9943 8.86547C11.3584 8.86547 10.885 9.03214 10.574 9.36547C10.2632 9.69881 9.66092 9.86547 8.76725 9.86547C7.87375 9.86547 7.25967 9.69881 6.925 9.36547C6.59033 9.03214 6.10508 8.86547 5.46925 8.86547Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    border-bottom-right-radius: 190px;
}   
.visual .wrapper {
    height: 100vh; /* 브라우저의 높이에 딱 맞게 */
    min-height: 640px;
    /* 높이가 변하는것은 막지 않지만 최소한 640px*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* 사진공방은 absolite 제외
    h2만 wrapper의 영역 안에서 정렬하기위해서 flex*/
    position: relative; /* picture 정렬의 기준 */
}
.visual .picture {
    position: absolute; /* wrapper를 기준으로 정렬 - before 정렬의 기준 */
    right: 0;
    bottom: 0;
    transform: translate(50%,50%);
    /* 나의 넓이의 절반을 오른쪽으로 이동 50%,
       나의 높이의 절반을 아래로 이동 50%*/
    width: 190px;
    height: 190px;
    border-radius: 50%; /* 동그라미 */
    background-color:#033E8A ;
    color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2); /* 그림자 */
    text-align: center;
    font-size: 17px;
    padding: 100px 0 0 0;
}
.visual .picture::before {
    content: ""; /* 필수값*/
    position: absolute; /* picture을 기준으로 정렬 */
    top: 45px;
    /* 좌우에 가운데 */
    left: 50%;
    transform: translate(-50%); 
    width: 45px;
    height: 45px;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_1112' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='45' height='45'%3E%3Crect width='45' height='45' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_1112)'%3E%3Cpath d='M5.625 39.375C4.59375 39.375 3.71094 39.0078 2.97656 38.2734C2.24219 37.5391 1.875 36.6562 1.875 35.625V13.125C1.875 12.0938 2.24219 11.2109 2.97656 10.4766C3.71094 9.74219 4.59375 9.375 5.625 9.375H11.5312L15 5.625H26.25V9.375H16.6406L13.2188 13.125H5.625V35.625H35.625V18.75H39.375V35.625C39.375 36.6562 39.0078 37.5391 38.2734 38.2734C37.5391 39.0078 36.6562 39.375 35.625 39.375H5.625ZM35.625 13.125V9.375H31.875V5.625H35.625V1.875H39.375V5.625H43.125V9.375H39.375V13.125H35.625ZM20.625 32.8125C22.9688 32.8125 24.9609 31.9922 26.6016 30.3516C28.2422 28.7109 29.0625 26.7188 29.0625 24.375C29.0625 22.0312 28.2422 20.0391 26.6016 18.3984C24.9609 16.7578 22.9688 15.9375 20.625 15.9375C18.2812 15.9375 16.2891 16.7578 14.6484 18.3984C13.0078 20.0391 12.1875 22.0312 12.1875 24.375C12.1875 26.7188 13.0078 28.7109 14.6484 30.3516C16.2891 31.9922 18.2812 32.8125 20.625 32.8125ZM20.625 29.0625C19.3125 29.0625 18.2031 28.6094 17.2969 27.7031C16.3906 26.7969 15.9375 25.6875 15.9375 24.375C15.9375 23.0625 16.3906 21.9531 17.2969 21.0469C18.2031 20.1406 19.3125 19.6875 20.625 19.6875C21.9375 19.6875 23.0469 20.1406 23.9531 21.0469C24.8594 21.9531 25.3125 23.0625 25.3125 24.375C25.3125 25.6875 24.8594 26.7969 23.9531 27.7031C23.0469 28.6094 21.9375 29.0625 20.625 29.0625Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .picture:hover {
    background-color:#fff ;
    color: #033E8A;
}
.visual .picture:hover:before{
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_1112' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='45' height='45'%3E%3Crect width='45' height='45' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_1112)'%3E%3Cpath d='M5.625 39.375C4.59375 39.375 3.71094 39.0078 2.97656 38.2734C2.24219 37.5391 1.875 36.6562 1.875 35.625V13.125C1.875 12.0938 2.24219 11.2109 2.97656 10.4766C3.71094 9.74219 4.59375 9.375 5.625 9.375H11.5312L15 5.625H26.25V9.375H16.6406L13.2188 13.125H5.625V35.625H35.625V18.75H39.375V35.625C39.375 36.6562 39.0078 37.5391 38.2734 38.2734C37.5391 39.0078 36.6562 39.375 35.625 39.375H5.625ZM35.625 13.125V9.375H31.875V5.625H35.625V1.875H39.375V5.625H43.125V9.375H39.375V13.125H35.625ZM20.625 32.8125C22.9688 32.8125 24.9609 31.9922 26.6016 30.3516C28.2422 28.7109 29.0625 26.7188 29.0625 24.375C29.0625 22.0312 28.2422 20.0391 26.6016 18.3984C24.9609 16.7578 22.9688 15.9375 20.625 15.9375C18.2812 15.9375 16.2891 16.7578 14.6484 18.3984C13.0078 20.0391 12.1875 22.0312 12.1875 24.375C12.1875 26.7188 13.0078 28.7109 14.6484 30.3516C16.2891 31.9922 18.2812 32.8125 20.625 32.8125ZM20.625 29.0625C19.3125 29.0625 18.2031 28.6094 17.2969 27.7031C16.3906 26.7969 15.9375 25.6875 15.9375 24.375C15.9375 23.0625 16.3906 21.9531 17.2969 21.0469C18.2031 20.1406 19.3125 19.6875 20.625 19.6875C21.9375 19.6875 23.0469 20.1406 23.9531 21.0469C24.8594 21.9531 25.3125 23.0625 25.3125 24.375C25.3125 25.6875 24.8594 26.7969 23.9531 27.7031C23.0469 28.6094 21.9375 29.0625 20.625 29.0625Z' fill='%23033E8A'/%3E%3C/g%3E%3C/svg%3E%0A");
} 
@media screen and (max-width:1720px) {
    /* 브라우저의 넓이가 1720px이하일 때만 적용되는 css*/
    .visual .picture {
        transform: translate(0,50%);
    }
}

.culture {
    margin: 171px 0 0 0;
}
.culture .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.culture .tit h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 28px 0;
}
.culture .list {
    margin: 35px 0 0 0;
}

.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: calc(33.3% - 16px);
    /*
        100% li의 갯수  = 100/3 =33.3%
        li 사이의 여백 총 합 = 24+24 = 48 / li의 갯수 = 16
    */
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    /* block요소라서 넓이가 100% 들어가 있음 */
    height: 278px;
    overflow: hidden;
}
.culture .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; 
    /* 오버효과를 주기전에 동일한 선택자에
       transition을 주면 변화되는 값이 부드럽게 바뀜 */
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.culture .list ul li a h3 {
    margin: 26px 0 14px 0;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
}
.culture .list ul li a p {
    font-size: 16px;
}
.culture .list ul li a span {
    font-size: 13px;
    margin: 14px 0 0 0;
    padding: 0 19px 0 0;
    color: #033E8A;
    display: inline-block;
    position: relative; /* before정렬의 기준 */
}
.culture .list ul li a span::after {
    content: "";
    position: absolute; /* span을 기준으로 정렬 */
    right: 0;
    top: 2px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_1142' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_1142)'%3E%3Cpath d='M9.04688 7.50049L4.45313 2.90674C4.29688 2.75049 4.22136 2.56559 4.22657 2.35205C4.23178 2.13851 4.31251 1.95361 4.46876 1.79736C4.62501 1.64111 4.8099 1.56299 5.02345 1.56299C5.23699 1.56299 5.42188 1.64111 5.57813 1.79736L10.375 6.60986C10.5 6.73486 10.5938 6.87549 10.6563 7.03174C10.7188 7.18799 10.75 7.34424 10.75 7.50049C10.75 7.65674 10.7188 7.81299 10.6563 7.96924C10.5938 8.12549 10.5 8.26611 10.375 8.39111L5.56251 13.2036C5.40626 13.3599 5.22397 13.4354 5.01563 13.4302C4.8073 13.425 4.62501 13.3442 4.46876 13.188C4.31251 13.0317 4.23438 12.8468 4.23438 12.6333C4.23438 12.4198 4.31251 12.2349 4.46876 12.0786L9.04688 7.50049Z' fill='%23033E8A'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.culture .more {
    font-size: 13px;
    position: absolute; /* wrapper */
    right: 0;
    top: 110px;
    color: #033E8A;
    padding: 0 17px 0 0;
}
.culture .more::after {
    content: ""; /* more를 기준으로 정렬 */
    position: absolute; 
    right: 0;
    top: 2px;
    width: 13px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_86_36' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='13'%3E%3Crect width='13' height='13' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_86_36)'%3E%3Cpath d='M6.5 11.375C6.34653 11.375 6.21788 11.3231 6.11406 11.2193C6.01024 11.1155 5.95833 10.9868 5.95833 10.8333V7.04167H2.16667C2.01319 7.04167 1.88455 6.98976 1.78073 6.88594C1.67691 6.78212 1.625 6.65347 1.625 6.5C1.625 6.34653 1.67691 6.21788 1.78073 6.11406C1.88455 6.01024 2.01319 5.95833 2.16667 5.95833H5.95833V2.16667C5.95833 2.01319 6.01024 1.88455 6.11406 1.78073C6.21788 1.67691 6.34653 1.625 6.5 1.625C6.65347 1.625 6.78212 1.67691 6.88594 1.78073C6.98976 1.88455 7.04167 2.01319 7.04167 2.16667V5.95833H10.8333C10.9868 5.95833 11.1155 6.01024 11.2193 6.11406C11.3231 6.21788 11.375 6.34653 11.375 6.5C11.375 6.65347 11.3231 6.78212 11.2193 6.88594C11.1155 6.98976 10.9868 7.04167 10.8333 7.04167H7.04167V10.8333C7.04167 10.9868 6.98976 11.1155 6.88594 11.2193C6.78212 11.3231 6.65347 11.375 6.5 11.375Z' fill='%23033E8A'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
} 
.culture .more:hover{
    font-weight: 800;
}
.culture .more:hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 4px);
    height: 1px;
    background-color: #033E8A;
}
.tour {
    margin: 104px 0 0 0;
    background-color: #f7f7f7;
    padding: 155px 0 145px 0;
}
.tour .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.tour .tit h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 28px 0;
}
.tour .list {
    margin: 35px 0 0 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li {
    width: 202px;
}
.tour .list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 384px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding: 0 0 33px 0;
}
.tour .list ul li.list01 a {
   background-image: url(../images/tour_list01.jpg); 
}
.tour .list ul li.list02 a {
    background-image: url(../images/tour_list02.jpg);
}
.tour .list ul li.list03 a {
    background-image: url(../images/tour_list03.jpg);
}
.tour .list ul li.list04 a {
    background-image: url(../images/tour_list04.jpg);
}
.tour .list ul li a h3 {
    font-size: 22px;
    font-weight: 800;
    text-align: center;
}
.tour .list ul li a p {
    display: none; /* 숨김 */
}
/******** on이 추가 됐을 때 (열렸을 때) ********/

.tour .list ul li.on {
    width: 618px;
}
.tour .list ul li.on a {
    padding: 0 24px 33px 24px;
    align-items: flex-start;
} 
.tour .list ul li.on a h3 {
    text-align: left;
    padding: 0 39px 0 0;
    position: relative;
}
.tour .list ul li.on a h3::after {
    content: "";
    position: absolute; /* h3를 기준으로 정렬 */
    right: 0;
    top: 5px;
    width: 23px;
    height: 23px;
    border: 1px solid #fff;
    border-radius: 50%; /* 동그라미 */
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_92_103' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='13'%3E%3Crect width='13' height='13' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_92_103)'%3E%3Cpath d='M7.84066 6.49984L3.85941 2.51859C3.724 2.38317 3.65855 2.22293 3.66306 2.03786C3.66757 1.85279 3.73754 1.69255 3.87296 1.55713C4.00837 1.42171 4.16862 1.354 4.35369 1.354C4.53875 1.354 4.699 1.42171 4.83441 1.55713L8.99171 5.72796C9.10004 5.8363 9.18129 5.95817 9.23546 6.09359C9.28962 6.229 9.31671 6.36442 9.31671 6.49984C9.31671 6.63525 9.28962 6.77067 9.23546 6.90609C9.18129 7.0415 9.10004 7.16338 8.99171 7.27171L4.82087 11.4425C4.68546 11.578 4.52747 11.6434 4.34691 11.6389C4.16636 11.6344 4.00837 11.5644 3.87296 11.429C3.73754 11.2936 3.66983 11.1333 3.66983 10.9483C3.66983 10.7632 3.73754 10.603 3.87296 10.4675L7.84066 6.49984Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.tour .list ul li.on a p {
    display: block; /* 나타남 */
    margin: 9px 0 0 0;
}

.tour .more {
    font-size: 13px;
    position: absolute; /* wrapper */
    right: 0;
    top: 85px;
    color: #033E8A;
    padding: 0 17px 0 0;
}
.tour .more::after {
    content: ""; /* more를 기준으로 정렬 */
    position: absolute; 
    right: 0;
    top: 2px;
    width: 13px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_86_36' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='13'%3E%3Crect width='13' height='13' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_86_36)'%3E%3Cpath d='M6.5 11.375C6.34653 11.375 6.21788 11.3231 6.11406 11.2193C6.01024 11.1155 5.95833 10.9868 5.95833 10.8333V7.04167H2.16667C2.01319 7.04167 1.88455 6.98976 1.78073 6.88594C1.67691 6.78212 1.625 6.65347 1.625 6.5C1.625 6.34653 1.67691 6.21788 1.78073 6.11406C1.88455 6.01024 2.01319 5.95833 2.16667 5.95833H5.95833V2.16667C5.95833 2.01319 6.01024 1.88455 6.11406 1.78073C6.21788 1.67691 6.34653 1.625 6.5 1.625C6.65347 1.625 6.78212 1.67691 6.88594 1.78073C6.98976 1.88455 7.04167 2.01319 7.04167 2.16667V5.95833H10.8333C10.9868 5.95833 11.1155 6.01024 11.2193 6.11406C11.3231 6.21788 11.375 6.34653 11.375 6.5C11.375 6.65347 11.3231 6.78212 11.2193 6.88594C11.1155 6.98976 10.9868 7.04167 10.8333 7.04167H7.04167V10.8333C7.04167 10.9868 6.98976 11.1155 6.88594 11.2193C6.78212 11.3231 6.65347 11.375 6.5 11.375Z' fill='%23033E8A'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
} 
.tour .more:hover{
    font-weight: 800;
}
.tour .more:hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 4px);
    height: 1px;
    background-color: #033E8A;
}
.community {
    background-image: url(../images/community_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 997px;
    color: #fff;
    padding: 230px 0 0 ;
}
.community .wrapper {
    display: flex; /*tit/inner를 좌우로 배치*/
    justify-content: space-between; /* 양끝 */
}
.community .tit {
    margin: 15px 0 0 0;
}
.community .tit h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0 0 32px 0;
}
.community .inner {
    display: flex; /*notice/link를 좌우로 배치 */
    align-items: flex-end; /* 아래로 정렬*/
    gap: 12px;
}
.community .inner .notice {
    width: 540px;
    height: 408px;
    border-radius: 10px;
    background-color: rgba(0, 30, 69, 0.8);
    backdrop-filter: blur(10px);
    padding: 43px 47px 0 43px;
    /*높이로 제한 중이라 하단여백 안줌 */
    position: relative;
}
.community .inner .notice:hover {
    background-color: #033E8A;
}
.community .inner .notice h3{
    font-size: 22px;
    font-weight: 800;
}
.community .inner .notice .list {
    margin: 28px 0 0 0;
}
.community .inner .notice .list ul li {
    border-top: 1px solid rgba(255,255,255,0.2);
}
.community .inner .notice .list ul li:first-child {
    border-top: 0;
}
.community .inner .notice .list ul li a {
    display: flex; /* strong span을 좌우배치 */
    justify-content: space-between;
    padding: 9px 0 9px 0;
}
.community .inner .notice .list ul li a strong {
    width: calc(100% - 90px);
    /* 100%에서 
       옆에 날짜 넓이 + 둘사이여백을 뺌
       
       1줄제한*/
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       color: #91E0EF;
}
.community .inner .notice .list ul li a:hover strong  {
    font-weight: 800;
}
.community .inner .notice .list ul li a span {
    width: 80px;
    font-size: 15px;
    /* 날짜는 자리수가 늘지 않음 
       날짜표시는 대부분 01 02 로 함 
       25-1-1 이렇게 표시하면 자릿수가 변동됨 
       그래서 날짜표기는 25-01-01 이렇게 표기 - 자릿수를 변동시키지 않기 위해
       */ 
    color: rgba(255,255,255,0.8);
}
.community .inner .notice .more {
    position: absolute; /* notice를 기준으로 정렬 ,after 정렬의 기준 */
    font-size: 13px;
    right: 48px;
    top: 50px;
    padding: 0 18px 0 0; /* 아이콘을 배치할 영역까지 more로 잡혀야함 */
    color: rgba(255,255,255,0.9);
}
.community .inner .notice .more::after {
    content: "";
    position: absolute; /* more를 기준으로 */
    right: 0;
    top: 0;
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_1193' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_1193)'%3E%3Cpath d='M7.7915 9.20866H4.24984C4.04914 9.20866 3.88091 9.14078 3.74515 9.00501C3.60939 8.86925 3.5415 8.70102 3.5415 8.50033C3.5415 8.29963 3.60939 8.1314 3.74515 7.99564C3.88091 7.85987 4.04914 7.79199 4.24984 7.79199H7.7915V4.25033C7.7915 4.04963 7.85939 3.8814 7.99515 3.74564C8.13091 3.60987 8.29914 3.54199 8.49984 3.54199C8.70053 3.54199 8.86876 3.60987 9.00453 3.74564C9.14029 3.8814 9.20817 4.04963 9.20817 4.25033V7.79199H12.7498C12.9505 7.79199 13.1188 7.85987 13.2545 7.99564C13.3903 8.1314 13.4582 8.29963 13.4582 8.50033C13.4582 8.70102 13.3903 8.86925 13.2545 9.00501C13.1188 9.14078 12.9505 9.20866 12.7498 9.20866H9.20817V12.7503C9.20817 12.951 9.14029 13.1193 9.00453 13.255C8.86876 13.3908 8.70053 13.4587 8.49984 13.4587C8.29914 13.4587 8.13091 13.3908 7.99515 13.255C7.85939 13.1193 7.7915 12.951 7.7915 12.7503V9.20866Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.community .inner .notice .more:hover {
    font-weight: 800;
}
.community .inner .notice .more:hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 5px);
    height: 1px;
    background-color: rgba(255,255,255,0.3);
}
.community .inner .link {
    width: 310px;
}
.community .inner .link ul {
    display: flex;
    flex-wrap: wrap; /*여러줄 허용*/
    gap: 12px;
}
.community .inner .link ul li {
    width: calc(50% - 6px);
    /*
        100/한줄에 들어가는 li갯수 = 100/2 = 50%
        한줄에 들어가는 여백의 총합/한줄에 들어가는 li갯수 12/2 = 6
    */
}
.community .inner .link ul li a {
    display: block;
    height: 148px;
    border-radius: 10px;
    background-color: rgba(0, 30, 69, 0.8);
    backdrop-filter: blur(10px);
    padding: 19px 0 0 19px;
    font-size: 20px;
    font-weight: 800;
    position: relative; /* after 정렬의 기준 */
}
.community .inner .link ul li a:hover {
    background-color: #033E8A;
}
.community .inner .link ul li a::after {
    content: "";
    position: absolute;
    right: 19px;
    bottom: 19px;
    width: 30px;
    height: 30px;
}
.community .inner .link ul li.link01 a::after{
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_1196' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_1196)'%3E%3Cpath d='M9.2041 13.335C8.68327 13.335 8.24056 13.5173 7.87598 13.8818C7.51139 14.2464 7.3291 14.6891 7.3291 15.21C7.3291 15.7308 7.51139 16.1735 7.87598 16.5381C8.24056 16.9027 8.68327 17.085 9.2041 17.085C9.72494 17.085 10.1676 16.9027 10.5322 16.5381C10.8968 16.1735 11.0791 15.7308 11.0791 15.21C11.0791 14.6891 10.8968 14.2464 10.5322 13.8818C10.1676 13.5173 9.72494 13.335 9.2041 13.335ZM20.4541 9.58496C22.1208 9.58496 23.4749 10.0485 24.5166 10.9756C25.5583 11.9027 26.0791 13.1058 26.0791 14.585V19.585C26.0791 20.2725 25.8343 20.861 25.3447 21.3506C24.8551 21.8402 24.2666 22.085 23.5791 22.085L26.0791 24.585H14.8291L17.3291 22.085C16.6416 22.085 16.0531 21.8402 15.5635 21.3506C15.0739 20.861 14.8291 20.2725 14.8291 19.585V14.585C14.8291 13.1058 15.3499 11.9027 16.3916 10.9756C17.4333 10.0485 18.7874 9.58496 20.4541 9.58496ZM20.4541 17.71C20.2041 17.71 19.9854 17.8037 19.7979 17.9912C19.6104 18.1787 19.5166 18.3975 19.5166 18.6475C19.5166 18.8975 19.6104 19.1162 19.7979 19.3037C19.9854 19.4912 20.2041 19.585 20.4541 19.585C20.7041 19.585 20.9229 19.4912 21.1104 19.3037C21.2979 19.1162 21.3916 18.8975 21.3916 18.6475C21.3916 18.3975 21.2979 18.1787 21.1104 17.9912C20.9229 17.8037 20.7041 17.71 20.4541 17.71ZM16.9541 13.335C16.8708 13.5225 16.8083 13.7204 16.7666 13.9287C16.7249 14.137 16.7041 14.3558 16.7041 14.585V15.835H24.2041V14.585C24.2041 14.3558 24.1833 14.137 24.1416 13.9287C24.0999 13.7204 24.0374 13.5225 23.9541 13.335H16.9541ZM13.5791 -0.415039C17.1624 -0.415039 19.7249 -0.0296224 21.2666 0.741211C22.8083 1.51204 23.5791 2.79329 23.5791 4.58496V7.58496C23.2041 7.45996 22.8083 7.361 22.3916 7.28809C21.9749 7.21517 21.5374 7.15788 21.0791 7.11621V5.83496H6.0791V9.58496H14.2041C13.8708 9.93913 13.5843 10.3245 13.3447 10.7412C13.1051 11.1579 12.902 11.6058 12.7354 12.085H6.0791V15.835C6.0791 16.5225 6.32389 17.111 6.81348 17.6006C7.30306 18.0902 7.8916 18.335 8.5791 18.335H12.3291V20.835H8.5791V22.085C8.5791 22.4391 8.45931 22.736 8.21973 22.9756C7.98014 23.2152 7.68327 23.335 7.3291 23.335H6.0791C5.72493 23.335 5.42806 23.2152 5.18848 22.9756C4.94889 22.736 4.8291 22.4391 4.8291 22.085V19.5225C4.4541 19.1058 4.15202 18.6423 3.92285 18.1318C3.69368 17.6214 3.5791 17.0641 3.5791 16.46V4.58496C3.5791 2.85579 4.38119 1.59017 5.98535 0.788086C7.58952 -0.0139973 10.1208 -0.415039 13.5791 -0.415039ZM6.6416 3.33496H20.6416C20.3291 2.98079 19.6572 2.68392 18.626 2.44434C17.5947 2.20475 15.9333 2.08496 13.6416 2.08496C11.4124 2.08496 9.78223 2.21517 8.75098 2.47559C7.71973 2.736 7.0166 3.02246 6.6416 3.33496Z' fill='%2391E0EF'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.community .inner .link ul li.link02 a::after{
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_1199' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_1199)'%3E%3Cpath d='M10 23.75H11.875V15.3125C12.4167 15.1458 12.8646 14.849 13.2188 14.4219C13.5729 13.9948 13.75 13.4792 13.75 12.875V8.125C13.75 7.95833 13.6875 7.8125 13.5625 7.6875C13.4375 7.5625 13.2917 7.5 13.125 7.5C12.9583 7.5 12.8125 7.5625 12.6875 7.6875C12.5625 7.8125 12.5 7.95833 12.5 8.125V11.25H11.5625V8.125C11.5625 7.95833 11.5 7.8125 11.375 7.6875C11.25 7.5625 11.1042 7.5 10.9375 7.5C10.7708 7.5 10.625 7.5625 10.5 7.6875C10.375 7.8125 10.3125 7.95833 10.3125 8.125V11.25H9.375V8.125C9.375 7.95833 9.3125 7.8125 9.1875 7.6875C9.0625 7.5625 8.91667 7.5 8.75 7.5C8.58333 7.5 8.4375 7.5625 8.3125 7.6875C8.1875 7.8125 8.125 7.95833 8.125 8.125V12.875C8.125 13.4792 8.30208 13.9948 8.65625 14.4219C9.01042 14.849 9.45833 15.1458 10 15.3125V23.75ZM17.5 23.75H19.375V15.8125C20.0625 15.4792 20.599 14.9479 20.9844 14.2188C21.3698 13.4896 21.5625 12.6354 21.5625 11.6562C21.5625 10.4688 21.2656 9.47917 20.6719 8.6875C20.0781 7.89583 19.3333 7.5 18.4375 7.5C17.5417 7.5 16.7969 7.89583 16.2031 8.6875C15.6094 9.47917 15.3125 10.4688 15.3125 11.6562C15.3125 12.6354 15.5052 13.4896 15.8906 14.2188C16.276 14.9479 16.8125 15.4792 17.5 15.8125V23.75ZM5 27.5C4.3125 27.5 3.72396 27.2552 3.23438 26.7656C2.74479 26.276 2.5 25.6875 2.5 25V5C2.5 4.3125 2.74479 3.72396 3.23438 3.23438C3.72396 2.74479 4.3125 2.5 5 2.5H25C25.6875 2.5 26.276 2.74479 26.7656 3.23438C27.2552 3.72396 27.5 4.3125 27.5 5V25C27.5 25.6875 27.2552 26.276 26.7656 26.7656C26.276 27.2552 25.6875 27.5 25 27.5H5ZM5 25H25V5H5V25Z' fill='%2391E0EF'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.community .inner .link ul li.link03 a::after{
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_1205' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_1205)'%3E%3Cpath d='M2.5 23.75V16.25C2.5 15.6875 2.61458 15.1771 2.84375 14.7188C3.07292 14.2604 3.375 13.8542 3.75 13.5V10C3.75 8.95833 4.11458 8.07292 4.84375 7.34375C5.57292 6.61458 6.45833 6.25 7.5 6.25H12.5C12.9792 6.25 13.4271 6.33854 13.8438 6.51562C14.2604 6.69271 14.6458 6.9375 15 7.25C15.3542 6.9375 15.7396 6.69271 16.1562 6.51562C16.5729 6.33854 17.0208 6.25 17.5 6.25H22.5C23.5417 6.25 24.4271 6.61458 25.1562 7.34375C25.8854 8.07292 26.25 8.95833 26.25 10V13.5C26.625 13.8542 26.9271 14.2604 27.1562 14.7188C27.3854 15.1771 27.5 15.6875 27.5 16.25V23.75H25V21.25H5V23.75H2.5ZM16.25 12.5H23.75V10C23.75 9.64583 23.6302 9.34896 23.3906 9.10938C23.151 8.86979 22.8542 8.75 22.5 8.75H17.5C17.1458 8.75 16.849 8.86979 16.6094 9.10938C16.3698 9.34896 16.25 9.64583 16.25 10V12.5ZM6.25 12.5H13.75V10C13.75 9.64583 13.6302 9.34896 13.3906 9.10938C13.151 8.86979 12.8542 8.75 12.5 8.75H7.5C7.14583 8.75 6.84896 8.86979 6.60938 9.10938C6.36979 9.34896 6.25 9.64583 6.25 10V12.5ZM5 18.75H25V16.25C25 15.8958 24.8802 15.599 24.6406 15.3594C24.401 15.1198 24.1042 15 23.75 15H6.25C5.89583 15 5.59896 15.1198 5.35938 15.3594C5.11979 15.599 5 15.8958 5 16.25V18.75Z' fill='%2391E0EF'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.community .inner .link ul li.link04 a::after{
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_1202' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_1202)'%3E%3Cpath d='M2.5 27.5C3.10417 25.9583 3.50521 24.3698 3.70312 22.7344C3.90104 21.099 4.02083 19.4583 4.0625 17.8125C3.25 17.5 2.57812 16.9792 2.04688 16.25C1.51562 15.5208 1.25 14.6875 1.25 13.75V11.25C3.64583 10.4583 6.08854 9.25 8.57812 7.625C11.0677 6 13.2083 4.29167 15 2.5C16.7917 4.29167 18.9323 6 21.4219 7.625C23.9115 9.25 26.3542 10.4583 28.75 11.25V13.75C28.75 14.6875 28.4844 15.5208 27.9531 16.25C27.4219 16.9792 26.75 17.5 25.9375 17.8125C25.9792 19.4583 26.099 21.099 26.2969 22.7344C26.4948 24.3698 26.8958 25.9583 27.5 27.5H2.5ZM7.375 11.25H22.625C21 10.3333 19.5365 9.39063 18.2344 8.42188C16.9323 7.45312 15.8542 6.60417 15 5.875C14.1458 6.60417 13.0677 7.45312 11.7656 8.42188C10.4635 9.39063 9 10.3333 7.375 11.25ZM18.125 15.625C18.6458 15.625 19.0885 15.4427 19.4531 15.0781C19.8177 14.7135 20 14.2708 20 13.75H16.25C16.25 14.2708 16.4323 14.7135 16.7969 15.0781C17.1615 15.4427 17.6042 15.625 18.125 15.625ZM11.875 15.625C12.3958 15.625 12.8385 15.4427 13.2031 15.0781C13.5677 14.7135 13.75 14.2708 13.75 13.75H10C10 14.2708 10.1823 14.7135 10.5469 15.0781C10.9115 15.4427 11.3542 15.625 11.875 15.625ZM5.625 15.625C6.14583 15.625 6.58854 15.4427 6.95312 15.0781C7.31771 14.7135 7.5 14.2708 7.5 13.75H3.75C3.75 14.2708 3.93229 14.7135 4.29688 15.0781C4.66146 15.4427 5.10417 15.625 5.625 15.625ZM5.8125 25H9.15625C9.34375 23.75 9.48958 22.5104 9.59375 21.2812C9.69792 20.0521 9.78125 18.8125 9.84375 17.5625C9.65625 17.4583 9.46875 17.349 9.28125 17.2344C9.09375 17.1198 8.91667 16.9792 8.75 16.8125C8.4375 17.125 8.09896 17.3802 7.73438 17.5781C7.36979 17.776 6.97917 17.9271 6.5625 18.0312C6.52083 19.2188 6.44792 20.3906 6.34375 21.5469C6.23958 22.7031 6.0625 23.8542 5.8125 25ZM11.6875 25H18.3125C18.1458 23.8542 18.0156 22.7083 17.9219 21.5625C17.8281 20.4167 17.75 19.2604 17.6875 18.0938C17.1458 18.0521 16.651 17.9219 16.2031 17.7031C15.7552 17.4844 15.3542 17.1979 15 16.8438C14.6458 17.1979 14.2344 17.4844 13.7656 17.7031C13.2969 17.9219 12.8125 18.0521 12.3125 18.0938C12.25 19.2604 12.1719 20.4167 12.0781 21.5625C11.9844 22.7083 11.8542 23.8542 11.6875 25ZM20.8438 25H24.1875C23.9375 23.8542 23.7604 22.7031 23.6563 21.5469C23.5521 20.3906 23.4792 19.2188 23.4375 18.0312C23.0208 17.9271 22.625 17.776 22.25 17.5781C21.875 17.3802 21.5417 17.125 21.25 16.8125C21.0833 16.9792 20.9062 17.1198 20.7188 17.2344C20.5312 17.349 20.3438 17.4583 20.1562 17.5625C20.2188 18.8125 20.3073 20.0521 20.4219 21.2812C20.5365 22.5104 20.6771 23.75 20.8438 25ZM24.375 15.625C24.8958 15.625 25.3385 15.4427 25.7031 15.0781C26.0677 14.7135 26.25 14.2708 26.25 13.75H22.5C22.5 14.2708 22.6823 14.7135 23.0469 15.0781C23.4115 15.4427 23.8542 15.625 24.375 15.625Z' fill='%2391E0EF'/%3E%3C/g%3E%3C/svg%3E%0A");
}

footer {
    padding: 54px 0 73px 0;
    background-color: #00002A;
    color: #fff;
}
footer .f_nav ul{
    display: flex;
    gap: 42px;
}
footer .f_nav ul li {
    position: relative /*before 정렬의 기준 */;
}
footer .f_nav ul li::before {
    content: "";
    position: absolute; /* li를 기준으로 정렬 */
    left: -20px;
    top: 5px;
    width: 1px;
    height: 13px;
    background-color: rgba(255,255,255,0.2);
}
footer .f_nav ul li:first-child::before {
    display: none; /*숨김*/
}
footer .f_nav ul li a:hover {
    text-decoration: underline;
}
footer .f_info {
    margin: 33px 0 33px 0;
    display: flex;
    gap: 36px;
}
footer .copyright p {
    margin: 8px 0 0 0;
    color: rgba(255,255,255,0.6);
}
footer .copyright p strong {
    text-decoration: underline;
}