/* 회사소개 > CEO인사말 */

.ctn_ceo {
    position: relative; /* before 정렬의 기준 */
    color: var(--tit-color);
}
.ctn_ceo::before {
    content: "";
    position: absolute;
    left: 2.59em;
    top: 0;
    z-index: -1; /* ctn_ceo 영역 안에서 맨 아래 */
    width: calc(100% - 5.18em);
    height: 21.17em;
    background-color: #f4f4f4;
    border-radius: 1.76em;
}
.ctn_ceo .wrapper {
    position: relative; /* photo 정렬의 기준 */
}
.ctn_ceo .ceo_tit {
    padding: 5.18em 0 0 45.63%;
}
.ctn_ceo .ceo_tit strong {
    display: block;
    color: var(--point-color);
}
.ctn_ceo .ceo_tit h2 {
    font-size: 2.05rem; /* 35 */
    color: var(--tit-color);
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    margin: 0.2em 0 1.29em 0;
}
.ctn_ceo .ceo_tit p {
    color: #666;
}
.ctn_ceo .photo {
    position: absolute;
    left: 0;
    top: 5.18em;
    width: 37.22%;
    height: 42.29em;
    border-radius: 1.18em;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}
.ctn_ceo .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_ceo .ceo_detail {
    margin: 8.24em 0 8.20em 45.63%;
}
.ctn_ceo .ceo_detail .sign {
    display: flex;
    margin: 1.5em 0 0 0;
    gap: 2em;
    align-items: center;
}
.ctn_ceo .ceo_detail .sign strong {
    font-weight: var(--bold-weight);
    
}
@media screen and (max-width:1440px){
    .ctn_ceo::before {
        left: 20px;
        width: calc(100% - 40px);
        border-radius: 1.18em;
    }
    .ctn_ceo .wrapper {
       margin: 0 40px;
    }
    .ctn_ceo .ceo_tit {
        padding-left: 42%;
    }
    .ctn_ceo .ceo_detail {
        margin-left: 42%;
    }
}
@media screen and (max-width:768px){
    .ctn_ceo::before {
        display: none;
    }
    .ctn_ceo .wrapper {
       margin: 0 20px;
    }
    .ctn_ceo .ceo_tit {
        background-color: #f4f4f4;
        border-radius: 0.9em;
        padding: 52px 21px 83px 21px;
    }   
    .ctn_ceo .ceo_tit h2 {
        font-size: 20px;
        margin: 10px 0 20px 0;
    }
    .ctn_ceo .ceo_tit h2 br {
        display: none;
    }
    .ctn_ceo .photo {
        margin: 16px auto 0 auto;
        position: relative;
        left: auto;
        top: auto;
        width: 100%;
        height: 446px;
        border-radius: 0.9em;
    }
    .ctn_ceo .photo img {
        object-position: center top;
    }
    .ctn_ceo .ceo_detail {
        margin: 1.75em 0 0 0;
    }
    .ctn_ceo .ceo_detail .sign {
        flex-direction: column;
        margin: 39px 0 60px 0;
        gap: 0;
        align-items: flex-start;
    }
    .ctn_ceo .ceo_detail strong {
        margin: 0 0 10px 0;
    }
}


/* 회사소개 > 찾아오시는길 */
.ctn_map .map {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
}
.ctn_map .map iframe {
    width: 100%;
    height: 643px;
    border: 0;
    margin: 0 0 62px 0;
}
@media screen and (max-width:1300px){
    .ctn_map .map {
        left: 20px;
        width: calc(100% - 20px);
    }
}

.ctn_map .wrapper .tit{
    display: flex;
    justify-content: space-between;
}
.ctn_map .tit h2 {
    font-size: 35px;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
}
.ctn_map .follow_map .kakao_open {
    border: 1px solid #555;
    padding: 14px 32px 14px 65px;
    border-radius: 30px;
    position: relative;
    margin: 0 28px 0 0;
}
.ctn_map .follow_map .kakao_open::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 7px;
    left: 8px;
    background: url(../images/contents/kakao_logo.svg);
}
.ctn_map .follow_map .naver_open {
    border: 1px solid #555;
    padding: 14px 32px 14px 65px;
    border-radius: 30px;
    position: relative;
}
.ctn_map .follow_map .naver_open::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 7px;
    left: 8px;
    background: url(../images/contents/naver_logo.svg);
}
@media screen and (max-width:768px){
    .ctn_map .wrapper .tit{
        display: block;
        justify-content: space-between;
    }
    .ctn_map .tit h2 {
        font-size: 25px;
        margin: 0 0 20px 0;
    }
    .ctn_map .tit .follow_map span {
        display: none;
    }
    .ctn_map .follow_map .naver_open,
    .ctn_map .follow_map .kakao_open {
        border: 0;
        margin: 0 80px 0 0;
        padding: 0;
    }
}
.ctn_map .call {
    display: flex;
    margin: 74px 0 0 0; 
}
.ctn_map .call h3 {
    font-size: 35px;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    margin: 0 250px 0 0 ;
}
.ctn_map .call .call_01 li {
    display: flex;
}
.ctn_map .call .call_01 li strong {
    font-weight: var(--bold-weight);
    margin: 0 74px 43px 0;
}
@media screen and (max-width:768px){  
    .ctn_map .call {
        display: block;
        margin: 74px 0 0 0; 
    }
    .ctn_map .call h3 {
        font-size: 25px;
        margin: 10px 0 28px 0 ;
    }
    .ctn_map .call .call_01 li {
        display: flex;
    }
    .ctn_map .call .call_01 li strong {
        font-weight: var(--bold-weight);
        margin: 0 74px 43px 0;
    } 
}

.ctn_map .explain {
    margin: 0  0 0 375px ;
    color: #767676;
}
.ctn_map .explain .atera_open {
   border: 1px solid #767676;
   border-radius: 25px;
   padding: 9px 43px 9px 20px;
   margin: 20px 0 73px 0;
   position: relative;
}
.ctn_map .explain .atera_open::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 14px;
    right: 21px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_128_851' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_128_851)'%3E%3Cpath d='M3.53817 13.6663C3.2014 13.6663 2.91634 13.5497 2.68301 13.3163C2.44967 13.083 2.33301 12.798 2.33301 12.4612V3.53817C2.33301 3.2014 2.44967 2.91634 2.68301 2.68301C2.91634 2.44967 3.2014 2.33301 3.53817 2.33301H7.74317V3.33301H3.53817C3.48684 3.33301 3.43984 3.3544 3.39717 3.39717C3.3544 3.43984 3.33301 3.48684 3.33301 3.53817V12.4612C3.33301 12.5125 3.3544 12.5595 3.39717 12.6022C3.43984 12.645 3.48684 12.6663 3.53817 12.6663H12.4612C12.5125 12.6663 12.5595 12.645 12.6022 12.6022C12.645 12.5595 12.6663 12.5125 12.6663 12.4612V8.25617H13.6663V12.4612C13.6663 12.798 13.5497 13.083 13.3163 13.3163C13.083 13.5497 12.798 13.6663 12.4612 13.6663H3.53817ZM6.47917 10.2227L5.77667 9.52017L11.9638 3.33301H9.33301V2.33301H13.6663V6.66634H12.6663V4.03551L6.47917 10.2227Z' fill='%23767676'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (max-width:768px){
    .ctn_map .explain {
        margin: 0;
    }
    .ctn_map .explain .atera_open {
       border: 1px solid #767676;
       border-radius: 25px;
       padding: 9px 43px 9px 20px;
       margin: 20px 0 73px 0;
       position: relative;
    }
    .ctn_map .explain .atera_open::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: 14px;
        right: 21px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_128_851' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_128_851)'%3E%3Cpath d='M3.53817 13.6663C3.2014 13.6663 2.91634 13.5497 2.68301 13.3163C2.44967 13.083 2.33301 12.798 2.33301 12.4612V3.53817C2.33301 3.2014 2.44967 2.91634 2.68301 2.68301C2.91634 2.44967 3.2014 2.33301 3.53817 2.33301H7.74317V3.33301H3.53817C3.48684 3.33301 3.43984 3.3544 3.39717 3.39717C3.3544 3.43984 3.33301 3.48684 3.33301 3.53817V12.4612C3.33301 12.5125 3.3544 12.5595 3.39717 12.6022C3.43984 12.645 3.48684 12.6663 3.53817 12.6663H12.4612C12.5125 12.6663 12.5595 12.645 12.6022 12.6022C12.645 12.5595 12.6663 12.5125 12.6663 12.4612V8.25617H13.6663V12.4612C13.6663 12.798 13.5497 13.083 13.3163 13.3163C13.083 13.5497 12.798 13.6663 12.4612 13.6663H3.53817ZM6.47917 10.2227L5.77667 9.52017L11.9638 3.33301H9.33301V2.33301H13.6663V6.66634H12.6663V4.03551L6.47917 10.2227Z' fill='%23767676'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}  
.ctn_map .transit .trac {
    display: flex;
}
.ctn_map .transit h3 {
    font-size: 35px;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
}
.ctn_map .transit .group {
    margin: 0 0 90px 250px ;
}
.ctn_map .transit .group ul li {
    display: flex;
}
.ctn_map .transit .group ul li strong {
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    margin: 0 72px 43px 0;
}

@media screen and (max-width:768px){
    .ctn_map .transit .trac {
        display: block;
    }
    .ctn_map .transit h3 {
        font-size: 25px;
        margin: 0 0 35px 0;
    }
    .ctn_map .transit .group {
        margin: 0;
    }
    .ctn_map .transit .group ul li {
        display: flex;
    }
    .ctn_map .transit .group ul li strong {
        font-weight: var(--bold-weight);
        color: var(--tit-color);
        margin: 0 72px 43px 0;
    }
}

/* 회사소개 > 연혁 */
.ctn_history {
    margin: 0 0 164px 0;
}
.ctn_history .his_tit {
    margin: 0 0 61px 0 ;
    padding: 44px 0 0 0;
}
.ctn_history .his_tit strong {
    color: var(--point-color);
    display: block;
}
.ctn_history .his_tit h2 {
    font-size: 2.058rem;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    margin: 8px 0 0 0;
}
.ctn_history .his_photo .photo {
    overflow: hidden;
    height: 320px;
    width: 30%;
    margin: 0 auto;
    transition: 0.5s;
}
.ctn_history .his_photo.active .photo {
    width: 100%;
}
.ctn_history .his_photo .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_history .his_year_group {
    margin: 106px 0 112px 0;
    display: flex;
    justify-content: space-between;
}
.ctn_history .his_year_group .year_tit {
    max-width: 354px;  /****** 테스트 필요 ******/
    width: 35%;
}
.ctn_history .his_year_group .year_cont {
    max-width: 641px;  /****** 테스트 필요 ******/
    width: 60%;
    margin: 15px 0 0 0;
    padding: 0 0 0 43px;
    border-width: 0 0 0 2px;
    border-style: solid;
    border-color: #ededed;
    position: relative;
}
.ctn_history .his_year_group .year_cont::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 0;
    width: 2px;
    height: 20px;
    background-color: #fff;
}
.ctn_history .his_year_group .year_tit h3 {
    font-size: 40px;
    color: var(--tit-color);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0 0 25px 0;
}
.ctn_history .his_year_group .year_tit .photo {
    overflow: hidden;
    border-radius: 10px;
    height: 422px;
    margin: 46px 0 0 0;
}
.ctn_history .his_year_group .year_tit .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_history .his_year_group .year_cont h4 {
    font-size: 25px;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    line-height: var(--tit-line-height);
    margin: 0 0 24px 0;
    position: relative; /* before 정렬의 기준 */
}
.ctn_history .his_year_group .year_cont h4::before {
    content: "";
    position: absolute;
    left: -47px;
    top: 16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1d1d1d;
    z-index: 1;
}
.ctn_history .his_year_group .year_cont > *:last-child {
    position: relative;
}
.ctn_history .his_year_group .year_cont > *:last-child::before {
    content: "";
    position: absolute;
    left: -45px;
    bottom: -13px;
    width: 2px;
    height: calc(100% + 48px);
    background-color: #fff;
}

.ctn_history .his_year_group .year_cont ul + h4 {
    margin-top: 51px;
}
.ctn_history .his_year_group .year_cont ul li {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}
.ctn_history .his_year_group .year_cont ul li strong {
    display: block;
    color: var(--tit-color);
}
.ctn_history .his_year_group .year_cont ul li span {
    display: block;
    width: calc(100% - 89px);
}
.ctn_history .his_nav {
    position: fixed; /* 무조건 body를 기준으로 정렬 */
    left: 50%;
    bottom: -100px;
    z-index: 99; /*header보디 1만 작은값*/
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 1260px;
    background-color: #f4f4f4;
    padding: 10px 48px;
    border-radius: 50px;
    box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.ctn_history .his_nav.active {
    bottom: 20px;
}
.ctn_history .his_nav ul {
    display: flex;
    overflow-y: hidden; /* 위아래 스크롤 금지 */
    overflow-x: auto;

}
.ctn_history .his_nav ul li {
    width: 25%;
    color: #1d1d1d;
}
.ctn_history .his_nav ul li button {
    display: block;
    width: 90%;
    margin: 0 15px;
    text-align: center;
    font-size: 20px;
    padding: 12px 83px;
    border-radius: 50px;
    white-space: nowrap;
}
.ctn_history .his_nav ul li.active button {
    background-color: var(--point-color);
    color: #fff;
}
@media screen and (min-width:769px){
    /* reverse 스타일은 pc버전에서만 적용 */
    .ctn_history .his_year_group.reverse {
        flex-direction: row-reverse; /* 가로반전 */
    }
    .ctn_history .his_year_group.reverse .year_cont {
        padding-right: 43px;
        padding-left: 0;
        border-width: 0 2px 0 0 ;
    }
    .ctn_history .his_year_group.reverse .year_cont::before {
        left: auto;
        right: -2px;
    }
    .ctn_history .his_year_group.reverse .year_cont h4::before  {
        left: auto;
        right: -47px;
    }
    .ctn_history .his_year_group.reverse .year_cont > *:last-child::before {
        left: auto;
        right: -45px;
    }
    .ctn_history .his_year_group.reverse .year_cont {
        text-align: right;
    }
    .ctn_history .his_year_group.reverse .year_cont ul li{
        flex-direction: row-reverse;
    } 
}/* @media */

@media screen and (max-width:768px){
    .ctn_history {
        margin: 0 0 48px 0;
    }
    .ctn_history .his_tit {
        margin: 0 0 33px 0 ;
        padding: 28px 0 0 0;
    }
    .ctn_history .his_tit h2 {
        font-size: 20px;
        margin: 5px 0 0 0;
    }
    .ctn_history .his_tit h2 br {
        display: none;
    }
    .ctn_history .his_photo .photo {
        height: 137px;
    }
    .ctn_history .his_year_group {
        margin: 33px 0 29px 0;
        display: block;
    }
    .ctn_history .his_year_group .year_tit {
        max-width: 100%;  
        width: auto;
    }
    .ctn_history .his_year_group .year_cont {
        max-width: 100%;  
        width: auto;
        margin: 25px 0 0 0;
        padding: 0 0 0 20px;
    }
    .ctn_history .his_year_group .year_tit h3 {
        font-size: 25px;
        margin: 0 0 16px 0;
    }
    .ctn_history .his_year_group .year_tit h3 br {
        display: none;
    }
    .ctn_history .his_year_group .year_tit .photo {
        display: none;
    }
    .ctn_history .his_year_group .year_tit .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .ctn_history .his_year_group .year_cont h4 {
        font-size: 22px;
        margin: 0 0 14px 0;
    }
    .ctn_history .his_year_group .year_cont ul + h4 {
        margin-top: 42px;
    }
    .ctn_history .his_year_group .year_cont h4::before {
        left: -24px;
    }
    .ctn_history .his_year_group .year_cont > *:last-child::before {
        left: -22px;
        height: calc(100% + 35px);
    }
    .ctn_history .his_year_group .year_cont ul li span {
        display: block;
        width: calc(100% - 89px);
    }
    .ctn_history .his_nav {
        padding: 3px 15px;
    }
    .ctn_history .his_nav ul::-webkit-scrollbar {
        display: none;
    }
    .ctn_history .his_nav ul li {
        width: auto;
        color: #1d1d1d;
    }
    .ctn_history .his_nav ul li button {
        width: 100%;
        margin: 0;
        font-size: 18px;
        padding: 8px 30px;
    }
}/*@media*/

/* 홍보센터 - 금호뉴스 - 상담신청 */
.ctn_notice {
    margin: 108px 0 100px 0;
}
.ctn_notice h2 {
    font-size: 35px;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    line-height: var(--tit-line-height);
    margin-bottom: 18px;
}
.ctn_notice .agree_box {
    border: 1px solid #555;
    border-radius: 20px;
    padding: 42px 43px;
    height: 291px;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: normal;
}
.ctn_notice .agree_chk {
    margin: 32px 0 78px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.ctn_notice .agree_chk .item input[type="radio"] {
    display: none;
}
.ctn_notice .agree_chk .item label {
    position: relative; /* before정렬의 기준 */
    columns: var(--tit-color);
    font-size: 19px;
    padding-left: 33px;
    cursor: pointer; /* 마우스 포인터 손바닥  */
}
.ctn_notice .agree_chk .item label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--base-color);
    border-radius: 50%;
}
/* 라디오가 체크 되었을때 label 디자인  */
.ctn_notice .agree_chk .item input[type="radio"]:checked + label::before {
    border-color: var(--point-color);
    background-color: var(--point-color);
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.74972 6.211L9.06359 0.888593C9.18434 0.767552 9.33791 0.707031 9.52428 0.707031C9.7108 0.707031 9.86466 0.767407 9.98584 0.888157C10.1069 1.00891 10.1674 1.16254 10.1674 1.34906C10.1674 1.53573 10.1069 1.68966 9.98584 1.81084L4.30338 7.48478C4.14515 7.64301 3.96059 7.72213 3.74972 7.72213C3.53884 7.72213 3.35429 7.64301 3.19606 7.48478L1.01359 5.31084C0.892552 5.19009 0.832031 5.03653 0.832031 4.85016C0.832031 4.66364 0.892406 4.50978 1.01316 4.38859C1.13391 4.26755 1.28754 4.20703 1.47406 4.20703C1.66073 4.20703 1.81466 4.26755 1.93584 4.38859L3.74972 6.211Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.ctn_notice .regist {
    border-top: 2px solid var(--base-color);
}
.ctn_notice .regist .item {
    border-bottom: 1px solid #CFCFCF;
    display: flex;
    gap: 24px;
}
.ctn_notice .regist .item label {
    width: 190px;
    font-size: 18px;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    text-align: center;
    background-color: #ededed;
    padding: 23px 0 0 0;
}
.ctn_notice .regist .item select,
.ctn_notice .regist .item input,
.ctn_notice .regist .item textarea {
    margin: 21px 0;
    border: 1px solid var(--base-color);
    border-radius: 5px;
    min-height: 38px;
    background-color: #F2F2F2;
    padding: 0.2em 0.6em;
}
.ctn_notice .regist .item .w100 {
    min-width: calc(100% - 1026px);
    width: calc(100% - 190px - 20px - 20px);
}
.ctn_notice .regist .item .w70 {
    max-width: 434px;
    width: calc(100% - 190px - 20px - 20px);
}
.ctn_notice .regist .item textarea {
    resize: none;
}
.ctn_notice .regist .item input::placeholder {
    color: #767676;
}
.ctn_notice .btn_wrap {
    margin: 42px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.ctn_notice .btn_wrap .cancel,
.ctn_notice .btn_wrap .ok {
    width: 130px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    border-radius: 5px;
    color: #fff;
    font-size: 19px;
    font-weight: var(--bold-weight);
    padding: 0 0 2px 0;
    line-height: calc(49px - 2px);
}
.ctn_notice .btn_wrap .cancel {
    background-color: #535353;
}
.ctn_notice .btn_wrap .ok {
    background-color: var(--point-color);
}

@media screen and (max-width:768px){
    .ctn_notice {
        margin: 56px 0 69px 0;
    }
    .ctn_notice h2 {
        font-size: 25px;
        margin-bottom: 13px;
    }
    .ctn_notice .agree_box {
        border-radius: 10px;
        padding: 25px;
        height: 245px;
    }
    .ctn_notice .agree_chk {
        margin: 13px 0 64px 0;
    }
    .ctn_notice .agree_chk .item label {
        font-size: 16px;
        padding-left: 20px;
    }
    .ctn_notice .agree_chk .item label::before {
        left: -5px;
        top: 5px;
        width: 17px;
        height: 17px;
    }
    .ctn_notice .regist .item {
        border-bottom: 0;
        display: block;
    }
    .ctn_notice .regist .item label {
        max-width: none;
        width: auto;
        display: block;
        text-align: left;
        background-color: transparent;
        padding: 19px 0 9px 0;
    }
    .ctn_notice .regist .item select,
    .ctn_notice .regist .item input,
    .ctn_notice .regist .item textarea {
        margin: 0;
        min-height: 34px;
    }
    .ctn_notice .regist .item .w100 {
        min-width: 100%;
        width: 100%;
    }
    .ctn_notice .regist .item .w70 {
        max-width: 100%;
        width: 100%;
    }
    .ctn_notice .btn_wrap {
        margin: 35px 0 0 0;
    }
    .ctn_notice .btn_wrap .cancel,
    .ctn_notice .btn_wrap .ok {
        width: 100px;
        height: 43px;
        line-height: 43px;
        font-size: 18px;
        line-height: calc(43px - 2px);
    }
    .ctn_notice .btn_wrap .cancel {
        background-color: #535353;
    }
    .ctn_notice .btn_wrap .ok {
        background-color: var(--point-color);
    }
}