/* header와 footer 같이 모든 페이지 공통사항 저장 */

header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var( --header-h);
    padding: 0 20px;
    display: flex; /* logo,util,gnb 좌우  */
    justify-content: space-between;
    align-items: center;
    color: #fff;

    transition: 0.5s;
}
header .logo {
    margin-bottom: 10px;
}
header .logo a {
    display: block;
    width: 133px; 
    height: 44px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex;
    gap: 1em;
}
header .util .lang .lang_open,
header .util .search .search_open {
    padding: 0 0 0 1.5em;
    position: relative; /* before 정렬의 기준 */
}
header .util .search .search_open::before,
header .util .lang .lang_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1.18em;
    height: 1.18em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_12_454' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect width='19' height='19' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12_454)'%3E%3Cpath d='M9.50016 17.4166C8.41822 17.4166 7.39565 17.2088 6.43245 16.7931C5.46926 16.3775 4.62811 15.8102 3.90902 15.0911C3.18992 14.372 2.62256 13.5308 2.20693 12.5676C1.79131 11.6044 1.5835 10.5819 1.5835 9.49992C1.5835 8.40478 1.79131 7.37891 2.20693 6.42231C2.62256 5.46572 3.18992 4.62787 3.90902 3.90877C4.62811 3.18968 5.46926 2.62231 6.43245 2.20669C7.39565 1.79106 8.41822 1.58325 9.50016 1.58325C10.5953 1.58325 11.6212 1.79106 12.5778 2.20669C13.5344 2.62231 14.3722 3.18968 15.0913 3.90877C15.8104 4.62787 16.3778 5.46572 16.7934 6.42231C17.209 7.37891 17.4168 8.40478 17.4168 9.49992C17.4168 10.5819 17.209 11.6044 16.7934 12.5676C16.3778 13.5308 15.8104 14.372 15.0913 15.0911C14.3722 15.8102 13.5344 16.3775 12.5778 16.7931C11.6212 17.2088 10.5953 17.4166 9.50016 17.4166ZM9.50016 15.7937C9.84322 15.3187 10.1401 14.8239 10.3908 14.3093C10.6415 13.7947 10.846 13.2471 11.0043 12.6666H7.996C8.15433 13.2471 8.35884 13.7947 8.60954 14.3093C8.86023 14.8239 9.15711 15.3187 9.50016 15.7937ZM7.44183 15.477C7.20433 15.0416 6.99652 14.5897 6.81839 14.1213C6.64027 13.6529 6.49183 13.168 6.37308 12.6666H4.03766C4.4203 13.3263 4.8986 13.9003 5.47256 14.3885C6.04652 14.8767 6.70294 15.2395 7.44183 15.477ZM11.5585 15.477C12.2974 15.2395 12.9538 14.8767 13.5278 14.3885C14.1017 13.9003 14.58 13.3263 14.9627 12.6666H12.6272C12.5085 13.168 12.3601 13.6529 12.1819 14.1213C12.0038 14.5897 11.796 15.0416 11.5585 15.477ZM3.36475 11.0833H6.05641C6.01683 10.8194 5.98714 10.5588 5.96735 10.3015C5.94756 10.0442 5.93766 9.777 5.93766 9.49992C5.93766 9.22284 5.94756 8.95565 5.96735 8.69836C5.98714 8.44106 6.01683 8.18047 6.05641 7.91658H3.36475C3.29877 8.18047 3.24929 8.44106 3.21631 8.69836C3.18332 8.95565 3.16683 9.22284 3.16683 9.49992C3.16683 9.777 3.18332 10.0442 3.21631 10.3015C3.24929 10.5588 3.29877 10.8194 3.36475 11.0833ZM7.63975 11.0833H11.3606C11.4002 10.8194 11.4299 10.5588 11.4496 10.3015C11.4694 10.0442 11.4793 9.777 11.4793 9.49992C11.4793 9.22284 11.4694 8.95565 11.4496 8.69836C11.4299 8.44106 11.4002 8.18047 11.3606 7.91658H7.63975C7.60016 8.18047 7.57048 8.44106 7.55068 8.69836C7.53089 8.95565 7.521 9.22284 7.521 9.49992C7.521 9.777 7.53089 10.0442 7.55068 10.3015C7.57048 10.5588 7.60016 10.8194 7.63975 11.0833ZM12.9439 11.0833H15.6356C15.7016 10.8194 15.751 10.5588 15.784 10.3015C15.817 10.0442 15.8335 9.777 15.8335 9.49992C15.8335 9.22284 15.817 8.95565 15.784 8.69836C15.751 8.44106 15.7016 8.18047 15.6356 7.91658H12.9439C12.9835 8.18047 13.0132 8.44106 13.033 8.69836C13.0528 8.95565 13.0627 9.22284 13.0627 9.49992C13.0627 9.777 13.0528 10.0442 13.033 10.3015C13.0132 10.5588 12.9835 10.8194 12.9439 11.0833ZM12.6272 6.33325H14.9627C14.58 5.67353 14.1017 5.09957 13.5278 4.61138C12.9538 4.12318 12.2974 3.76034 11.5585 3.52284C11.796 3.95825 12.0038 4.41016 12.1819 4.87856C12.3601 5.34697 12.5085 5.83186 12.6272 6.33325ZM7.996 6.33325H11.0043C10.846 5.7527 10.6415 5.20513 10.3908 4.69054C10.1401 4.17596 9.84322 3.68117 9.50016 3.20617C9.15711 3.68117 8.86023 4.17596 8.60954 4.69054C8.35884 5.20513 8.15433 5.7527 7.996 6.33325ZM4.03766 6.33325H6.37308C6.49183 5.83186 6.64027 5.34697 6.81839 4.87856C6.99652 4.41016 7.20433 3.95825 7.44183 3.52284C6.70294 3.76034 6.04652 4.12318 5.47256 4.61138C4.8986 5.09957 4.4203 5.67353 4.03766 6.33325Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .util .search .search_open::before {
    width: 1.31em;
    height: 1.31em;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_12_450' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='21' height='21'%3E%3Crect width='21' height='21' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12_450)'%3E%3Cpath d='M17.15 18.375L11.6375 12.8625C11.2 13.2125 10.6969 13.4896 10.1281 13.6938C9.55937 13.8979 8.95417 14 8.3125 14C6.72292 14 5.3776 13.4495 4.27656 12.3484C3.17552 11.2474 2.625 9.90208 2.625 8.3125C2.625 6.72292 3.17552 5.3776 4.27656 4.27656C5.3776 3.17552 6.72292 2.625 8.3125 2.625C9.90208 2.625 11.2474 3.17552 12.3484 4.27656C13.4495 5.3776 14 6.72292 14 8.3125C14 8.95417 13.8979 9.55937 13.6938 10.1281C13.4896 10.6969 13.2125 11.2 12.8625 11.6375L18.375 17.15L17.15 18.375ZM8.3125 12.25C9.40625 12.25 10.3359 11.8672 11.1016 11.1016C11.8672 10.3359 12.25 9.40625 12.25 8.3125C12.25 7.21875 11.8672 6.28906 11.1016 5.52344C10.3359 4.75781 9.40625 4.375 8.3125 4.375C7.21875 4.375 6.28906 4.75781 5.52344 5.52344C4.75781 6.28906 4.375 7.21875 4.375 8.3125C4.375 9.40625 4.75781 10.3359 5.52344 11.1016C6.28906 11.8672 7.21875 12.25 8.3125 12.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/************ 아래로 스크롤 내릴 때 header가 사라짐 **************/
header.fixed.gnb_up {
    top: var( --header-h-m);
}
header.fixed.gnb_up.menu_over {
    top: 0;
}

/************ header에 fixed 클래스 추가 **************/


header.fixed,
header.menu_over {
   background-color: #fff;
   color: var(--tit-color);
   box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}
header.fixed .logo a,
header.menu_over .logo a {
   background-image: url(../images/common/logo.svg);
}
header.fixed .util .lang .lang_open,
header.fixed .util .search .search_open,
header.menu_over .util .lang .lang_open,
header.menu_over .util .search .search_open {
    color: var(--base-color);
}
header.fixed .util .search .search_open::before,
header.fixed .util .lang .lang_open::before,
header.menu_over .util .search .search_open::before,
header.menu_over .lang .lang_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_12_602' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect width='19' height='19' fill='%23CD312C'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12_602)'%3E%3Cpath d='M9.50016 17.4166C8.41822 17.4166 7.39565 17.2088 6.43245 16.7931C5.46926 16.3775 4.62811 15.8102 3.90902 15.0911C3.18992 14.372 2.62256 13.5308 2.20693 12.5676C1.79131 11.6044 1.5835 10.5819 1.5835 9.49992C1.5835 8.40478 1.79131 7.37891 2.20693 6.42231C2.62256 5.46572 3.18992 4.62787 3.90902 3.90877C4.62811 3.18968 5.46926 2.62231 6.43245 2.20669C7.39565 1.79106 8.41822 1.58325 9.50016 1.58325C10.5953 1.58325 11.6212 1.79106 12.5778 2.20669C13.5344 2.62231 14.3722 3.18968 15.0913 3.90877C15.8104 4.62787 16.3778 5.46572 16.7934 6.42231C17.209 7.37891 17.4168 8.40478 17.4168 9.49992C17.4168 10.5819 17.209 11.6044 16.7934 12.5676C16.3778 13.5308 15.8104 14.372 15.0913 15.0911C14.3722 15.8102 13.5344 16.3775 12.5778 16.7931C11.6212 17.2088 10.5953 17.4166 9.50016 17.4166ZM9.50016 15.7937C9.84322 15.3187 10.1401 14.8239 10.3908 14.3093C10.6415 13.7947 10.846 13.2471 11.0043 12.6666H7.996C8.15433 13.2471 8.35884 13.7947 8.60954 14.3093C8.86023 14.8239 9.15711 15.3187 9.50016 15.7937ZM7.44183 15.477C7.20433 15.0416 6.99652 14.5897 6.81839 14.1213C6.64027 13.6529 6.49183 13.168 6.37308 12.6666H4.03766C4.4203 13.3263 4.8986 13.9003 5.47256 14.3885C6.04652 14.8767 6.70294 15.2395 7.44183 15.477ZM11.5585 15.477C12.2974 15.2395 12.9538 14.8767 13.5278 14.3885C14.1017 13.9003 14.58 13.3263 14.9627 12.6666H12.6272C12.5085 13.168 12.3601 13.6529 12.1819 14.1213C12.0038 14.5897 11.796 15.0416 11.5585 15.477ZM3.36475 11.0833H6.05641C6.01683 10.8194 5.98714 10.5588 5.96735 10.3015C5.94756 10.0442 5.93766 9.777 5.93766 9.49992C5.93766 9.22284 5.94756 8.95565 5.96735 8.69836C5.98714 8.44106 6.01683 8.18047 6.05641 7.91658H3.36475C3.29877 8.18047 3.24929 8.44106 3.21631 8.69836C3.18332 8.95565 3.16683 9.22284 3.16683 9.49992C3.16683 9.777 3.18332 10.0442 3.21631 10.3015C3.24929 10.5588 3.29877 10.8194 3.36475 11.0833ZM7.63975 11.0833H11.3606C11.4002 10.8194 11.4299 10.5588 11.4496 10.3015C11.4694 10.0442 11.4793 9.777 11.4793 9.49992C11.4793 9.22284 11.4694 8.95565 11.4496 8.69836C11.4299 8.44106 11.4002 8.18047 11.3606 7.91658H7.63975C7.60016 8.18047 7.57048 8.44106 7.55068 8.69836C7.53089 8.95565 7.521 9.22284 7.521 9.49992C7.521 9.777 7.53089 10.0442 7.55068 10.3015C7.57048 10.5588 7.60016 10.8194 7.63975 11.0833ZM12.9439 11.0833H15.6356C15.7016 10.8194 15.751 10.5588 15.784 10.3015C15.817 10.0442 15.8335 9.777 15.8335 9.49992C15.8335 9.22284 15.817 8.95565 15.784 8.69836C15.751 8.44106 15.7016 8.18047 15.6356 7.91658H12.9439C12.9835 8.18047 13.0132 8.44106 13.033 8.69836C13.0528 8.95565 13.0627 9.22284 13.0627 9.49992C13.0627 9.777 13.0528 10.0442 13.033 10.3015C13.0132 10.5588 12.9835 10.8194 12.9439 11.0833ZM12.6272 6.33325H14.9627C14.58 5.67353 14.1017 5.09957 13.5278 4.61138C12.9538 4.12318 12.2974 3.76034 11.5585 3.52284C11.796 3.95825 12.0038 4.41016 12.1819 4.87856C12.3601 5.34697 12.5085 5.83186 12.6272 6.33325ZM7.996 6.33325H11.0043C10.846 5.7527 10.6415 5.20513 10.3908 4.69054C10.1401 4.17596 9.84322 3.68117 9.50016 3.20617C9.15711 3.68117 8.86023 4.17596 8.60954 4.69054C8.35884 5.20513 8.15433 5.7527 7.996 6.33325ZM4.03766 6.33325H6.37308C6.49183 5.83186 6.64027 5.34697 6.81839 4.87856C6.99652 4.41016 7.20433 3.95825 7.44183 3.52284C6.70294 3.76034 6.04652 4.12318 5.47256 4.61138C4.8986 5.09957 4.4203 5.67353 4.03766 6.33325Z' fill='%23CD312C'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open::before,
header.menu_over .util .search .search_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_12_596' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='21' height='21'%3E%3Crect width='21' height='21' fill='%23CD312C'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12_596)'%3E%3Cpath d='M17.15 18.375L11.6375 12.8625C11.2 13.2125 10.6969 13.4896 10.1281 13.6938C9.55937 13.8979 8.95417 14 8.3125 14C6.72292 14 5.3776 13.4495 4.27656 12.3484C3.17552 11.2474 2.625 9.90208 2.625 8.3125C2.625 6.72292 3.17552 5.3776 4.27656 4.27656C5.3776 3.17552 6.72292 2.625 8.3125 2.625C9.90208 2.625 11.2474 3.17552 12.3484 4.27656C13.4495 5.3776 14 6.72292 14 8.3125C14 8.95417 13.8979 9.55937 13.6938 10.1281C13.4896 10.6969 13.2125 11.2 12.8625 11.6375L18.375 17.15L17.15 18.375ZM8.3125 12.25C9.40625 12.25 10.3359 11.8672 11.1016 11.1016C11.8672 10.3359 12.25 9.40625 12.25 8.3125C12.25 7.21875 11.8672 6.28906 11.1016 5.52344C10.3359 4.75781 9.40625 4.375 8.3125 4.375C7.21875 4.375 6.28906 4.75781 5.52344 5.52344C4.75781 6.28906 4.375 7.21875 4.375 8.3125C4.375 9.40625 4.75781 10.3359 5.52344 11.1016C6.28906 11.8672 7.21875 12.25 8.3125 12.25Z' fill='%23CD312C'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (min-width:1025px){
    header .gnb .gnb_util,
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none; /*모바일에서만 숨김*/
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 7.38em;
        text-align: center;
        position: relative; /* depht2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: var(--header-h);
        font-size: 1.38em;
        font-weight: var(--bold-weight);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--point-color); 
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -35px;
        width: 100%;
        height: 3px;
        z-index: 1;
        background-color: var(--point-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none; /* 숨김 */
        position: absolute; /* li를 기준으로 */
        left: 0;
        top: var(--header-h);
        width: 100%;
        padding-top: 32px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        color: var(--base-color);
        line-height: 2;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--bold-weight);
        color: var(--point-color);
    }

    /********************* menu_over 추가시 ******************************/
    header.menu_over::before {
        content: "";
        position: absolute; /*header를 기준으로 정렬*/
        left: 0;
        top: 0;
        z-index: -1; /* header 안에 있는 요소들 중에 맨 아래 */
        width: 100%;
        height: 22.64em;
        background-color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
    }
    header.menu_over::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: #EDEDED;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block; /* 나타남 */
    }
}/*@media*/
@media screen and (min-width:1025px) and (max-width:1300px) {
    /*1300 ~ 1024 사이 값*/
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 7em;
    }
}/*@media*/
@media screen and (max-width:1024px){
                
            header {
                padding: 0 0 0 20px;
            }
            header .logo {
                margin-bottom: 5px;
            }
            header .logo a {
                width: 84px; 
                height: 28px;
            }
            header .util {
                display: none;
                gap: 21px;
            }

            header .gnb .gnb_util {
                display: none;
            }
            header .gnb .gnb_open {
                display: block;
                width: var(--header-h);
                height: var(--header-h);
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_1014' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='29' height='29'%3E%3Crect width='29' height='29' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_1014)'%3E%3Cpath d='M4.83333 8.45841C4.49097 8.45841 4.20399 8.34262 3.9724 8.11102C3.7408 7.87942 3.625 7.59244 3.625 7.25008C3.625 6.90772 3.7408 6.62074 3.9724 6.38914C4.20399 6.15755 4.49097 6.04175 4.83333 6.04175H24.1667C24.509 6.04175 24.796 6.15755 25.0276 6.38914C25.2592 6.62074 25.375 6.90772 25.375 7.25008C25.375 7.59244 25.2592 7.87942 25.0276 8.11102C24.796 8.34262 24.509 8.45841 24.1667 8.45841H4.83333ZM4.83333 22.9584C4.49097 22.9584 4.20399 22.8426 3.9724 22.611C3.7408 22.3794 3.625 22.0924 3.625 21.7501C3.625 21.4077 3.7408 21.1207 3.9724 20.8891C4.20399 20.6575 4.49097 20.5417 4.83333 20.5417H24.1667C24.509 20.5417 24.796 20.6575 25.0276 20.8891C25.2592 21.1207 25.375 21.4077 25.375 21.7501C25.375 22.0924 25.2592 22.3794 25.0276 22.611C24.796 22.8426 24.509 22.9584 24.1667 22.9584H4.83333ZM4.83333 15.7084C4.49097 15.7084 4.20399 15.5926 3.9724 15.361C3.7408 15.1294 3.625 14.8424 3.625 14.5001C3.625 14.1577 3.7408 13.8707 3.9724 13.6391C4.20399 13.4075 4.49097 13.2917 4.83333 13.2917H24.1667C24.509 13.2917 24.796 13.4075 25.0276 13.6391C25.2592 13.8707 25.375 14.1577 25.375 14.5001C25.375 14.8424 25.2592 15.1294 25.0276 15.361C24.796 15.5926 24.509 15.7084 24.1667 15.7084H4.83333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header.fixed .gnb .gnb_open {
                background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_1299' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='29' height='29'%3E%3Crect width='29' height='29' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_1299)'%3E%3Cpath d='M4.83333 8.45841C4.49097 8.45841 4.20399 8.34262 3.9724 8.11102C3.7408 7.87942 3.625 7.59244 3.625 7.25008C3.625 6.90772 3.7408 6.62074 3.9724 6.38914C4.20399 6.15755 4.49097 6.04175 4.83333 6.04175H24.1667C24.509 6.04175 24.796 6.15755 25.0276 6.38914C25.2592 6.62074 25.375 6.90772 25.375 7.25008C25.375 7.59244 25.2592 7.87942 25.0276 8.11102C24.796 8.34262 24.509 8.45841 24.1667 8.45841H4.83333ZM4.83333 22.9584C4.49097 22.9584 4.20399 22.8426 3.9724 22.611C3.7408 22.3794 3.625 22.0924 3.625 21.7501C3.625 21.4077 3.7408 21.1207 3.9724 20.8891C4.20399 20.6575 4.49097 20.5417 4.83333 20.5417H24.1667C24.509 20.5417 24.796 20.6575 25.0276 20.8891C25.2592 21.1207 25.375 21.4077 25.375 21.7501C25.375 22.0924 25.2592 22.3794 25.0276 22.611C24.796 22.8426 24.509 22.9584 24.1667 22.9584H4.83333ZM4.83333 15.7084C4.49097 15.7084 4.20399 15.5926 3.9724 15.361C3.7408 15.1294 3.625 14.8424 3.625 14.5001C3.625 14.1577 3.7408 13.8707 3.9724 13.6391C4.20399 13.4075 4.49097 13.2917 4.83333 13.2917H24.1667C24.509 13.2917 24.796 13.4075 25.0276 13.6391C25.2592 13.8707 25.375 14.1577 25.375 14.5001C25.375 14.8424 25.2592 15.1294 25.0276 15.361C24.796 15.5926 24.509 15.7084 24.1667 15.7084H4.83333Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap {
                position: fixed;
                right: -100%;
                top: 0;
                width: calc(100% - 40px);
                height: 100%;
                background-color: #fff;
                color: var(--tit-color);
            }
            header .gnb .gnb_close {
                display: none;
                position: absolute; /* gnb_wrap */
                right: 0;
                top: 0;
                width: var(--header-h);
                height: var(--header-h);
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_1275' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='29' height='29'%3E%3Crect width='29' height='29' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_1275)'%3E%3Cpath d='M14.5 15.7732L8.37008 21.9034C8.20272 22.0706 7.99237 22.1562 7.73903 22.1602C7.48588 22.164 7.2717 22.0784 7.09649 21.9034C6.92149 21.7282 6.83398 21.5159 6.83398 21.2666C6.83398 21.0173 6.92149 20.805 7.09649 20.6298L13.2267 14.5L7.09649 8.37008C6.92934 8.20273 6.84375 7.99237 6.83972 7.73903C6.8359 7.48588 6.92149 7.2717 7.09649 7.09649C7.2717 6.92149 7.48397 6.83398 7.73329 6.83398C7.98261 6.83398 8.19487 6.92149 8.37008 7.09649L14.5 13.2267L20.6298 7.09649C20.7972 6.92934 21.0075 6.84375 21.2609 6.83972C21.514 6.8359 21.7282 6.92149 21.9034 7.09649C22.0784 7.2717 22.1659 7.48397 22.1659 7.73329C22.1659 7.98261 22.0784 8.19487 21.9034 8.37008L15.7732 14.5L21.9034 20.6298C22.0706 20.7972 22.1562 21.0075 22.1602 21.2609C22.164 21.514 22.0784 21.7282 21.9034 21.9034C21.7282 22.0784 21.5159 22.1659 21.2666 22.1659C21.0173 22.1659 20.805 22.0784 20.6298 21.9034L14.5 15.7732Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            /* 메뉴가 열렸을때 */
            header.menu_open .gnb .gnb_wrap {
                right: 0;
            }
            header.menu_open .gnb .gnb_close {
                display: block;
            }
}/*@media*/
footer {
    margin: 2000px 0 0 0;
}